//Convert px to em
@function em($target, $context: $base-font-size) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0;
}

//Function to return size in REM units calculated based on default font size value.
//This is used as a reference
//(px)
@function rem($size) {
  $rem-size: $size / $base-font-size;
  @if $ie-8 {
    @return $size;
  } @else {
    @return #{$rem-size}rem;
  }
}
