//Clearfix
%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.rounded-button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  display: block;
  @include opensans;
  @include fontsize-rem(12px);
  @include semibold;
  @include border-radius(20px);
  @include scale(letter-spacing, 2px);
  @include scale(padding, 10px 13px);
  @include transition(all 0.2s ease);

  &:hover {
    background: $violet;
    border-color: transparent;
    color: #fff;
  }

  .icon {
    position: absolute;
    @include scale(left, 16px);
    @include scale(top, 10px);
    @include fontsize-rem(16px);
  }
  &.rounded-button-gray {
    border: 1px solid #033c64;
    color: #3c3d41;

    &:hover {
      background: $violet;
      border-color: transparent;
      color: #fff;
    }
  }
}

.dark-button {
  border-color: $blue;
  color: $blue;
}

.wide-button {
  display: block;
  text-align: center;
  width: 100%;
  @include scale(padding, 10px 20px);
  @include scale(max-width, 192px);
}

.icon-rounded-button {
  @include scale(padding, 10px 13px 10px 42px);
}

.no-border {
  border-color: transparent;
}

.big-title {
  .pane-title {
    text-transform: uppercase;
    @include extrabold;
    @include fontsize-rem(36px);
  }
}

.purple-btn {
  background: $violet;
  border: none;
  color: #fff;
  text-transform: uppercase;
  @include extrabold;
  @include fontsize-rem(12px);
}

%rounded-button {
  @extend .rounded-button;
}

%dark-button {
  @extend .dark-button;
}

%wide-button {
  @extend .wide-button;
}

%icon-rounded-button {
  @extend .icon-rounded-button;
}

%no-border {
  @extend .no-border;
}

%big-title {
  @extend .big-title;
}

%purple-btn {
  @extend .purple-btn;
}