.pane-pricing-tables-panel-pane-2 {
  padding: 50px 0 85px;
  .pane-title {
    text-align: center;
    font-size: 30px;
    color: #3b3f42;
    font-weight: 700;
    margin: 0;
  }
  .view-header {
    padding-top: 18px;
    padding-bottom: 50px;
    overflow: hidden;
    .mini {
      width: 68px;
      height: 1px;
      border: none;
      background: #4db7ed;
      display: block;
      margin: 0 auto 18px auto;
    }
  }
  .view-header span {
    color: #3b3f42;
    font-size: 17px;
    display: block;
  }
  .view-content:after {
    content: '';
    display: table-cell;
    clear: both;
  }
  .pricing-header {
    background: #323232;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 25px 0 16px;
    text-align: center;
  }
  .featured .pricing-header {
    background: #0199e6;
  }
  .pricing-header .pricing-row {
    display: block;
    line-height: 26px;
  }
  .features-wrapper {
    .item-list {
      @include breakpoint($tablet) {
        width: 100%;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }
    .views-row {
      padding: 16px 20px;
      border-style: solid;
      border-bottom-style: dotted;
      border-width: 1px;
      border-top-width: 0;
      border-color: #e5e5e5;
      font-weight: 400;
      font-size: 14px;
      color: #323232;
      position: relative;
    }
    .feature-title {
      padding-right: 25px;
    }
    .feature-value {
      position: absolute;
      top: 50%;
      right: 20px;
      font-size: 16px;
      margin-top: -8px;
      color: #53b329;
    }
    .value-raw-0.feature-value {
      color: #ed7677;
    }
  }
  .apply-wrapper {
    border: 1px #e5e5e5 solid;
    border-top: none;
    padding: 16px 0;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 5px;
    a {
      height: 40px;
      line-height: 42px;
      border: 1px #a9bacb solid;
      border-radius: 3px;
      padding: 0 18px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      color: #88a2bb;
      font-size: 16px;
      margin-top: 16px;
      &:hover {
        background: #a9bacb;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .view-footer {
    margin-top: 55px;
    text-align: center;
    color: #3678ae;
    font-size: 18px;
  }
  padding: 45px 0;
  .view-pricing-tables > .view-content > .views-row {
    margin-top: 25px;
  }
  .views-row-1 {
    margin-top: 0px;
  }
  .pricing-header {
    padding: 16px 0 8px;
  }
  .features-wrapper .feature-title {
    font-size: 12px;
  }
}

@include breakpoint(max-width 992px) {
  .pane-pricing-tables-panel-pane-2 .item-list {
    float: none;
  }
}
