// Styles for deafault template.
body.admin-menu {
  margin-top: 29px !important;
  * {
    @include box-sizing(border-box);
  }
}

a,
img {
  outline: none;
  border: none;
}

a,
button {
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.panels-frame {
  overflow: hidden;
}

.html {
  .container {
    max-width: 100%;
  }
}

.frame-header,
.frame-twitter,
.frame-highlight_sponsors,
.frame-stats {

  .container {
    @include scale(max-width, 940px);
    margin: auto;
  }
}

.view-footer {
  clear: both;
  @include fontsize-rem(14px);
  @include scale(margin-top, 25px);
  @include martel;
  @include semibold;

  a {
    color: $violet;
  }
}

a {
  color: $blue;

  img {
    display: block;
  }
  &:hover {
    color: $hover-links;
  }
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

textarea {
  resize: none;
  @include scale(padding, 5px 10px);
}

button,
input,
textarea {
  &:focus {
    text-decoration: none;
    outline: none;
  }    
}

input, textarea {
  border: 1px solid #cfd6dd;
  padding: 10px;
  width: 90%;
  display: block;

  &:focus {
    border: 1px solid $border-violet;
  }
}

html.js input.form-autocomplete{
  background-position: 98% center;
}

// Loader, register


.item-list,
.register-now-anonymous,
.pane-sessions-all-sessions-submitted-pane .view-footer {
  display: block;
  width: 100%;
  @include scale(padding, 40px 0 0);
  @include breakpoint($tablet) {
    width: 50%;
  }
}

.item-list {
  clear: both;
  float: left;
}

.register-now-anonymous,
.pane-sessions-all-sessions-submitted-pane .view-footer{
  float: right;
  border-left: 1px solid #fff;
  @include breakpoint($mobile-only) {
    @include scale(padding-top, 10px);
  }

  a {
    text-align: center;
  }
}

.pager-load-more li,
.register-now-anonymous,
.pane-sessions-all-sessions-submitted-pane .view-footer {
  a {
    width: 100%;
    background: #033c64;
    color: #fff;
    line-height: 1;
    display: block;
    text-transform: uppercase;
    @include extrabold;
    @include fontsize-rem(18px);
    @include scale(padding, 14px);
    
    &:hover {
      background: #00529b;
    }
  }
}
.pager-load-more {
  margin: 0;

  li a {
    border: none;
    -webkit-border-radius: 0;
  }
} 

.pane-sessions-all-sessions-submitted-pane .view-footer {
  clear: none;
  margin-top: 0; 
}