

// Footer
.frame-footer {
  background: #3b3f42;
  color: #546572;
  @include scale(padding, 46px 0 40px);
  
  .panel-pane {
    float: left;
  }
  
  .footer-logo {
		width: 50%;

    @include breakpoint($tablet) {
	    width: 28%;
    }

	  @include breakpoint($desktop-small) {
	    padding-left: 9%;
	  }

    img {
      @include scale(max-width, 150px);
    }
  }

  .footer-socials {
  	float: right;
    @include scale(padding, 15px 0);
		
		@include breakpoint($desktop-small) {
    	float: left;
    	width: 14%;
    }
		
    .menu {
      li {
        float: left;
        @include scale(margin-right, 15px);
      }
      
      a {
        color: #546572;
        @include fontsize-rem(20px);
        
        &:hover {
          color: #29e1e6;
        }
      }
    }
  }

	.footer-mail-form {
	  clear: both;
	  float: none;
	  margin: auto;
		width: 80%;
		position: relative;
		@include clearfix;
	  @include scale(padding-top, 25px);

	  @include breakpoint($desktop-small) {
    	clear: none;
    	float: right;
    	padding: 0;
	   	width: 39%;
	  }

	  input {
	    border: none;
	    float: left;
	    @include border-radius(8px);
	    @include scale(height, 48px);
	  }
	  
	  .icon {
	    position: absolute;
		  left: 3%;
	    color: #29e1e6;
		  @include scale(top, 41px);
		  @include breakpoint($desktop-small) {
			  left: 4%;
			  @include scale(top, 16px);
		  }
	  }

	  .email {
	    color: #b4bbc2;
	    margin-right: 2%;
	    width: 64%;
	    @include scale(padding, 0 20px 0 43px);
	  }
	  
	  .button {
	    background: #29e1e6;
	    color: #fff;
	    width: 34%;
	  }
	}
}