
.frame-top {
	background: #fff;
  position: relative;
  z-index: 1;
  @include exo;
  @include scale(padding-top, 15px);
  @include scale(padding-bottom, 15px);

  @include breakpoint($tablet) {		
		@include scale(padding-top, 23px);
		@include scale(padding-bottom, 23px);
	}

  .pane-page-logo {
    @include breakpoint($mobile-only) {		
    	@include scale(margin-bottom, 15px);
    }
	}
}

.pane-main-menu {
  @include breakpoint($tablet) {  
    @include scale(padding-top, 19px);
  }

  a {
    @include font-params(18px, 24px);
    &:active,
    &:hover {
      color: $violet;  
    }

    &.highlighted {
      border: 1px solid $border-violet;
      padding: 3px 12px 7px;
      @include border-radius(10px);
      @include transition(all 0.2s ease);

      &:hover {
        background: $violet;
        border-color: transparent;
        color: #fff;
      }
    }
  }
  
  .menu-main-menu{
    float: right
  }

  .depth-1 {
    float: left;
    position: relative;
    padding: 0 10px 6px;
    margin: 0 10px;

    ul {
      display: none;
      position: absolute;
      top: 100%;
      background: #fff;
      left: 0;
      @include scale(min-width, 200px);
      @include scale(padding, 10px 0);
      @include border-radius(0 0 5px 5px);
      @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.2));
      z-index: 10;

      a {
        @include fontsize-rem(15px);
        @include scale(padding, 4px 20px);
        display: block;
        font-weight: normal;
        
        &:hover {
          background: #f2f2f2;
        }
      }
    }

    &:hover ul {
      display: block;
    }
  }
}

// Mobile
.tap-menu {
  text-align: center;
  @include fontsize-rem(22px);
}
ul.menu-main-menu.mobile-enabled {
  float: none;
  padding: 30px 0; 

  li {
    float: none;
    text-align: center;
    padding: 8px 0;

    &:hover ul {
      display: none;
    }

    &.clicked-once ul {
      display: block;
      float: none;
      position: static;
    }
  }

}

// Breadcrumb

.special-breadcrumb-wrapper {
  @include breakpoint($desktop-small) {
    @include scale(padding-right, 300px);
  }
}

.pane-cep-breadcrumb-generic {
  @include scale(min-height, 108px);
}

.frame-breadcrumb {
  background: url('../images/top-bg.jpg') no-repeat 0 0;
  position: relative;
  @include background-size(cover);
  @include scale(margin-bottom, 25px);
  
  .container {
    position: relative;
  }
  
  .special-breadcrumb {
    @include clearfix;
  }
  
  .breadcrumb{
    position: relative;
    z-index: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    -webkit-border-radius: none;
    float: left;
    color: $light-violet-links;
    @include fontsize-rem(12px);
    @include martel;
    @include scale(padding, 18px 0 0);  
    @include scale(margin-bottom, 5px);

    a{
      color: #fff;
    }
    
    .last a{
      color: $light-violet-links;
    }
    
    .sep {
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      @include scale(height, 22px);
    	@include scale(margin, 0 5px);
      @include scale(width, 5px);
      
      &:before {
        content: "/";
        display: inline-block;
        text-indent: 0;
      }
    }
  }
  
  .title {
    color: #fff;
    @include martel;
    @include scale(padding-bottom, 15px);

    h1 {
		  line-height: 1;
      @include light;	
      @include fontsize-rem(30px);	

	    @include breakpoint($tablet) {	
	      @include extralight;	
	      @include fontsize-rem(48px);
	    }
    }
  }
  
  .date-location-wrapper{
    background: $violet;
    color: #fff;
    @include scale(padding, 15px);

    @include breakpoint($mobile-only) {		
	    @include scale(margin, 0 -15px);
    }

    @include breakpoint($desktop-small) {
	    @include scale(padding, 26px 0 26px 10px);
	    left: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    width: 100%;
    	@include scale(margin-left, -300px);
	    
	    &:before{
	      background: $violet;
	      content: '';
	      display: block;
	      height: 100%;
	      position: absolute;
	      top: 0;
	      width: 50%;
	      @include scale(left, -40px);
	      @include skew(-20deg, 0);
	    }
    }

    @include breakpoint($desktop-wide) {
    	@include scale(margin-left, -200px);
    }
    
    div {
      position: relative;
    }
    
    .date {
      @include fontsize-rem(24px);
      @include light;
    }
    
    .location {
      @include fontsize-rem(14px);
      @include extralight;
      @include martel;
    }
  }

  .date-location-inner {
    display: table;
    height: 100%;
  }
  .date-location-cell {
    display: table-cell;
    vertical-align: middle;
  }
}