//General settings for html,body,etc

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

html {
  @include opensans;
  @include normal;
  background-color: $default-background-color;
  color: $default-color;
  font-size: $base-font-size; // Don't modify static unit.
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.25;
  position: relative;
}

.frame-content .panel-pane {
  @include scale(margin-bottom, 15px);
  .front &,
  .pane-contact-form-with-map-generic {
    margin-bottom: 0;
  }
}

  @include breakpoint($mobile-only) {
    #logo img {
      margin: auto;
    }
  }

// Header baner

.multi-header-wrapper {
  color: #fff;
  position: relative;
  @include clearfix; 

  img.background-image {
    bottom: 0;
    height: auto;
    margin: 0;
    max-width: none;
    min-width: 100%;
    position: absolute;
    right: 0;
    @include breakpoint($desktop-small) {
      right: 50%;
      transform: translateX(50%);
    }
  }
  
  .container {
    @include breakpoint($desktop-small) {
      position: relative;
    }
  }
  
  .multicolor-left-wrapper {
    position: relative;
    @include scale(padding, 30px 0 0);
    @include scale(height, 570px);
    @include breakpoint($desktop-small) {
      max-width: 80%;
      @include scale(padding-top, 105px);
    }
  }

  .date-location-wrapper {
    background: $violet;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;

    @include breakpoint($desktop-small) {
      width: auto;
      left: auto;
      @include scale(bottom, 42px);
      @include scale(right, 28px);
      @include skew(-27deg, 0);
    }
  }

  .date-location-inner{
    margin: auto;
    @include fontsize-rem(22px);
    @include light;
    @include scale(padding, 16px 36px);
    @include breakpoint($desktop-small) {
      @include skew(27deg, 0);
    }
  }

  .announce-row{
    @include scale(line-height, 29px);
  }
  
  h1 {
    @include fontsize-rem(32px);
    @include scale(margin-bottom, 10px);

    @include breakpoint($tablet) {
      @include fontsize-rem(40px);
      @include scale(margin-bottom, 24px);
    }

    @include breakpoint($desktop-small) {
      line-height: 1;
      @include fontsize-rem(72px);
    }

    strong {
      @include extrabold;
    }
  }
  
  .header-description-wrapper {
    @include font-params(18px, 36px);
    @include scale(margin-bottom, 30px);
    @include breakpoint($tablet) {
      @include fontsize-rem(22px);
    }
    @include breakpoint($desktop-small) {
      @include scale(margin-bottom, 60px);
    }
  }

  .banner-buttons {
    @include clearfix;

    a {
      color: #fff;
      float: left;
      @include scale(margin-right, 7px);
      @include scale(margin-bottom, 10px);

      &:hover {
        color: #fff;
      }
    }

    .mic {
      border: none;
    }
  }
}

// How it was block
.frame-twitter {
  border-bottom: 1px solid $border-light;
  @include scale(padding, 30px 0);  
  @include clearfix;

  .review-link-wrapper {
    text-align: center;
    text-transform: uppercase;
    @include semibold;
    @include font-params(12px, 17px);
    @include scale(letter-spacing, 2px);
    @include scale(padding, 9px 0);
    
    @include breakpoint($tablet) {
      text-align: left;
      float: left;
    }

    span {    
      vertical-align: top;
      color: $blue;
      @include fontsize-rem(16px);
    }
  }
  
  .promo-links{
    margin: 0;
    padding: 0;
    @include breakpoint($tablet) {
      float: right;
    }
      
    li {
      list-style-type: none;
      clear: both;
      text-align: center;
      @include fontsize-rem(25px);
      @include scale(margin-bottom, 10px);

      @include breakpoint($tablet) {
        clear: none;
        float: left;
        text-align: left;
        @include scale(margin, 0 0 0 21px);
        
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .icon {
    @include scale(margin-right, 9px);
    vertical-align: middle;
    color: $light-blue;
  }

}

// Sponsors block


.frame-highlight_sponsors {
  @include scale(padding, 26px 0);
}

.frame-highlight_sponsors_footer{
  @include scale(padding, 26px 0 0);
}

.frame-highlight_sponsors {
  background: $background-grey;
  .panel-pane {  
    background: #fff;
    @include box-shadow(rgba(1,1,1,0.22) 1px 1px 1px 0);
  }
}
@include breakpoint($mobile-only) {
  .front .frame-content .panel-pane {
    @include scale(margin-bottom, 20px);
  }
}

.pane-sponsors-sponsors-gold-pane,
.pane-sponsors-sponsors-diamond-pane,
.pane-sponsors-silver-sponsors-pane,
.pane-sponsors-bronze-sponsors-pane,
.pane-partners-all-partners-pane {  
  @include clearfix;
  @include scale(padding, 0 15px);
  @include border-radius(7px);
  @include breakpoint($mobile-only) {
    @include scale(padding, 15px);
  }
  .pane-title {
    color: #686b6e;
    text-transform: uppercase;
    position: relative;
    float: left;
    @include semibold;
    @include font-params(14px, 32px);
    @include scale(padding, 10px 0);
    @include breakpoint($mobile-only) {
      @include scale(margin-bottom, 20px);
    }  
    @include breakpoint($tablet) {
      line-height: normal;
      @include scale(margin, 46px 0);
    }
    &:before {
      content: '';
      display: block;
      @include skew(-20deg);
      background: #686b6e;      
      float: left;
      vertical-align: middle;
      @include scale(width, 1px);
      @include scale(height, 32px);
      @include scale(margin-right, 15px);
      @include scale(margin-top, 1px);
      @include breakpoint($tablet) {
        @include scale(margin-top, 3px);
      }
    }
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
  
  // .pane-content {
  //   @include breakpoint($mobile-only) {
  //     clear: both;
  //   }
  // }

  .view-content{
    clear: both;
    @include breakpoint($small-mobile) {
      @include scale(min-height, 150px);
      text-align: center;
    }
    @include breakpoint($tablet) {
      clear: none;
      width: auto;
      text-align: left;
      @include scale(padding-left, 150px);
    }
  }
  .views-row {
    @include scale(padding, 0 15px);
    @include breakpoint($small-mobile) {
      display: inline-block;
    }
    @include breakpoint($tablet) {
      &:last-child {
        padding-right: 0;
      }
    }
    img{
      @include breakpoint($mobile-only) {
        margin: auto;
      }
    }
  }  
}

.pane-sponsors-sponsors-diamond-pane,
.pane-partners-all-partners-pane {
  .pane-title {
    @include scale(padding-left, 60px);
    @include breakpoint($tablet) {
      @include scale(max-width, 150px);
    }
  }
}

.pane-sponsors-sponsors-gold-pane,
.pane-sponsors-silver-sponsors-pane,
.pane-sponsors-bronze-sponsors-pane {
  @include breakpoint($tablet) {
    @include scale(margin-left, 15px);
  }
  .pane-title {
    @include scale(padding-left, 45px);
    @include breakpoint($tablet) {
      @include scale(max-width, 140px);
    }
  }
}

.pane-title {
  &:after {
    .pane-sponsors-sponsors-diamond-pane &{
      content: url('../images/diamond.png');
    }
    .pane-sponsors-sponsors-gold-pane & {
      content: url('../images/golden.png ');
    }
    .pane-sponsors-silver-sponsors-pane & {
      content: url('../images/silver.png ');
    }
    .pane-sponsors-bronze-sponsors-pane & {
      content: url('../images/bronze.png ');
    }
    .pane-partners-all-partners-pane & {
      content: url('../images/partners.png ');
    }
  }
}

.front .frame-content .pane-partners-all-partners-pane {
  @include breakpoint($tablet) {
    @include scale(margin-bottom, 20px);
  }
}

.frame-highlight_sponsors_footer {
  .row {
    border-bottom: 1px solid #f2f5f8;   
  }
}
  
// Stats block
.frame-stats {
  @include clearfix;
  @include scale(padding, 60px 0 46px);
  .cute-quote-wrapper {
    text-align: center;
    @include scale(margin-bottom, 52px);
    @include fontsize-rem(18px);
    
    em {    
      color: $violet;
    }
  }
  
  .counter-item {
    @include scale(margin-top, 25px);
    @include breakpoint($small-mobile) {
      float: left;
      width: 50%;
      @include scale(line-height, 65px);
    }
    @include breakpoint($tablet) {
      width: 25%;
      margin: 0
    }

    &:first-child {
      margin-top: 0;
    }

    .label {
      float: left;
      padding: 0;
      padding: 0;
      text-transform: uppercase;
      color: $label-grey;
      @include bold;
      @include fontsize-rem(16px);
      @include scale(margin-right, 20px);
      @include breakpoint($small-mobile) {
        @include scale(line-height, 65px);
      }
      @include breakpoint($tablet) {
        text-align: left;
      }
    }

    .icon {  
      float: left;
      color: $icon-grey;
      @include breakpoint($small-mobile) {
        @include scale(line-height, 65px);
      }
    }
    
    .value {
      color: $violet;
      display: block;
      text-align: center;
      @include extrabold;  
      @include fontsize-rem(48px);
      @include breakpoint($tablet) {
        @include scale(width, 90px);
      }
    }
  }
}

.love-wine-icons {
  color: #333;
  @include fontsize-rem(18px);
  @include bold; 
}

.wine-bottle{
  display: inline-block;
  background: url('../images/wine-bottle.png');
  background-size: cover;
  @include scale(width, 18px);
  @include scale(height, 18px);
}

// Sessions block

.frame-submitted_sessions {
  background: #001D30;
  @include scale(padding, 30px 0 24px);
  @include scale(margin-bottom, 10px);
  @include breakpoint($tablet) {
    @include scale(padding-top, 78px);
  }
  
  .view-footer {
    text-align: center;
  }

  .slick-list {
    border-left: 1px solid $border-light-blue;
    // border-right: 1px solid $border-light-blue;
    overflow: hidden;
    @include clearfix;
  }
  
  .slick-track{
    @include scale(margin-left, -1px);
  }

  .one-col {
    position: absolute;
    bottom: 0;
    left: 0;
    @include scale(padding, 25px);
  }

  .views-row{
    float: left;
    position: relative;
    border-right: 0;
    border: 1px solid $border-light-blue;
    // border-right: none;
    color: $text-light-blue;
    @include fontsize-rem(12px);
    @include scale(min-height, 205px);
  
    a {
      color: $light-violet-links;
      @include transition(all 0.2s ease);

      &:hover {
        color: #fff;
      }
    }
  }

  .pane-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    @include scale(padding-bottom, 30px);
    @include fontsize-rem(24px);
    @include bold;
    
    @include breakpoint($tablet) {
      @include scale(padding-bottom, 75px);
    }
  }
  
  .views-field-title {
    @include bold;
    @include fontsize-rem(18px);
    @include scale(margin-bottom, 10px);
    
    a {
      color: #fff;
      text-decoration: none;
      line-height: 1;
      @include martel;
    }
  }

  .field-content {
    display: inline;
  }

  .slick-prev,
  .slick-next {
    background: transparent;
    border: none;
    position: absolute;
    overflow: hidden;
    border: 1px solid $border-light-blue;
    @include scale(height, 38px);
    @include scale(width, 38px);
    @include border-radius(50%);

    @include breakpoint($mobile-only) {
      @include scale(bottom, -58px);
    }
    @include breakpoint($tablet) {
      @include scale(top, -100px);
    }

    &:before {
      color: #fff;
      position: relative;
      @include scale(top, -1px);
    }
  }

  .slick-prev {
    @include scale(left, 15px);
    
    @include breakpoint($desktop-small) {
      left: 30%;
    }
  }

  .slick-next {
    @include scale(right, 15px);
    
    @include breakpoint($desktop-small) {
      right: 30%;
    }
  }
}


// Latest news

.frame-front_content {
  background: $background-grey;
  @include scale(padding, 54px 0 40px);
  
  .circle-columns-column {    
    @include scale(margin-bottom, 50px);
  }
 
  iframe {
    min-width: 100% !important;
  }

  .pane-title {
    text-transform: uppercase;
    @include bold;
    @include fontsize-rem(18px);
    @include scale(margin-bottom, 40px);
  }
}

.pane-news-all-news-pane {
  .views-field-created .field-content {
    @include fontsize-rem(12px);
    @include normal;
  }
  .views-field-field-basic-tags {
    @include fontsize-rem(12px);
    margin: 10px 0;
  }
  .views-field-body .field-content{
    @include scale(line-height, 30px);
  }
}

.pane-news-latest-news-pane {
  @include scale(margin-right, 20px);

  .views-field-created {  
    color: #909498;
    @include fontsize-rem(12px);
    @include semibold;
  }
}

.view-news {
  @include scale(padding-right, 20px);

  .views-row {
    @include scale(margin-bottom, 38px);
  }

  .views-field-title {
    @include semibold;
    @include fontsize-rem(18px);
  
    a {
      color: $violet;
    }
  }

  .views-field-body {
    @include semibold;
    @include font-params(14px, 20px);
    @include scale(margin-top, 20px);

    a.more-link {
      display: block;
      @include scale(margin, 10px 0);
      @include fontsize-rem(14px);
      color: $violet;
    }
  }
}

// Front Attendees

.pane-attendees-latest-attendees {
  @include scale(padding-right, 15px);

  .views-row {
    overflow: hidden;
    clear: both;
    @include scale(margin-bottom, 26px);

    a {
      color: $label-grey;

      img {
        @include border-radius(5px);
      }
    }
  }

  .col-one {
    width: 25%;
    float: left;
    @include scale(max-width, 65px);
    @include scale(padding-right, 10px);
  }
  
  .col-two {
    width: 50%;
    float: left;
    @include fontsize-rem(11px);

    @include breakpoint($tablet-only) {
      width: 75%;
    }
  }
  
  .col-three {
    width: 30%;
    float: right;
    color: #909498;
    @include semibold;
    @include fontsize-rem(12px);

    @include breakpoint($tablet-only) {
      width: 75%;
      clear: both;
      text-align: right;
      @include scale(padding-top, 10px);
    }
  }
  
  .views-field-name {
    text-transform: uppercase;
    @include bold;
    @include fontsize-rem(12px);
    @include scale(letter-spacing, 2px);
    @include scale(margin-top, -4px);
  }
}

// Location block

.frame-location {
  background: $violet;
  position: relative;
  @include scale(margin-bottom, 10px);

  .top-layer {
    color: #fff;
    float: left;
    position: relative;
    z-index: 1;
    @include martel;
    @include scale(padding, 30px 15px 30px 0); 

    @include breakpoint($desktop-small) {
      padding-left: 9%; 
      width: 60%;
      @include scale(padding, 56px 0 38px);
    }

    .location-details-wrapper,
    .contact-form-wrapper {
      position: relative;
      z-index: 1;
    }

    @include breakpoint($desktop-small) {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: $violet;
        transform: skew(-20deg, 0deg);
        @include scale(right, -150px);
      }
    }
  }

  .location-title {
    color: #fff;
    text-transform: uppercase;
    @include bold;
    @include fontsize-rem(30px);
    @include scale(margin-bottom, 5px);
  }
  
  .heading {
    @include extralight;
    @include fontsize-rem(24px);
  }
  
  .contact-list {
    @include clearfix;
    color: rgba(225, 225, 225, 0.4);
    
    li {
      float: left;
      @include scale(margin-right, 20px);

      &:hover {
        color: #F5B2EE;
      }
    }

    .icon {
      @include scale(margin-right, 10px);
    }

    a {
      color: #fff;
      color: rgba(225, 225, 225, 0.4);

      &:hover {
        color: #F5B2EE;
      }
    }
  }
  
  .contact-form-wrapper {
    @include scale(padding-top, 44px);
    @include scale(max-width, 490px);
    
    h4 {
      text-transform: uppercase;
      @include bold;
      @include fontsize-rem(24px);
    }
    
    .form-text,
    textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid #b7b7b7;
      width: 100%;
      @include scale(margin-bottom, 15px);
      @include extralight;
      @include fontsize-rem(18px);
      @include scale(padding, 8px 0);
      @include scale(height, 50px);
      @include placeholder(#fff);
    }
    
    .field-name-textfield {
      border-bottom: 1px solid #e053cf;
      color: #e053cf;
      @include fontsize-rem(14px);
      @include placeholder(#e053cf);
    }

    button {
      @extend %rounded-button;
      @extend %icon-rounded-button;
      @include scale(margin-top, 15px);
    }
  }

  .top-corner-sign {
    color: rgba(225,225,225,0.8);
    display: none;
    left: 95%;
    position: absolute;
    z-index: 1;
    @include scale(top, 43px);
    @include scale(min-width, 165px);
    @include martel;
    @include extralight;

    @include breakpoint($desktop-small) {
      display: block;
      &:before {
        background: url('../images/arrow.png');
        content: '';
        display: block;
        position: absolute;
        right: 0;
        @include scale(height, 24px);
        @include scale(top, 10px);
        @include scale(width, 36px);
      }
    }
  }
  @include breakpoint($desktop-small) {
    .background-layer {
      height: 100%;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 40%;
    }
  }
 
  iframe {
    display: block;
    width: 100% !important;
    @include breakpoint($small-mobile) {
      @include scale(max-height, 300px);
    }
    @include breakpoint($tablet) {
      min-height: 100% !important;
    }
  }
}


// Support page

.node-type-sponsor,
.page-user{
  .pane-page-content {
    @include martel;
    @include scale(padding, 44px 0 74px);
  }

  .content-column .row{
    @include breakpoint($tablet) {
      @include scale(padding-left, 35px);
    }
  }

  .pane-node-field-sponsor-logo img{
    margin: 0 auto;
    @include scale(margin-top, 15px);
  }
  
  .pane-sponsor-sponsorship-level,
  .job-board,
  .news-list {
    @include scale(margin-bottom, 5px);

    h2 {
      text-transform: uppercase;
      @include extrabold;
      @include fontsize-rem(36px);
    }
  }
  
  .pane-camp-generic-node-fields,
  .pane-cep-profile-header-user {
    background: $blue;
    color: #fff;
    float: left;
    position: relative;
    width: 100%;
    @include scale(padding, 24px 50px);
    
    @include breakpoint($tablet) {
      min-width: 70%;
    }
    
    .pane-content {
      width: auto;
    }
    
    @include breakpoint($tablet) {
      &:before{
        background: $blue;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        @include scale(right, -20px);      
        @include scale(width, 150px);
        @include skew(-20deg, 0);
      }
      &:after {
        content: url('../images/shadow.png');
        position: absolute;
        z-index: 10;
        left: 0;
        top: -25px;
      }
    }

    .title,
    h2 {
      line-height: 1;
      @include fontsize-rem(36px);
      @include extrabold;
      @include scale(margin-bottom, 8px);
    }
    
    .subtitle,
    .job-title {
      line-height: 1;
      @include semibold;
    }
  }  

  .pane-node-field-sponsors-url {
    clear: both;
    @include scale(padding-left, 50px);

    a {
      color: $violet;
      @include semibold;
    }
  }

  .pane-node-field-sponsor-description {
    clear: both;
    @include semibold;
   
    p {
      @include scale(line-height, 30px);
    }
  }
}

.job-board,
.news-list,
.item-list-content {
  .views-row {
    @include clearfix; 
    @include scale(margin-bottom, 50px);
    @include fontsize-rem(14px);
    
    &:last-child {
      margin-bottom: 0;
    }
    
    .views-field-title {
      @include fontsize-rem(16px);
      @include clearfix;
      
      a {
        color: $violet;
        float: left;
        line-height: 1;
        @include bold;
      }
    }
    
    .views-field-field-key-features,
    .views-field-created,
    .views-field-field-discount {
      @include semibold;
      @include scale(line-height, 25px);
      
      .field-content {
        display: inline;
      }
    }
    
    .views-field-body {
      @include semibold;
      @include scale(margin,15px 0 30px);

      p {
        @include scale(line-height, 20px);
      }
    }
  }

  .views-field-field-job-email,
  .views-field-view-node {
    float: left
  }

  .views-field-field-job-email,
  .views-field-field-url {
    @include scale(margin-right, 13px);
    a{
      @extend %rounded-button;
      @extend %dark-button;
      @extend %wide-button;
    }
  }

  .views-field-view-node a{
    @extend %rounded-button;
    @extend %dark-button;
  }

}

.job-board {
  .views-field-view-node a{
    @extend %no-border;
  }
}

.news-list .views-row .views-field-body {
  margin-bottom: 0
}

.pane-sessions-all-sessions-submitted-pane {
  @include clearfix;
  .views-field-title {
    @include scale(margin-bottom, 5px);
  }
  .views-field-field-speaker-s-,
  .views-field-field-session-difficulty,
  .views-field-field-session-language {
    .views-field-label {
      @include fontsize-rem(12px);
    }
    .field-content {
      display: inline;
      @include semibold;
    }
  }
}

// Attendees

.pane-attendees-all-attendees-pane {
  @include martel;
  @include clearfix;
  @include scale(padding-bottom, 20px);

  .views-row {
    padding: 0;
  }

  .view-header {
    @include semibold;
    @include scale(line-height, 30px);
    @include scale(padding-bottom, 50px);
  }

  .view-content {
    @include clearfix;
  }

  .view-filters {
    margin: auto;
    z-index: 1;
    position: relative;
    @include scale(max-width, 1100px);
    @include scale(padding-bottom, 55px);
  }

  .views-exposed-widget {
    padding: 0;
    margin: auto;
    clear: both;
    float: none;
    max-width: 100%;
    @include scale(margin-bottom, 10px);
    @include fontsize-rem(14px);

    @include breakpoint($small-mobile) {
      max-width: 50%;
    }

    @include breakpoint($desktop-small) {
      clear: none;
      float: left;
      width: 26%;
      margin-bottom: 0;
    }
    input,
    .chosen-single {
      color: #1d2123;
      width: 100%;
      font-style: italic;
      @include scale(height, 48px);
      @include scale(padding-right, 30px);
      @include scale(padding-left, 30px);
      @include placeholder(#1d2123);
      @include breakpoint($desktop-small) {
        border-right: none;
      }
    }
  }
  
  .views-submit-button {
    margin: auto;
    @include breakpoint($desktop-small){
      width: 22%;
    }
    
    .form-submit {
      margin: 0;
      width: 100%;
      font-style: normal;
      @extend %purple-btn;
    }
  }

  .views-row {
    border: 1px solid #fff;
    position: relative;
    
    * {
      line-height: 14px;
    }
    
    img {
      width: 100%;
    }
    
    .col-two {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(130, 54, 121, 0.9);
      color: #fff;
      @include fontsize-rem(11px);
      @include scale(padding, 10px 15px);
      @include breakpoint($tablet) {
        @include scale(padding, 10px 30px);
      }
      img {
        width: 100%;
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    .views-field-title {
      position: absolute;
      bottom: 100%;
      left: 0;
      background: $blue;
      @include scale(padding, 0 10px);
      @include scale(line-height, 24px);
      @include breakpoint($tablet) {
        @include scale(padding, 0 28px 0 30px);
      }
    }
    
    .views-field-nothing {
      text-transform: uppercase;
      @include extrabold;
      @include font-params(12px, 16px);
    }
  } 

}

.page-user {
  .content-column {
    font-size: 14px;
  }
  .pane-user-field-avatar img {
    margin: auto;
    @include breakpoint($tablet) {
      width: 100%;
      height: auto;
    }
  }
  
  .pane-cep-profile-social-links-user{
    clear: both;
    @include clearfix;
  }
  
  .pane-cep-profile-header-user {
    @include breakpoint($tablet) {
      margin-left: -35px;
      padding-left: 35px;
      margin-top: 25px;
    }
  }
  .item-list {
    padding: 0;
    li {
      float: left;
    }
    a {
      width: 14px;
      height: 14px;
      overflow: hidden;
      display: block;
    }
    .hybridauth-widget a {
      width: auto;
      height: auto;
    }
  }
  .locality-block {
    float: left;
  }
  .country {
    float: left;
    margin-left: 5px;
    &:before {
      content: '/';
      margin-right: 5px;
    }
  }
  .pane-entity-field {
    font-weight: 600;
  }
  .field-label {
    color: #8d9aa6;
  }
  a {
    color: #823679;
  }
}

.view-sessions {
  position: relative;
  font-weight: 600;
  
  .vertical-tabs-list {
    font-size: 18px;
    font-weight: 900;
    height: 100%;
    font-size: 18px;
    text-align: center;  
    margin-bottom: 20px;
    @include clearfix;
    @include breakpoint($mobile-only) {
      border-bottom: 1px solid #c6ccd2;
    }

    @include breakpoint($tablet) {
      position: absolute;
      top: -55px;
      padding-top: 40px;
      left: -85px;
      margin-bottom: 0;
      border-right: 1px solid #8d9aa6;
    }
      
    li {   
      border: 1px solid #c6ccd2;
      @include breakpoint($mobile-only) {
        float: left;
        margin-left: -1px;
        position: relative;
        top: 1px;
        &:first-child {
          margin-left: 0;
        }
      } 
      @include breakpoint($tablet) {
        border-right: 0;
        margin-top: -1px;
        position: relative;
        left: 1px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
      
    a{
      color: #c6ccd2;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  }
    
  li.selected {
    border-color: #8d9aa6;
    position: relative;
    z-index: 1;
    a {
      color: #823679;
    }
  }
  
  .views-row > legend {
    display: none;
  }
  
  .views-field-title {
    font-size: 18px;
    font-weight: 900;
  }
  
  .views-field-label{
    float: left;
    margin-right: 5px;
  }
  
  .views-field-body {
    margin: 25px 0;
    font-size: 18px;
  }

  .views-field-ops,
  .views-field-view-node {
    float: left;
  }

  .views-field-ops {
    @include scale(margin-right, 13px);
    a{
      @extend %rounded-button;
      @extend %dark-button;
      @extend %wide-button;
    }
  }
  .views-field-view-node a{
    @extend %rounded-button;
    @extend %dark-button;
    @extend %no-border;
  }
}

.view-display-id-all_sessions_submitted_pane {
  .views-row {
    @include clearfix;
    @include scale(margin, 50px 0);
    .views-field {
      &.views-field-field-session-difficulty,
      &.views-field-field-session-language,
      &.views-field-field-speaker-s- {
        @include clearfix;
        @include fontsize-rem(12px);
      }
      &.views-field-body {
        @include fontsize-rem(14px);
      }
      &.views-field-view-node a {
        border: 1px solid #033c64;
      }
      &.views-field-field-speaker-s- {
        @include scale(margin-top, 20px);
      }
    }
    .views-field-field-speaker-s- .field-content a {
    }
  }
  .views-row-first {
    margin-top: 0;
  }
}

.field-name-body {
  p {
    margin: 10px 0;
  }
  ul {
    list-style-type: circle;
    padding: 10px 20px;
    margin-left: 10px;
  }
  ol {
    list-style-type: decimal;
    padding: 10px 20px;
    margin-left: 10px;
  }
  strong {
    @include bold;
  }
  em {
    font-variant: italic;
  }
}

.password-confirm {
  visibility: visible !important;
}