.view-schedule {
  .item-list {
    width: 100%;
    float: none;
  }
  .quicktabs-tabs {
    width: 60%;
    margin: 10px auto 70px;
    li {
      display: inline-block;
      padding: 0 10%;
      a {
        @include exo;
        @include fontsize-rem(32px);
      }
      &.active a {
        text-decoration: underline;
      }
    }
    @include breakpoint($mobile-only) {
      width: 100%;
      text-align: center;
    }
  }

  .quicktabs-views-group {
    margin: 30px 0;
    @include clearfix;
    border-top: 1px dashed $violet;
    padding-top: 30px;

    &:first-child {
      border: none;
      padding: 0;
    }

    .views-field-field-date-and-time-1 {
      width: 10%;
      float: left;
      display: block;

      .date-display-start,
      .date-display-end {
        @include bold;
      }
      @include breakpoint($mobile-only) {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
  }

  .view-display-id-sessions_time_slot_pane {
    width: 90%;
    float: left;

    @include breakpoint($mobile-only) {
      width: 100%;
    }

    .views-row {
      width: 33%;
      float: left;
      padding: 0 30px;
      position: relative;

      @include breakpoint($mobile-only) {
        width: 100%;
        padding: 20px 30px;
      }

      .views-field-ops {
        width: 90%;
        position: relative;
        float: none;

        .flag-wrapper {
          position: static;
          a {
            margin: 25px auto 5px;
            max-width: none;
          }
          .flag-throbber {
            position: absolute;
            top: 8px;
            right: 20px;
          }
          .flag-message {
            top: -24px;
          }
        }
      }

      .views-field-view-node {
        float: none;
        width: 90%;
        margin: 5px 0;
        a {
          text-align: center;
          @extend %dark-button;

          &:hover {
            color: #fff;
          }
        }
        &.schedule_item-wrapper {
          display: none;
        }
      }

      .views-field-field-speaker-s-,
      .views-field-field-session-difficulty,
      .views-field-field-session-language {
        padding: 3px 10px;
        .views-label {
          padding: 3px;
        }
      }
      .views-field-title {
        margin-bottom: 10px;
      }
      .views-field-count {
        margin-top: 10px;
      }
    }
  }
}