.pane-user-login-form {
  .pane-content {
    padding: 10px 20px 10px 0;
  }
}

.pane-user-register-form {
  .pane-content {
    padding: 10px 20px 10px 0;

    .username {
      font-family: 'Open Sans';
      @include normal;
      margin: 0;
      letter-spacing: 0;
      font-size: 16px;
      text-transform: none;
    }

    .form-type-textfield.username {
      margin: 0 0 20px 0;
    }
  }
}

.page-user .pane-page-content .pane-content {
  width: 1170px;
  max-width: 100%;
  margin: auto;
  
  #user-login {

  }
}

.description {
  @include fontsize-rem(12px);
}