@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo.eot?jebudk');
	src:url('../fonts/entypo.eot?#iefixjebudk') format('embedded-opentype'),
		url('../fonts/entypo.woff?jebudk') format('woff'),
		url('../fonts/entypo.ttf?jebudk') format('truetype'),
		url('../fonts/entypo.svg?jebudk#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ent-"], 
[class*=" ent-"] {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ent-add-to-list:before {
	content: "\e600";
}

.ent-classic-computer:before {
	content: "\e601";
}

.ent-controller-fast-backward:before {
	content: "\e602";
}

.ent-creative-commons-attribution:before {
	content: "\e603";
}

.ent-creative-commons-noderivs:before {
	content: "\e604";
}

.ent-creative-commons-noncommercial-eu:before {
	content: "\e605";
}

.ent-creative-commons-noncommercial-us:before {
	content: "\e606";
}

.ent-creative-commons-public-domain:before {
	content: "\e607";
}

.ent-creative-commons-remix:before {
	content: "\e608";
}

.ent-creative-commons-share:before {
	content: "\e609";
}

.ent-creative-commons-sharealike:before {
	content: "\e60a";
}

.ent-creative-commons:before {
	content: "\e60b";
}

.ent-document-landscape:before {
	content: "\e60c";
}

.ent-remove-user:before {
	content: "\e60d";
}

.ent-warning:before {
	content: "\e60e";
}

.ent-arrow-bold-down:before {
	content: "\e60f";
}

.ent-arrow-bold-left:before {
	content: "\e610";
}

.ent-arrow-bold-right:before {
	content: "\e611";
}

.ent-arrow-bold-up:before {
	content: "\e612";
}

.ent-arrow-down:before {
	content: "\e613";
}

.ent-arrow-left:before {
	content: "\e614";
}

.ent-arrow-long-down:before {
	content: "\e615";
}

.ent-arrow-long-left:before {
	content: "\e616";
}

.ent-arrow-long-right:before {
	content: "\e617";
}

.ent-arrow-long-up:before {
	content: "\e618";
}

.ent-arrow-right:before {
	content: "\e619";
}

.ent-arrow-up:before {
	content: "\e61a";
}

.ent-arrow-with-circle-down:before {
	content: "\e61b";
}

.ent-arrow-with-circle-left:before {
	content: "\e61c";
}

.ent-arrow-with-circle-right:before {
	content: "\e61d";
}

.ent-arrow-with-circle-up:before {
	content: "\e61e";
}

.ent-bookmark:before {
	content: "\e61f";
}

.ent-bookmarks:before {
	content: "\e620";
}

.ent-chevron-down:before {
	content: "\e621";
}

.ent-chevron-left:before {
	content: "\e622";
}

.ent-chevron-right:before {
	content: "\e623";
}

.ent-chevron-small-down:before {
	content: "\e624";
}

.ent-chevron-small-left:before {
	content: "\e625";
}

.ent-chevron-small-right:before {
	content: "\e626";
}

.ent-chevron-small-up:before {
	content: "\e627";
}

.ent-chevron-thin-down:before {
	content: "\e628";
}

.ent-chevron-thin-left:before {
	content: "\e629";
}

.ent-chevron-thin-right:before {
	content: "\e62a";
}

.ent-chevron-thin-up:before {
	content: "\e62b";
}

.ent-chevron-up:before {
	content: "\e62c";
}

.ent-chevron-with-circle-down:before {
	content: "\e62d";
}

.ent-chevron-with-circle-left:before {
	content: "\e62e";
}

.ent-chevron-with-circle-right:before {
	content: "\e62f";
}

.ent-chevron-with-circle-up:before {
	content: "\e630";
}

.ent-cloud:before {
	content: "\e631";
}

.ent-controller-fast-forward:before {
	content: "\e632";
}

.ent-controller-jump-to-start:before {
	content: "\e633";
}

.ent-controller-next:before {
	content: "\e634";
}

.ent-controller-paus:before {
	content: "\e635";
}

.ent-controller-play:before {
	content: "\e636";
}

.ent-controller-record:before {
	content: "\e637";
}

.ent-controller-stop:before {
	content: "\e638";
}

.ent-controller-volume:before {
	content: "\e639";
}

.ent-dot-single:before {
	content: "\e63a";
}

.ent-dots-three-horizontal:before {
	content: "\e63b";
}

.ent-dots-three-vertical:before {
	content: "\e63c";
}

.ent-dots-two-horizontal:before {
	content: "\e63d";
}

.ent-dots-two-vertical:before {
	content: "\e63e";
}

.ent-download:before {
	content: "\e63f";
}

.ent-emoji-flirt:before {
	content: "\e640";
}

.ent-flow-branch:before {
	content: "\e641";
}

.ent-flow-cascade:before {
	content: "\e642";
}

.ent-flow-line:before {
	content: "\e643";
}

.ent-flow-parallel:before {
	content: "\e644";
}

.ent-flow-tree:before {
	content: "\e645";
}

.ent-install:before {
	content: "\e646";
}

.ent-layers:before {
	content: "\e647";
}

.ent-open-book:before {
	content: "\e648";
}

.ent-resize-100:before {
	content: "\e649";
}

.ent-resize-full-screen:before {
	content: "\e64a";
}

.ent-save:before {
	content: "\e64b";
}

.ent-select-arrows:before {
	content: "\e64c";
}

.ent-sound-mute:before {
	content: "\e64d";
}

.ent-sound:before {
	content: "\e64e";
}

.ent-trash:before {
	content: "\e64f";
}

.ent-triangle-down:before {
	content: "\e650";
}

.ent-triangle-left:before {
	content: "\e651";
}

.ent-triangle-right:before {
	content: "\e652";
}

.ent-triangle-up:before {
	content: "\e653";
}

.ent-uninstall:before {
	content: "\e654";
}

.ent-upload-to-cloud:before {
	content: "\e655";
}

.ent-upload:before {
	content: "\e656";
}

.ent-add-user:before {
	content: "\e657";
}

.ent-address:before {
	content: "\e658";
}

.ent-adjust:before {
	content: "\e659";
}

.ent-air:before {
	content: "\e65a";
}

.ent-aircraft-landing:before {
	content: "\e65b";
}

.ent-aircraft-take-off:before {
	content: "\e65c";
}

.ent-aircraft:before {
	content: "\e65d";
}

.ent-align-bottom:before {
	content: "\e65e";
}

.ent-align-horizontal-middle:before {
	content: "\e65f";
}

.ent-align-left:before {
	content: "\e660";
}

.ent-align-right:before {
	content: "\e661";
}

.ent-align-top:before {
	content: "\e662";
}

.ent-align-vertical-middle:before {
	content: "\e663";
}

.ent-archive:before {
	content: "\e664";
}

.ent-area-graph:before {
	content: "\e665";
}

.ent-attachment:before {
	content: "\e666";
}

.ent-awareness-ribbon:before {
	content: "\e667";
}

.ent-back-in-time:before {
	content: "\e668";
}

.ent-back:before {
	content: "\e669";
}

.ent-bar-graph:before {
	content: "\e66a";
}

.ent-battery:before {
	content: "\e66b";
}

.ent-beamed-note:before {
	content: "\e66c";
}

.ent-bell:before {
	content: "\e66d";
}

.ent-blackboard:before {
	content: "\e66e";
}

.ent-block:before {
	content: "\e66f";
}

.ent-book:before {
	content: "\e670";
}

.ent-bowl:before {
	content: "\e671";
}

.ent-box:before {
	content: "\e672";
}

.ent-briefcase:before {
	content: "\e673";
}

.ent-browser:before {
	content: "\e674";
}

.ent-brush:before {
	content: "\e675";
}

.ent-bucket:before {
	content: "\e676";
}

.ent-cake:before {
	content: "\e677";
}

.ent-calculator:before {
	content: "\e678";
}

.ent-calendar:before {
	content: "\e679";
}

.ent-camera:before {
	content: "\e67a";
}

.ent-ccw:before {
	content: "\e67b";
}

.ent-chat:before {
	content: "\e67c";
}

.ent-check:before {
	content: "\e67d";
}

.ent-circle-with-cross:before {
	content: "\e67e";
}

.ent-circle-with-minus:before {
	content: "\e67f";
}

.ent-circle-with-plus:before {
	content: "\e680";
}

.ent-circle:before {
	content: "\e681";
}

.ent-circular-graph:before {
	content: "\e682";
}

.ent-clapperboard:before {
	content: "\e683";
}

.ent-clipboard:before {
	content: "\e684";
}

.ent-clock:before {
	content: "\e685";
}

.ent-code:before {
	content: "\e686";
}

.ent-cog:before {
	content: "\e687";
}

.ent-colours:before {
	content: "\e688";
}

.ent-compass:before {
	content: "\e689";
}

.ent-copy:before {
	content: "\e68a";
}

.ent-credit-card:before {
	content: "\e68b";
}

.ent-credit:before {
	content: "\e68c";
}

.ent-cross:before {
	content: "\e68d";
}

.ent-cup:before {
	content: "\e68e";
}

.ent-cw:before {
	content: "\e68f";
}

.ent-cycle:before {
	content: "\e690";
}

.ent-database:before {
	content: "\e691";
}

.ent-dial-pad:before {
	content: "\e692";
}

.ent-direction:before {
	content: "\e693";
}

.ent-document:before {
	content: "\e694";
}

.ent-documents:before {
	content: "\e695";
}

.ent-drink:before {
	content: "\e696";
}

.ent-drive:before {
	content: "\e697";
}

.ent-drop:before {
	content: "\e698";
}

.ent-edit:before {
	content: "\e699";
}

.ent-email:before {
	content: "\e69a";
}

.ent-emoji-happy:before {
	content: "\e69b";
}

.ent-emoji-neutral:before {
	content: "\e69c";
}

.ent-emoji-sad:before {
	content: "\e69d";
}

.ent-erase:before {
	content: "\e69e";
}

.ent-eraser:before {
	content: "\e69f";
}

.ent-export:before {
	content: "\e6a0";
}

.ent-eye:before {
	content: "\e6a1";
}

.ent-feather:before {
	content: "\e6a2";
}

.ent-flag:before {
	content: "\e6a3";
}

.ent-flash:before {
	content: "\e6a4";
}

.ent-flashlight:before {
	content: "\e6a5";
}

.ent-flat-brush:before {
	content: "\e6a6";
}

.ent-folder-images:before {
	content: "\e6a7";
}

.ent-folder-music:before {
	content: "\e6a8";
}

.ent-folder-video:before {
	content: "\e6a9";
}

.ent-folder:before {
	content: "\e6aa";
}

.ent-forward:before {
	content: "\e6ab";
}

.ent-funnel:before {
	content: "\e6ac";
}

.ent-game-controller:before {
	content: "\e6ad";
}

.ent-gauge:before {
	content: "\e6ae";
}

.ent-globe:before {
	content: "\e6af";
}

.ent-graduation-cap:before {
	content: "\e6b0";
}

.ent-grid:before {
	content: "\e6b1";
}

.ent-hair-cross:before {
	content: "\e6b2";
}

.ent-hand:before {
	content: "\e6b3";
}

.ent-heart-outlined:before {
	content: "\e6b4";
}

.ent-heart:before {
	content: "\e6b5";
}

.ent-help-with-circle:before {
	content: "\e6b6";
}

.ent-help:before {
	content: "\e6b7";
}

.ent-home:before {
	content: "\e6b8";
}

.ent-hour-glass:before {
	content: "\e6b9";
}

.ent-image-inverted:before {
	content: "\e6ba";
}

.ent-image:before {
	content: "\e6bb";
}

.ent-images:before {
	content: "\e6bc";
}

.ent-inbox:before {
	content: "\e6bd";
}

.ent-infinity:before {
	content: "\e6be";
}

.ent-info-with-circle:before {
	content: "\e6bf";
}

.ent-info:before {
	content: "\e6c0";
}

.ent-key:before {
	content: "\e6c1";
}

.ent-keyboard:before {
	content: "\e6c2";
}

.ent-lab-flask:before {
	content: "\e6c3";
}

.ent-landline:before {
	content: "\e6c4";
}

.ent-language:before {
	content: "\e6c5";
}

.ent-laptop:before {
	content: "\e6c6";
}

.ent-leaf:before {
	content: "\e6c7";
}

.ent-level-down:before {
	content: "\e6c8";
}

.ent-level-up:before {
	content: "\e6c9";
}

.ent-lifebuoy:before {
	content: "\e6ca";
}

.ent-light-bulb:before {
	content: "\e6cb";
}

.ent-light-down:before {
	content: "\e6cc";
}

.ent-light-up:before {
	content: "\e6cd";
}

.ent-line-graph:before {
	content: "\e6ce";
}

.ent-link:before {
	content: "\e6cf";
}

.ent-list:before {
	content: "\e6d0";
}

.ent-location-pin:before {
	content: "\e6d1";
}

.ent-location:before {
	content: "\e6d2";
}

.ent-lock-open:before {
	content: "\e6d3";
}

.ent-lock:before {
	content: "\e6d4";
}

.ent-log-out:before {
	content: "\e6d5";
}

.ent-login:before {
	content: "\e6d6";
}

.ent-loop:before {
	content: "\e6d7";
}

.ent-magnet:before {
	content: "\e6d8";
}

.ent-magnifying-glass:before {
	content: "\e6d9";
}

.ent-mail:before {
	content: "\e6da";
}

.ent-man:before {
	content: "\e6db";
}

.ent-map:before {
	content: "\e6dc";
}

.ent-mask:before {
	content: "\e6dd";
}

.ent-medal:before {
	content: "\e6de";
}

.ent-megaphone:before {
	content: "\e6df";
}

.ent-menu:before {
	content: "\e6e0";
}

.ent-message:before {
	content: "\e6e1";
}

.ent-mic:before {
	content: "\e6e2";
}

.ent-minus:before {
	content: "\e6e3";
}

.ent-mobile:before {
	content: "\e6e4";
}

.ent-modern-mic:before {
	content: "\e6e5";
}

.ent-moon:before {
	content: "\e6e6";
}

.ent-mouse:before {
	content: "\e6e7";
}

.ent-music:before {
	content: "\e6e8";
}

.ent-network:before {
	content: "\e6e9";
}

.ent-new-message:before {
	content: "\e6ea";
}

.ent-new:before {
	content: "\e6eb";
}

.ent-news:before {
	content: "\e6ec";
}

.ent-note:before {
	content: "\e6ed";
}

.ent-notification:before {
	content: "\e6ee";
}

.ent-old-mobile:before {
	content: "\e6ef";
}

.ent-old-phone:before {
	content: "\e6f0";
}

.ent-palette:before {
	content: "\e6f1";
}

.ent-paper-plane:before {
	content: "\e6f2";
}

.ent-pencil:before {
	content: "\e6f3";
}

.ent-phone:before {
	content: "\e6f4";
}

.ent-pie-chart:before {
	content: "\e6f5";
}

.ent-pin:before {
	content: "\e6f6";
}

.ent-plus:before {
	content: "\e6f7";
}

.ent-popup:before {
	content: "\e6f8";
}

.ent-power-plug:before {
	content: "\e6f9";
}

.ent-price-ribbon:before {
	content: "\e6fa";
}

.ent-price-tag:before {
	content: "\e6fb";
}

.ent-print:before {
	content: "\e6fc";
}

.ent-progress-empty:before {
	content: "\e6fd";
}

.ent-progress-full:before {
	content: "\e6fe";
}

.ent-progress-one:before {
	content: "\e6ff";
}

.ent-progress-two:before {
	content: "\e700";
}

.ent-publish:before {
	content: "\e701";
}

.ent-quote:before {
	content: "\e702";
}

.ent-radio:before {
	content: "\e703";
}

.ent-reply-all:before {
	content: "\e704";
}

.ent-reply:before {
	content: "\e705";
}

.ent-retweet:before {
	content: "\e706";
}

.ent-rocket:before {
	content: "\e707";
}

.ent-round-brush:before {
	content: "\e708";
}

.ent-rss:before {
	content: "\e709";
}

.ent-ruler:before {
	content: "\e70a";
}

.ent-scissors:before {
	content: "\e70b";
}

.ent-share-alternitive:before {
	content: "\e70c";
}

.ent-share:before {
	content: "\e70d";
}

.ent-shareable:before {
	content: "\e70e";
}

.ent-shield:before {
	content: "\e70f";
}

.ent-shop:before {
	content: "\e710";
}

.ent-shopping-bag:before {
	content: "\e711";
}

.ent-shopping-basket:before {
	content: "\e712";
}

.ent-shopping-cart:before {
	content: "\e713";
}

.ent-shuffle:before {
	content: "\e714";
}

.ent-signal:before {
	content: "\e715";
}

.ent-sound-mix:before {
	content: "\e716";
}

.ent-sports-club:before {
	content: "\e717";
}

.ent-spreadsheet:before {
	content: "\e718";
}

.ent-squared-cross:before {
	content: "\e719";
}

.ent-squared-minus:before {
	content: "\e71a";
}

.ent-squared-plus:before {
	content: "\e71b";
}

.ent-star-outlined:before {
	content: "\e71c";
}

.ent-star:before {
	content: "\e71d";
}

.ent-stopwatch:before {
	content: "\e71e";
}

.ent-suitcase:before {
	content: "\e71f";
}

.ent-swap:before {
	content: "\e720";
}

.ent-sweden:before {
	content: "\e721";
}

.ent-switch:before {
	content: "\e722";
}

.ent-tablet:before {
	content: "\e723";
}

.ent-tag:before {
	content: "\e724";
}

.ent-text-document-inverted:before {
	content: "\e725";
}

.ent-text-document:before {
	content: "\e726";
}

.ent-text:before {
	content: "\e727";
}

.ent-thermometer:before {
	content: "\e728";
}

.ent-thumbs-down:before {
	content: "\e729";
}

.ent-thumbs-up:before {
	content: "\e72a";
}

.ent-thunder-cloud:before {
	content: "\e72b";
}

.ent-ticket:before {
	content: "\e72c";
}

.ent-time-slot:before {
	content: "\e72d";
}

.ent-tools:before {
	content: "\e72e";
}

.ent-traffic-cone:before {
	content: "\e72f";
}

.ent-tree:before {
	content: "\e730";
}

.ent-trophy:before {
	content: "\e731";
}

.ent-tv:before {
	content: "\e732";
}

.ent-typing:before {
	content: "\e733";
}

.ent-unread:before {
	content: "\e734";
}

.ent-untag:before {
	content: "\e735";
}

.ent-user:before {
	content: "\e736";
}

.ent-users:before {
	content: "\e737";
}

.ent-v-card:before {
	content: "\e738";
}

.ent-video:before {
	content: "\e739";
}

.ent-vinyl:before {
	content: "\e73a";
}

.ent-voicemail:before {
	content: "\e73b";
}

.ent-wallet:before {
	content: "\e73c";
}

.ent-water:before {
	content: "\e73d";
}

.ent-500px-with-circle:before {
	content: "\e73e";
}

.ent-500px:before {
	content: "\e73f";
}

.ent-basecamp:before {
	content: "\e740";
}

.ent-behance:before {
	content: "\e741";
}

.ent-creative-cloud:before {
	content: "\e742";
}

.ent-dropbox:before {
	content: "\e743";
}

.ent-evernote:before {
	content: "\e744";
}

.ent-flattr:before {
	content: "\e745";
}

.ent-foursquare:before {
	content: "\e746";
}

.ent-google-drive:before {
	content: "\e747";
}

.ent-google-hangouts:before {
	content: "\e748";
}

.ent-grooveshark:before {
	content: "\e749";
}

.ent-icloud:before {
	content: "\e74a";
}

.ent-mixi:before {
	content: "\e74b";
}

.ent-onedrive:before {
	content: "\e74c";
}

.ent-paypal:before {
	content: "\e74d";
}

.ent-picasa:before {
	content: "\e74e";
}

.ent-qq:before {
	content: "\e74f";
}

.ent-rdio-with-circle:before {
	content: "\e750";
}

.ent-renren:before {
	content: "\e751";
}

.ent-scribd:before {
	content: "\e752";
}

.ent-sina-weibo:before {
	content: "\e753";
}

.ent-skype-with-circle:before {
	content: "\e754";
}

.ent-skype:before {
	content: "\e755";
}

.ent-slideshare:before {
	content: "\e756";
}

.ent-smashing:before {
	content: "\e757";
}

.ent-soundcloud:before {
	content: "\e758";
}

.ent-spotify-with-circle:before {
	content: "\e759";
}

.ent-spotify:before {
	content: "\e75a";
}

.ent-swarm:before {
	content: "\e75b";
}

.ent-vine-with-circle:before {
	content: "\e75c";
}

.ent-vine:before {
	content: "\e75d";
}

.ent-vk-alternitive:before {
	content: "\e75e";
}

.ent-vk-with-circle:before {
	content: "\e75f";
}

.ent-vk:before {
	content: "\e760";
}

.ent-xing-with-circle:before {
	content: "\e761";
}

.ent-xing:before {
	content: "\e762";
}

.ent-yelp:before {
	content: "\e763";
}

.ent-dribbble-with-circle:before {
	content: "\e764";
}

.ent-dribbble:before {
	content: "\e765";
}

.ent-facebook-with-circle:before {
	content: "\e766";
}

.ent-facebook:before {
	content: "\e767";
}

.ent-flickr-with-circle:before {
	content: "\e768";
}

.ent-flickr:before {
	content: "\e769";
}

.ent-github-with-circle:before {
	content: "\e76a";
}

.ent-github:before {
	content: "\e76b";
}

.ent-google-with-circle:before {
	content: "\e76c";
}

.ent-google:before {
	content: "\e76d";
}

.ent-instagram-with-circle:before {
	content: "\e76e";
}

.ent-instagram:before {
	content: "\e76f";
}

.ent-lastfm-with-circle:before {
	content: "\e770";
}

.ent-lastfm:before {
	content: "\e771";
}

.ent-linkedin-with-circle:before {
	content: "\e772";
}

.ent-linkedin:before {
	content: "\e773";
}

.ent-pinterest-with-circle:before {
	content: "\e774";
}

.ent-pinterest:before {
	content: "\e775";
}

.ent-rdio:before {
	content: "\e776";
}

.ent-stumbleupon-with-circle:before {
	content: "\e777";
}

.ent-stumbleupon:before {
	content: "\e778";
}

.ent-tumblr-with-circle:before {
	content: "\e779";
}

.ent-tumblr:before {
	content: "\e77a";
}

.ent-twitter-with-circle:before {
	content: "\e77b";
}

.ent-twitter:before {
	content: "\e77c";
}

.ent-vimeo-with-circle:before {
	content: "\e77d";
}

.ent-vimeo:before {
	content: "\e77e";
}

.ent-youtube-with-circle:before {
	content: "\e77f";
}

.ent-youtube:before {
	content: "\e780";
}

