.frame-communities {
	margin-top: rem(85px);
	@include lato;
	color:  #001479;
	.pane-node {
		position: relative;
		padding: rem(15px);
		.field-name-field-special-logo {
			position: absolute;
			top: 50%;
			right: 0;
			@include transform(translateY(-50%));
			margin-right: rem(15px);
		}
	}
	.pane-1 {
		h2 {
			margin-bottom: rem(30px);
			@include fontsize-rem(48px);
			@include lato;
			@include normal;
			color: #001479;
		}
	}
	.circle-columns-column {
		width: 50%;
		float: left;
		&:nth-child(1) {
			.pane-node {
				.pane-title {
					margin: rem(25px 0 0 53px);
				}
				.pane-content {
					margin: rem(36px 0 46px 75px);
				}
			}
		}
		&:nth-child(2) {
			margin-top: rem(87px);
			.pane-title,
			.pane-content {
				display: table-cell;
				vertical-align: middle;
			}
			.pane-title {
				padding-left: rem(35px);
			}
			.pane-content {
				padding: rem(20px 0 20px 25px);
			}
		}
	}
	.pane-node {
		margin: rem(16px 8px)!important;
		border: 1px solid #d1dbe5;
		@include border-radius(3px);
		.pane-title {
			@include fontsize-rem(24px);
			a {
				display: table-cell;
				color:  #001479;
			}
		}
		.field-item {
			margin: rem(4px 0);
			@include fontsize-rem(18px);
		}
	}
}