.pager-load-more {
	margin: rem(90px 0 85px 0);
	li {
		a {
			width: 302px;
			margin: 0 auto;
			display: block;
			padding: rem(21px 0);
			@include martel;
			border: none;
			@include border-radius(0);
			background-color: #d8c128;
			&:hover {
				background-color: #001479;
			}
		}
	}
}