//Greyscale tones
$grey-1: #111;
$grey-2: #222;
$grey-3: #333;
$grey-4: #444;
$grey-5: #555;
$grey-6: #666;
$grey-7: #777;
$grey-8: #888;
$grey-9: #999;

$grey-a: #aaa;
$grey-b: #bbb;
$grey-c: #ccc;
$grey-d: #ddd;
$grey-e: #eee;

$grey-3f: #3f3f3f;

$natural-red: #ff0;

//Brand Colors

//Theme specifics
$border: #000;
$default-background-color: #fff;
$default-color: #000;

$background-grey: #f2f5f8;
$icon-grey: #afbac5;
$label-grey: #1d2123;

$blue: #033c64;
$text-light-blue: #58809b;
$hover-links: #045d9c;

$dark-blue-links: #0a446a;
$light-blue-links: #3678ae;
$light-violet-links: #9987a6;
$light-blue: #42caff;
$violet: #823679;

$border-light: #dfe6ed;
$border-light-blue: #306183;
$border-violet: #86347C;

