.pane-node-form-title {
	.field-title-label {
		display: block;
	}
}

.comment-form {
	.text-format-wrapper .filter-wrapper {
	 display: none;
	}
	.form-actions {
		padding-top: 15px;
		clear: both;
		overflow: hidden;
		padding-right: 15px;
		input {
		 float: right;
		 width: 170px;
		 color: #004d79;
		 &:hover {
		 	background-color: #004d79;
		 	color: #fff;
		 }
		}
	}
}

#user-login, .pane-form, .pane-user-register-form, .pane-user-password-form {
	.form-type-textfield,
	.form-type-password,
	.form-wrapper {
		margin: 0 0 20px 0;
	}
	fieldset {
		border: solid 1px #ddd;
		border-top: 3px solid #004d79;
		padding: 12px;
		margin: 0 0 20px;
	}

	fieldset legend {
		background: white;
		padding: 0 3px;
		margin: 0;
		margin-left: -3px;
		font-size: 20px;
		font-weight: 300;
	}

	.button.browse, 
	input.remove.form-submit,
	.ctools-modal-media-file-edit.button.edit,
	.field-name-field-avatar .form-submit {
		border: 1px solid #033c64;
		color: #3c3d41;
		text-transform: uppercase;
		position: relative;
		background: transparent;
		@include opensans;
		@include fontsize-rem(12px);
		@include semibold;
		@include border-radius(20px);
		@include scale(letter-spacing, 2px);
		@include scale(padding, 10px 13px);
		@include transition(all 0.2s ease);
  	display: inline-block;
  	margin: 10px 0;
	  padding: 15px 20px;

		&:hover {
			background: $violet;
			border-color: transparent;
			color: #fff;
		}
	}
}
input.remove.form-submit, .field-name-field-avatar .form-submit {
	width: 100%;
}
.ctools-modal-media-file-edit.button.edit {
	width: 80%;
	text-align: center;
}

.node-form, .page-user-edit {
	.tabledrag-hide {
		width: 30%;
		padding: 0 30px 0 0;
	}
	.form-actions {
		input {
			width: auto;
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}
}

.imagefield-crop-widget {
	img {
		max-width: none;
		width: auto;
	}
}
