.node-type-community {
	.frame-content {
		padding: rem(0 30px);
	}
	.node-community {
		h2 {
			@include fontsize-rem(36px);
			margin: rem(50px 0);
			@include normal;
			strong {
				@include bold;
			} 
		}
		.quicktabs-wrapper {
			@include clearfix;
		}
		.item-list,
		.quicktabs_main {
			float: left;
			padding: rem(15px);
		}
		.item-list {
			width: 25%;
			padding-left: rem(38px);
		}
		.quicktabs-tabs {
			li {
				position: relative;
				display: block;
				a {
					position: relative;
					margin-left: rem(42px);
					@include fontsize-rem(18px);
					color:  #001479;
				}
				&:before {
					content: " ";
					background-image: url('../images/arrow.png');
					width: 19px;
					height: 8px;
					position: absolute;
					top: rem(11px);
				}
			}
		}
		.quicktabs_main {
			width: 75%;
			position: relative;
			border-left: 1px solid #d8dbe9;
			margin-bottom: rem(50px);
			padding-left: rem(50px);
			padding-bottom: rem(150px);
			.quicktabs-tabpage {
				@include fontsize-rem(18px);
				line-height: rem(36px);
			}
			&:after {
				content: " ";
				background-image: url('../images/machines.png');
				width: 369px;
				height: 491px;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}
		}
		.field-name-field-special-logo {
			margin: rem(30px 0);
			img {
				margin: 0 auto;
			}
		}
	}
}