.not-front,
.page-comment-edit {
	.comment-wrapper,
	.pane-comment-reply-form,
	.comment-form {
		margin-bottom: rem(30px);
		.title {
			margin-bottom: 0;
			border-bottom: 1px solid #e6eaed;
			@include fontsize-rem(12px);
			color: #3b3d40;
		}
		.standard-avatar {
			margin-left: 3%;
			position: relative;
			top: rem(66px);
		}
		textarea,
		.form-actions {
			width: 60vw;
			margin: 0 auto;
		}
		.form-actions {
			padding-right: 0;
		}
		.form-submit {
			color: #033c64;
			border-color: #033c64;
			&:hover {
				color: #fff;
				border-color: #d8c128;
				background-color: #d8c128;
			}
		}
		.comment-left {
			.standard-avatar {
				top: 0;
				margin: rem(40px auto 10px);
			}
		}
		.comment-right {
			text-align: center;
			.username {
				margin-right: 0;
			}
			.content {
				margin-top: rem(20px);
			}
			.links {
				li {
					display: inline-block;
					margin: rem(15px 10px 10px);
					a {
						@include fontsize-rem(13px);
					}
				}
			}
		}
	}
}