// Styles for deafault template.

//General settings for html,body,etc

@viewport{
	zoom: 1;
	width: extend-to-zoom;
}

@-ms-viewport{
	width: extend-to-zoom;
	zoom: 1;
}

.frame-content .panel-pane {
	.front &,
	.pane-contact-form-with-map-generic {
		margin-bottom: 0;
	}
}

@include breakpoint($mobile-only) {
	#logo img {
		margin: auto;
	}
}
body.admin-menu {
	margin-top: 29px !important;
	* {
		@include box-sizing(border-box);
	}
}
body {
	.element-invisible {
		position: static!important;
		display: none;
	}
}
.pane-content {
	@include clearfix;
}
html, 
body {
	position: static;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: rem(0 15px);
}

html {
	@include opensans;
	@include normal;
	background-color: $default-background-color;
	color: $default-color;
  font-size: $base-font-size; // Don't modify static unit.
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.25;
  position: relative;
}
a,
img {
	outline: none;
	border: none;
}

a,
button {
	-webkit-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

.panels-frame {
	overflow: hidden;
}

.frame-twitter,
.frame-highlight_sponsors,
.frame-stats {
	.container {
		@include scale(max-width, 940px);
		margin: auto;
	}
}
a {
	color: $blue;

	img {
		display: block;
	}
	&:hover {
		color: $hover-links;
	}
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		outline: none;
	}
}

textarea {
	resize: none;
	@include scale(padding, 5px 10px);
}

button,
input,
textarea {
	&:focus {
		text-decoration: none;
		outline: none;
	}    
}

input,
textarea {
	border: 1px solid #cfd6dd;
	padding: 10px;
	width: 90%;
	display: block;

	&:focus {
		border: 1px solid #d8c128;;
	}
}

html.js input.form-autocomplete{
	background-position: 98% center;
	background-image: none;
}

// Loader, register

.register-now-anonymous, 
.pane-sessions-all-sessions-submitted-pane .view-footer {
	display: block;
	width: 100%;
	@include scale(padding, 85px 0 0);
	@include breakpoint($tablet) {
		width: 50%;
		margin: auto;
	}
}
.item-list {
	width: 100%;
	clear: both;
	float: left;
}

.register-now-anonymous,
.pane-sessions-all-sessions-submitted-pane .view-footer{
	border-left: 1px solid #fff;
	@include breakpoint($mobile-only) {
		@include scale(padding-top, 10px);
	}

	a {
		text-align: center;
	}
}

.pane-sessions-all-sessions-submitted-pane .view-footer {
	float: right;
}

.pager-load-more li,
.register-now-anonymous,
.pane-sessions-all-sessions-submitted-pane .view-footer {
	a {
		width: 100%;
		background: #033c64;
		color: #fff;
		line-height: 1;
		display: block;
		text-transform: uppercase;
		@include extrabold;
		@include fontsize-rem(18px);
		@include scale(padding, 14px);
		&:hover {
			background: #00529b;
		}
	}
}

.pane-sessions-all-sessions-submitted-pane .view-footer {
	clear: none;
	margin-top: 0; 
}

