// Footer
.frame-footer {
	background-color: #001479;
	color: #546572;
	@include scale(padding, 46px 0 40px);
	
	.panel-pane {
		float: left;
	}
	
	.footer-logo {
		width: 20%;
		@include breakpoint($tablet) {
			width: 20%;
		}
		img {
			@include scale(max-width, 150px);
		}
	}

	.footer-socials {
		float: right;
		@include scale(padding, 15px 0);
		margin-left: rem(15px);
		@include breakpoint($desktop-small) {
			float: left;
		}
		.menu {
			li {
				float: left;
				@include scale(margin-right, 15px);
			}
			a {
				color: #546572;
				@include fontsize-rem(20px);
				&:hover {
					color: #d8c128;
				}
			}
		}
	}

	.footer-mail-form {
		input {
			border: none;
			float: left;
			@include fontsize-rem(16px);
			@include scale(height, 48px);
		}
		.icon {
			position: absolute;
			left: 3%;
			color: #02385c;
			@include scale(top, 41px);
			@include breakpoint($desktop-small) {
				left: 4%;
				@include scale(top, 19px);
			}
		}

		.email {
			color: #b4bbc2;
			width: 50%;
			border: 1px solid transparent;
			@include scale(padding, 0 20px 0 43px);
			@include border-radius(24px 0 0 24px);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			@include lato;
			&:focus {
				border: 1px solid #d8c128;
				color: #fff;
			}
		}
		
		.button {
			background-color:  #d8c128;
			color: #fff;
			width: 34%;
			height: 50px;
			padding-bottom: rem(14px);
			@include border-radius(0 24px 24px 0);
			font-family: 'Lato', sans-serif;
			@include normal;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				color: #001479;
			}
		}
	}
	.view-footer {
		clear: both;
		@include fontsize-rem(14px);
		@include scale(margin-top, 25px);
		@include martel;
		@include semibold;
		a {
			color: #01a1ba;
		}
	}
	.footer-second {
		margin: rem(3px 0 0 0);
		@include martel;
		@include normal;
		@include fontsize-rem(12px);
		.highlighted {
			color: #d8c128;
			a {
				@include fontsize-rem(12px);
				color: #d8c128;
			}
		}
	}
}

