// Breadcrumb

.special-breadcrumb-wrapper {
	@include breakpoint($desktop-small) {
		padding-right: rem(300px);
	}
}
.pane-cep-breadcrumb-generic {
	min-height: rem(67px);
}
.frame-breadcrumb {
	.container {
		position: relative;
	}

	.special-breadcrumb {
		@include clearfix;
	}

	.breadcrumb {
		position: relative;
		z-index: 0;
		padding: rem(24px 0 0 0);  
		margin: rem(0 0 5px 0);
		@include border-radius(none);
		float: left;
		@include fontsize-rem(12px);
		@include martel;
		background-color: transparent;
		color: #004d79;
		a {
			@include fontsize-rem(12px);
			color: #004d79;
		}
		.sep {
			display: inline-block;
			overflow: hidden;
			vertical-align: middle;
			height: rem(22px);
			margin: rem(0 5px);
			width: rem(5px);
			&:before {
				content: "/";
				display: inline-block;
				text-indent: 0;
			}
		}
	}
	.title {
		color: #fff;
		@include martel;
		padding-bottom: rem(15px);
		h1 {
			line-height: 1;
			@include light;	
			@include fontsize-rem(30px);	
			@include breakpoint($tablet) {	
				@include extralight;	
				@include fontsize-rem(48px);
			}
		}
	}
	
}

.pane-multicolor-logo-generic {
	background-color: #021057;
}

.multi-header-wrapper {
	position: relative;
	@include clearfix; 
	margin: rem(42px 48px);
	padding-bottom: rem(20px);
	@include box-shadow (0px 0px 51px 0px rgba(7, 7, 7, 0.75));
	background-color: #001479;
	color: #fff;
	.header-text {
		padding-right: 50%;
		margin: rem(0 0 48px 0);
		@include montserrat;
		@include bold;
		font-weight: 700;
		line-height: 1.12;
		&:after {
			z-index: -1;
			content: " ";
			position: absolute;
			background-image: url('../images/header.png');
			width: rem(573px);
			height: rem(557px);
			top: 0;
			right: 0;
		}
	}
	.date-location-wrapper {
		margin-bottom: rem(30px);
		padding: rem(22px 43px);
		border: 1px solid #01a1b9;
		@include lato;
		@include bold;
		display: inline-block;
		div {
			position: relative;
		}
		@include breakpoint($desktop-small) {
			width: auto;
			left: auto;
		}
		.date-location-inner {
			height: 100%;
			z-index: 6;
			position: relative;
			@include fontsize-rem(20px);
			font-weight: 700;
			@include breakpoint($desktop-small) {
			}
			.fui-location {
				margin: rem(0 5px 0 0);
			}
		}
		.date-location-cell {
			display: table-cell;
			vertical-align: middle;
		}
		.announce-row {
			display: inline-block;
			@include scale(line-height, 29px);
			&:last-child {
				margin: rem(0 0 0 15px);
			}
		}
	}
	.multicolor-left-wrapper { 
		position: relative;
		margin: rem(40px 0 0 0);
		z-index: 5;
		@include lato;
		@include breakpoint($desktop-small) {
			padding: rem(121px 0 86px 0);
		}
		.mission {
			padding: rem(2px 0 23px 0);
			@include lato;
			@include normal;
			@include fontsize-rem(24px);
		}
	}
	h1 {
		@include fontsize-rem(32px);
		margin-bottom: rem(10px);

		@include breakpoint($tablet) {
			@include fontsize-rem(40px);
			margin-bottom: rem(24px);
		}
		@include breakpoint($desktop-small) {
			line-height: 1;
			@include fontsize-rem(72px);
		}

		strong {
			@include extrabold;
		}
	}
	.header-description-wrapper {
		@include font-params(18px, 36px);
		margin-bottom: rem(30px);
		@include breakpoint($tablet) {
			@include fontsize-rem(22px);
		}
		@include breakpoint($desktop-small) {
			margin-bottom: rem(60px);
		}
	}
	.banner-buttons {
		@include clearfix;
		a {
			color: #fff;
			float: left;
			margin-right: rem(7px);
			margin-bottom: rem(10px);
			&:hover {
				color: #fff;
			}
		}
		.mic {
			border: none;
		}
	}
	.watch-icon, 
	.social-icons {
		display: inline-block;
	}
	.or {
		margin: rem(0 7px);
	}
	.watch-icon {
		a {
			padding: rem(18px 30px 22px);
			@include border-radius(31px);
			@include lato;
			@include normal;
			@include fontsize-rem(18px);
			text-align: center;
			background-color: #030f4b;
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			span {
				padding: rem(0 12px 0 0);
			}
			&:hover {
				background-color:  #d8c128;;
				color: #fff;
			}
		}
	}
}
.social-icons {
	margin: rem(0 0 0 20px);
	a {
		display: inline-block;
		margin: rem(0 4px);
		color: #fff;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			color: #fbff51;
		}
	}
}
.simple-text {
	text-align: left;
	color:  #3678ae;
	@include lato;
	@include normal;
	@include fontsize-rem(24px);
	font-weight: 400;
	line-height: 1.7;
	&-wrapper {
		margin: rem(88px 0);
	}
}