// How it was block
.frame-twitter {
  border-bottom: 1px solid $border-light;
  @include scale(padding, 30px 0);  
  @include clearfix;

  .review-link-wrapper {
    text-align: center;
    text-transform: uppercase;
    @include semibold;
    @include font-params(12px, 17px);
    @include scale(letter-spacing, 2px);
    @include scale(padding, 9px 0);
    
    @include breakpoint($tablet) {
      text-align: left;
      float: left;
    }

    span {    
      vertical-align: top;
      color: $blue;
      @include fontsize-rem(16px);
    }
  }
  
  .promo-links{
    margin: 0;
    padding: 0;
    @include breakpoint($tablet) {
      float: right;
    }

    li {
      list-style-type: none;
      clear: both;
      text-align: center;
      @include fontsize-rem(25px);
      @include scale(margin-bottom, 10px);

      @include breakpoint($tablet) {
        clear: none;
        float: left;
        text-align: left;
        @include scale(margin, 0 0 0 21px);
        
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .icon {
    @include scale(margin-right, 9px);
    vertical-align: middle;
    color: $light-blue;
  }

}

// Sponsors block


.frame-highlight_sponsors {
  margin: rem(15px 0 0 0);
  @include scale(padding, 26px 0);
}

.frame-highlight_sponsors_footer{
  @include scale(padding, 26px 0 0);
}

@include breakpoint($mobile-only) {
  .front .frame-content {
    @include scale(margin-bottom, 20px);
  }
}
.page-sponsors,
.page-frontpage {
  .pane-sponsors-sponsors-gold-pane,
  .pane-sponsors-sponsors-diamond-pane,
  .pane-sponsors-silver-sponsors-pane,
  .pane-sponsors-bronze-sponsors-pane,
  .pane-partners-all-partners-pane,
  .pane-accommodations-panel-pane-1,
  .pane-partners-panel-pane-2,
  .pane-partners-panel-pane-3,
  .pane-partners-panel-pane-4,
  .pane-sponsors-panel-pane-2 {  
    @include clearfix;
    @include scale(padding, 0 15px);
    @include border-radius(7px);
    @include breakpoint($mobile-only) {
      @include scale(padding, 15px);
    }
    .pane-title {
      padding: rem(10px 0 10px 45px);
      @include montserrat;
      color: #004d79;
      text-transform: uppercase;
      position: relative;
      float: left;
      @include bold;
      @include font-params(14px, 32px);
      @include breakpoint($mobile-only) {
        @include scale(margin-bottom, 20px);
      }  
      @include breakpoint($tablet) {
        line-height: normal;
        @include scale(margin, 46px 0);
      }
      &:before {
        content: '';
        display: block;
        @include skew(-20deg);
        background-color: #686b6e;      
        float: left;
        vertical-align: middle;
        @include scale(width, 1px);
        @include scale(height, 32px);
        @include scale(margin-right, 10px);
        @include scale(margin-top, 1px);
        @include breakpoint($tablet) {
          @include scale(margin-top, 3px);
        }
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
      }
    }

    .view-content{
      clear: both;
      @include breakpoint($small-mobile) {
        @include scale(min-height, 150px);
        text-align: center;
      }
      @include breakpoint($tablet) {
        clear: none;
        width: auto;
        text-align: left;
        @include scale(padding-left, 150px);
      }
    }
    .views-row {
      @include scale(padding, 0 15px);
      @include breakpoint($small-mobile) {
        display: table-cell;
      }
      @include breakpoint($tablet) {
        &:last-child {
          padding-right: 0;
        }
      }
      img{
        @include breakpoint($mobile-only) {
          margin: auto;
        }
      }
    }  
  }
}

.page-sponsors,
.page-frontpage {
  .pane-accommodations-panel-pane-1,
  .pane-partners-panel-pane-2,
  .pane-partners-panel-pane-3,
  .pane-partners-panel-pane-4,
  .pane-sponsors-panel-pane-2 {  
    .pane-title {
      &:before {
        margin-top: rem(-8px);
      }
    }
  }
}

.pane-sponsors-sponsors-diamond-pane,
.pane-partners-all-partners-pane {
  .pane-title {
    @include scale(padding-left, 60px);
    @include breakpoint($tablet) {
      @include scale(max-width, 190px);
    }
  }
}

.pane-sponsors-sponsors-gold-pane,
.pane-sponsors-silver-sponsors-pane,
.pane-sponsors-bronze-sponsors-pane,
.pane-partners-panel-pane-2,
.pane-partners-panel-pane-3,
.pane-partners-panel-pane-4,
.pane-accommodations-panel-pane-1,
.pane-sponsors-panel-pane-2 {
  @include breakpoint($tablet) {
    @include scale(margin-left, 15px);
  }
  .pane-title {
    @include scale(padding-left, 45px);
    &:before {
      margin-left: rem(15px);
    }
    @include breakpoint($tablet) {
      @include scale(max-width, 170px);
    }
  }
}


.front .frame-content .pane-partners-all-partners-pane {
  @include breakpoint($tablet) {
    @include scale(margin-bottom, 20px);
  }
}

.frame-highlight_sponsors_footer {
  .row {
    border-bottom: 1px solid #f2f5f8;   
  }
}

// Stats block
.frame-stats {
  @include clearfix;
  @include scale(padding, 122px 0 140px);
  .cute-quote-wrapper {
    text-align: center;
    @include lato;
    @include scale(margin-bottom, 52px);
    @include fontsize-rem(18px);
    em {    
      color: #01a1ba;
    }
  }
  
  .counter-item {
    @include scale(margin-top, 25px);
    @include breakpoint($small-mobile) {
      float: left;
      width: 50%;
    }
    @include breakpoint($tablet) {
      width: 16%;
      margin: 0
    }

    &:first-child {
      margin-top: 0;
    }

    .label {
      padding: 0;
      padding: 0;
      text-transform: uppercase;
      color: #1d2023;
      @include lato;
      @include bold;
      @include fontsize-rem(16px);
      @include breakpoint($small-mobile) {
       line-height: 2.3;
     }
     @include breakpoint($tablet) {
      text-align: center;
      display: block;
      margin: 0;
    }
  }

  .icon {  
    display: block;
    color: #01a1ba;
  }

  .value {
    color:  #001479;
    display: block;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1.2;
    @include lato;
    @include extrabold;  
    @include fontsize-rem(48px);
    @include breakpoint($tablet) {
      @include scale(width, 90px);
    }
  }
}
}

.love-wine-icons {
  color: #333;
  @include fontsize-rem(18px);
  @include bold; 
}

.wine-bottle {
  display: inline-block;
  background: url('../images/wine-bottle.png');
  background-size: cover;
  @include scale(width, 18px);
  @include scale(height, 18px);
}

// Sessions block

.frame-submitted_sessions,
.frame-submitted_speakers {
  background-color: #001479;
  @include scale(padding, 30px 0 58px);
  @include scale(margin-bottom, 10px);
  @include breakpoint($tablet) {
    @include scale(padding-top, 75px);
  }
  .view-footer {
    text-align: center;
    a {
      @include fontsize-rem(14px);
      text-transform: lowercase;
      color: #01a1ba;
    }
  }

  .slick-list {
    border-left: 1px solid $border-light-blue;
    // border-right: 1px solid $border-light-blue;
    overflow: hidden;
    @include clearfix;
  }
  
  .slick-track{
    @include scale(margin-left, -1px);
  }

  .one-col {
    position: absolute;
    left: 0;
    right: 0;
    @include lato;
    @include scale(padding, 30px);
  }

  .views-row {
    float: left;
    position: relative;
    border-right: 0;
    border: 1px solid #306183;
    // border-right: none;
    color: $text-light-blue;
    @include fontsize-rem(12px);

    a {
      line-height: 1;
      @include fontsize-rem(12px);
      color: #58809b;
      cursor: pointer;
      @include transition(all 0.2s ease);
      &:hover {
        color: #fff;
      }
    }
  }

  .pane-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    @include scale(padding-bottom, 25px);
    @include fontsize-rem(24px);
    @include bold;
    @include lato;
    @include breakpoint($tablet) {
      @include scale(padding-bottom, 75px);
    }
  }
  
  .views-field-title {
    @include bold;
    @include scale(margin-bottom, 10px);
    a {
     @include fontsize-rem(18px);
     @include bold;
     color: #fff;
     text-decoration: none;
     line-height: 1;
     @include martel;
   }
 }

 .field-content {
  display: inline;
}

.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  position: absolute;
  overflow: hidden;
  border: 1px solid #ededed;
  @include scale(height, 38px);
  @include scale(width, 38px);
  @include border-radius(50%);
  @include breakpoint($mobile-only) {
    @include scale(bottom, -58px);
  }
  @include breakpoint($tablet) {
    @include scale(top, -98px);
  }

  &:before {
    color: #fff;
    position: relative;
    @include scale(top, -1px);
  }
}

.slick-prev {
  @include scale(left, 15px);
  @include breakpoint($desktop-small) {
    left: 30%;
  }
}

.slick-next {
  @include scale(right, 15px);
  @include breakpoint($desktop-small) {
    right: 30%;
  }
}
}


// Latest news

.frame-front_content {
  background: $background-grey;
  @include scale(padding, 54px 0 40px);
  
  .circle-columns-column {    
    @include scale(margin-bottom, 50px);
  }

  iframe {
    min-width: 100% !important;
  }

  .pane-title {
    text-transform: uppercase;
    @include bold;
    @include fontsize-rem(18px);
    @include scale(margin-bottom, 40px);
    color: #1d2123;
  }
}

.pane-news-all-news-pane {
  .views-field-created .field-content {
    @include fontsize-rem(12px);
    @include normal;
  }
  .views-field-field-basic-tags {
    @include fontsize-rem(12px);
    margin: 10px 0;
  }
  .views-field-body .field-content{
    @include scale(line-height, 30px);
  }
}

.pane-news-latest-news-pane {
  @include scale(margin-right, 20px);

  .views-field-created {  
    color: #909498;
    @include fontsize-rem(12px);
    @include semibold;
  }
}

.view-news {
  @include scale(padding-right, 20px);

  .views-row {
    @include scale(margin-bottom, 38px);
  }

  .views-field-title {
    @include semibold;
    @include fontsize-rem(18px);

    a {
      color: #01a1ba;
    }
  }

  .views-field-body {
    @include semibold;
    @include font-params(14px, 20px);
    @include scale(margin-top, 20px);

    a.more-link {
      display: block;
      @include scale(margin, 10px 0);
      @include fontsize-rem(14px);
      color: #01a1ba;
    }
  }
}

// Front Attendees

.pane-attendees-latest-attendees {
  @include scale(padding-right, 15px);

  .views-row {
    overflow: hidden;
    clear: both;
    @include scale(margin-bottom, 26px);

    a {
      color: $label-grey;

      img {
        @include border-radius(5px);
      }
    }
  }

  .col-one {
    width: 25%;
    float: left;
    @include scale(max-width, 65px);
    @include scale(padding-right, 10px);
  }
  
  .col-two {
    width: 50%;
    float: left;
    @include fontsize-rem(11px);

    @include breakpoint($tablet-only) {
      width: 75%;
    }
  }
  
  .col-three {
    width: 30%;
    float: right;
    color: #909498;
    @include semibold;
    @include fontsize-rem(12px);

    @include breakpoint($tablet-only) {
      width: 75%;
      clear: both;
      text-align: right;
      @include scale(padding-top, 10px);
    }
  }
  
  .views-field-name {
    text-transform: uppercase;
    @include bold;
    @include fontsize-rem(12px);
    @include scale(letter-spacing, 2px);
    @include scale(margin-top, -4px);
  }
}

// Location block

.frame-location {
  position: relative;
  @include scale(margin-bottom, 10px);
  .top-layer {
    position: relative;
    z-index: 1;
    @include martel;
    @include scale(padding, 55px 15px 70px 0); 

    @include breakpoint($desktop-small) {
      padding-left: 9%; 
      width: 100%;
      @include scale(padding, 55px 0 70px 0);
    }

    .location-details-wrapper,
    .contact-form-wrapper {
      position: relative;
      z-index: 1;
    }
  }


  .contact-list {
    @include clearfix;
    .icon {
      @include scale(margin-right, 20px);
    }
  }
  
  .contact-form-wrapper {
    @include scale(max-width, 490px);
    .form-text,
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #555c7b;
      width: 100%;
      @include scale(margin-bottom, 15px);
      font-weight: 400;
      @include fontsize-rem(18px);
      @include scale(padding, 8px 0);
      @include scale(height, 50px);
      @include placeholder(#fff);
      color: #fff;
    }
    
    .field-name-textfield {
      border-bottom: 1px solid #555c7b;
      color: #fff;
      @include fontsize-rem(14px);
      @include placeholder(#fff);
    }
  }

  .top-corner-sign {
    color: rgba(225,225,225,0.8);
    display: none;
    left: 95%;
    position: absolute;
    z-index: 1;
    @include scale(top, 43px);
    @include scale(min-width, 165px);
    @include martel;
    @include extralight;

    @include breakpoint($desktop-small) {
      display: block;
      &:before {
        background: url('../images/arrow.png');
        content: '';
        display: block;
        position: absolute;
        right: 0;
        @include scale(height, 24px);
        @include scale(top, 10px);
        @include scale(width, 36px);
      }
    }
  }
  @include breakpoint($desktop-small) {
    .background-layer {
      height: 100%;
      display: block;
      width: 100%;
      margin-top: rem(18px);
    }
  }

  iframe {
    display: block;
    width: 100% !important;
    @include breakpoint($small-mobile) {
      @include scale(max-height, 300px);
    }
    @include breakpoint($tablet) {
      min-height: 100% !important;
    }
  }
}


// Support page

.node-type-sponsor,
.page-user{
  .pane-page-content {
    .container {
      @include martel;
      @include scale(margin, 75px 0 74px);
      border-top: 1px solid rgba(0, 77, 121, 0.1);
      position: relative;
      z-index: 5;
    }
  }

  .content-column .row{
    @include breakpoint($tablet) {
      @include scale(padding-left, 80px);
    }
  }

  .pane-node-field-sponsor-logo img{
    margin: 0 auto;
    @include scale(margin-top, 15px);
  }
  
  .pane-sponsor-sponsorship-level,
  .job-board,
  .news-list {
    @include scale(margin-bottom, 5px);

    h2 {
      text-transform: uppercase;
      @include extrabold;
      @include fontsize-rem(36px);
    }
  }
  
  .pane-camp-generic-node-fields {
    background: $blue;
    color: #fff;
    float: left;
    position: relative;
    width: 100%;
    @include scale(padding, 24px 50px);
    
    @include breakpoint($tablet) {
      min-width: 70%;
    }
    
    .pane-content {
      width: auto;
    }
    
    @include breakpoint($tablet) {
      &:before{
        background: $blue;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        @include scale(right, -20px);      
        @include scale(width, 150px);
        @include skew(-20deg, 0);
      }
      &:after {
        content: url('../images/shadow.png');
        position: absolute;
        z-index: 10;
        left: 0;
        top: -25px;
      }
    }

    .title,
    h2 {
      line-height: 1;
      @include fontsize-rem(36px);
      @include extrabold;
      @include scale(margin-bottom, 8px);
    }
    
    .subtitle,
    .job-title {
      line-height: 1;
      @include semibold;
    }
  }  

  .pane-node-field-sponsors-url {
    clear: both;
    @include scale(padding-left, 50px);

    a {
      @include semibold;
    }
  }

  .pane-node-field-sponsor-description {
    clear: both;
    @include semibold;

    p {
      @include scale(line-height, 30px);
    }
  }
}

.job-board,
.news-list,
.item-list-content {
  .views-row {
    @include clearfix; 
    @include scale(margin-bottom, 50px);
    @include fontsize-rem(14px);
    .views-field-title {
      @include fontsize-rem(16px);
      @include clearfix;
      
      a {
       color:  #01a1ba;
       float: left;
       line-height: 1;
       @include bold;
     }
   }

   .views-field-field-key-features,
   .views-field-created,
   .views-field-field-discount {
    @include semibold;
    @include scale(line-height, 25px);

    .field-content {
      display: inline;
    }
  }

  .views-field-body {
    @include semibold;
    @include scale(margin, 25px 0);

    p {
      @include scale(line-height, 20px);
    }
  }
}

.views-field-field-job-email,
.views-field-view-node {
  float: left
}

.views-field-field-job-email,
.views-field-field-url {
  @include scale(margin-right, 13px);
  a{
    @extend %rounded-button;
    @extend %dark-button;
    @extend %wide-button;
  }
}

.views-field-view-node a{
  @extend %rounded-button;
  @extend %dark-button;
}

}

.job-board {
  .views-field-view-node a{
    @extend %no-border;
  }
}

.news-list .views-row .views-field-body {
  margin-bottom: 0
}

.pane-sessions-all-sessions-submitted-pane {
  @include clearfix;
  .views-field-title {
    @include scale(margin-bottom, 5px);
  }
  .views-field-field-speaker-s-,
  .views-field-field-session-difficulty,
  .views-field-field-session-language {
    .views-field-label {
      @include fontsize-rem(12px);
    }
    .field-content {
      display: inline;
      @include semibold;
    }
  }
}

// Attendees

.pane-attendees-all-attendees-pane {
  @include martel;
  @include clearfix;
  @include scale(padding-bottom, 20px);

  .views-row {
    padding: 0;
    width: 20%;
    float: left;
  }

  .view-header {
    @include semibold;
    @include scale(line-height, 30px);
    @include scale(padding-bottom, 50px);
  }

  .view-content {
    @include clearfix;
  }

  .view-filters {
    margin: auto;
    z-index: 1;
    position: relative;
    @include scale(padding-bottom, 55px);
  }

  .views-exposed-widget {
    padding: 0;
    margin: auto;
    clear: both;
    float: none;
    max-width: 100%;
    @include scale(margin-bottom, 10px);
    @include fontsize-rem(14px);

    @include breakpoint($small-mobile) {
      max-width: 50%;
    }

    @include breakpoint($desktop-small) {
      clear: none;
      float: left;
      width: 25%;
      margin-bottom: 0;
    }
    input,
    .chosen-single {
      color: #1d2123;
      width: 100%;
      font-style: italic;
      @include scale(height, 48px);
      @include scale(padding-right, 30px);
      @include scale(padding-left, 30px);
      @include placeholder(#1d2123);
      &:focus {
        border-color:  #01a1ba;
      }
      @include breakpoint($desktop-small) {
        border-right: none;
      }
    }
  }
  
  .views-submit-button {
    margin: 0 auto;
    position: relative;
    top: rem(30px);
    float: none;
    width: 100%;   
    .form-submit {
      margin: 0;
      width: 100%;
      font-style: normal;
      padding: 0;
      @extend %purple-btn;
    }
  }

  .views-row {
    border: 1px solid #fff;
    position: relative;
    
    * {
      line-height: 14px;
    }
    
    img {
      width: 100%;
    }
    
    .col-two {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 20, 121, 0.6);
      color: #fff;
      @include fontsize-rem(11px);
      @include scale(padding, 10px 15px);
      @include breakpoint($tablet) {
        @include scale(padding, 10px 30px);
      }
      img {
        width: 100%;
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
      .views-field-title {
        &:after {
          content: "\2192";
          position: relative;
          left: rem(18px);
        }
      }
    }
    
    .views-field-title {
      position: absolute;
      bottom: 100%;
      left: 0;
      background: $blue;
      @include scale(padding, 0 10px);
      @include scale(line-height, 24px);
      @include breakpoint($tablet) {
        @include scale(padding, 0 28px 0 30px);
      }
    }
    
    .views-field-nothing {
      text-transform: uppercase;
      @include extrabold;
      @include font-params(12px, 16px);
    }
  } 

}

.page-user {
  .content-column {
    @include fontsize-rem(14px);
  }
  .pane-user-field-avatar img {
    margin: rem(30px auto 0);
  }
  
  .pane-cep-profile-social-links-user{
    clear: both;
    @include clearfix;
  }
  
  .pane-cep-profile-header-user {
    @include breakpoint($tablet) {
      margin-left: -35px;
      padding-left: 35px;
    }
  }
  .item-list {
    padding: 0;
    li {
      float: left;
    }
    a {
      width: 18px;
      height: 18px;
      margin: rem(0 1px);
      overflow: hidden;
      display: block;
    }
    .hybridauth-widget a {
      width: auto;
      height: auto;
    }
  }
  .locality-block {
    float: left;
  }
  .country {
    margin-left: 5px;
    &:before {
      content: '/';
      margin-right: 5px;
    }
  }
  .pane-entity-field {
    font-weight: 600;
  }
  .field-label {
    text-transform: uppercase;
    color: #8d9aa6;
  }
}

.view-sessions, .view-our-best-speakers {
  position: relative;
  font-weight: 600;
  
  .vertical-tabs-list {
    @include fontsize-rem(18px);
    font-weight: 900;
    height: 100%;
    text-align: center;  
    margin-bottom: 20px;
    @include clearfix;
    @include breakpoint($mobile-only) {
      border-bottom: 1px solid #c6ccd2;
    }

    @include breakpoint($tablet) {
      position: absolute;
      top: -55px;
      padding-top: 40px;
      left: -85px;
      margin-bottom: 0;
      border-right: 1px solid #c6ccd2;
    }

    li {   
      border: 1px solid #c6ccd2;
      @include breakpoint($mobile-only) {
        float: left;
        margin-left: -1px;
        position: relative;
        top: 1px;
        &:first-child {
          margin-left: 0;
        }
      } 
      @include breakpoint($tablet) {
        border-right: 0;
        margin-top: -1px;
        position: relative;
        left: 1px;
        &:first-child {
          margin-top: 0;
        }
      }
    }

    a{
      color: #c6ccd2;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  }

  li.selected {
    position: relative;
    z-index: 1;
    a {
      color: #01a1ba;
    }
  }
  
  .views-row > legend {
    display: none;
  }
  
  .views-field-title {
    @include fontsize-rem(18px);
    font-weight: 900;
  }
  
  .views-field-label{
    margin-right: rem(5px);
  }
  
  .views-field-body {
    margin: rem(25px 0 32px 0);
    p {
      @include fontsize-rem(14px);
      line-height: rem(20px);
    }
  }

  .views-field-ops,
  .views-field-view-node {
    float: left;
  }

  .views-field-ops {
    @include scale(margin-right, 13px);
    a{
      @extend %rounded-button;
      @extend %dark-button;
      @include scale(padding, 7px 23px);
      color: #004d79!important;
      &:hover {
       color: #fff!important;
     }
   }
 }
 .views-field-view-node a {
  border: 1px solid;
  @include lato;
  @include scale(padding, 7px 40px);
  @extend %rounded-button;
  @extend %dark-button;
  @extend %no-border;
  @include bold;
  color: #001479!important;
  &:hover {
   color: #fff!important;
   background-color: #d8c128;
 }
}
}

.view-display-id-all_sessions_submitted_pane {
  .views-row {
    @include clearfix;
    margin-bottom: rem(30px);
    padding: rem(63px 42px 59px 42px);
    border: 1px solid transparent;
    @include transition(all 0.2s ease-in-out);
    .views-field {
      &.views-field-field-session-difficulty,
      &.views-field-field-session-language,
      &.views-field-field-speaker-s- {
        @include clearfix;
      }
      &.views-field-body {
        @include fontsize-rem(14px);
      }
      &.views-field-view-node a {
        border: 1px solid #033c64;
      }
      &.views-field-field-speaker-s- {
        @include scale(margin-top, 20px);
      }
    }
    &:hover {
      border: 1px solid #dddfe1;
    }
  }
  
}

.field-name-body {
  p {
    margin: 10px 0;
  }
  ul {
    list-style-type: circle;
    padding: 10px 20px;
    margin-left: 10px;
  }
  ol {
    list-style-type: decimal;
    padding: 10px 20px;
    margin-left: 10px;
  }
  strong {
    @include bold;
  }
  em {
    font-variant: italic;
  }
}

.password-confirm {
  visibility: visible !important;
}

.see-all-wrapper {
  margin-top: rem(30px);
}