.location-details-wrapper { 
	vertical-align: top;
	padding-bottom: rem(170px);
	&:before,
	&:after {
		content: " ";
		position: absolute;
		bottom: 0;
	}
	&:before {
		background-image: url('../images/tools.png');
		width: 88px;
		height: 140px;
		left: 0;
	}
	&:after {
		background-image: url('../images/robot-3.png');
		width: 143px;
		height: 190px;
		right: 0;
	}
}



.location-details-wrapper, 
.contact-form-wrapper {
	display: inline-block;
}

.frame-location {
	font-weight: 400;
	color:  #03385d;
	.contact-form-wrapper {
		padding: rem(0 0 0 70px);
		.form-text,
		textarea {
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:focus {
				color: #fff;
				border-color: #fff;
			}
		}
	}
	.location-title {
		@include lato;
		@include normal;
		@include fontsize-rem(48px); 
		margin: rem(0 0 20px 0);
	}
	.heading {
		display: block;
		@include lato;
		@include normal;
		@include fontsize-rem(24px); 
	}
	.contact-list {
		margin: rem(35px 0 0 20px);
		li {
			display: block;
			margin: rem(11px 0);
			@include lato;
			@include normal;
			@include fontsize-rem(18px); 
		}
	}
	.contact-form-wrapper {
		h4 {
			@include lato;
			@include normal;
			@include fontsize-rem(48px); 
			color: #fff;
		}
		button {
			margin: rem(17px 0 0 0);
			padding: rem(12px 32.5px);
			@include border-radius(20px);
			border: none;
			text-transform: uppercase;
			@include fontsize-rem(13px); 
			font-weight: 600;
			background-color: #030f4b;
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				background-color: #d8c128;
				color: #fff;
			}
			i {
				position: relative;
				top: rem(1px);
				right: rem(7px);
			}
		}
	}
	.contact-form-map-wrapper {
		.container {
			&:before {
				position: absolute;
				right: 0;
				content: " ";
				background-image: url('../images/Image-contact.png');
				width: 325px;
				height: 459px;
			}
		}
	}
}