.system-messages {
	background-color: $natural-red;
	.tabs {
		@extend %clearfix;
		li {
			margin-right: rem(20px);
			padding: rem(10px 0);
			display: inline-block;
			float: left;
		}
		a {
			color: $natural-red;
		}
	}
	.panel-pane {
		@include fontsize-rem(14px);
	}
}

.frame-top {
	position: absolute;
	width: 100%;
	margin-top: rem(35px);
	background: #fff;
	z-index: 6;
	@include exo;
	@include scale(padding-top, 15px);
	@include scale(padding-bottom, 15px);
	@include breakpoint($tablet) {		
		padding-top: rem(35px);
		padding-bottom: rem(23px);
	}
	background-color: rgba(0, 0, 0, 0);
	.container {
		padding: rem(0 50px);
	}
	.pane-page-logo {
		@include breakpoint($mobile-only) {		
			margin-bottom: rem(15px);
		}
	}
}
.pane-page-site-name {
	a {
		@include montserrat;
		@include extrabold;
		@include fontsize-rem(24px);
		color: #f6db1f;
	}
}
.primary-links {
	float: right;
	margin: rem(4px 53px 0 0);
	li {
		@include lato;
		@include normal;
		display: inline-block;
		margin: rem(0 14px);
		a {
			@include fontsize-rem(18px);
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				color: #fbff51;
			}
		}
	}
}

.menu-menu-social-menu {
	@include clearfix;
	li {
		display: inline-block;
		a {
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in); 
		}
	}
}

.menu-name-menu-social-menu {
	margin: rem(3px 32px 0 45px);
	.menu {
		li {
			display: inline-block;
		}
	}
}

.menu-block-wrapper {
	@include clearfix;
	ul {
		margin: rem(0 0 30px 0);
	}
}

.pane-menu-social-menu {
	ul {
		li {
			margin: rem(0 2px);
		}
	}
}

.menu-name-main-menu {
	margin: rem(18px 0 0 0);
	li {
		a {
			@include lato;
			@include semibold;
			@include fontsize-rem(18px);
		}
		&.last.depth-1 {
			margin-left: rem(25px);
		}
	}
}

.node-type-session {
	.frame-top {
		&:before {
			position: absolute;
			content: " ";
			right: 7%;
			z-index: 1;
			background-size: cover;
			background-image: url('../images/robot-1.png');
			width: 95px;
			height: 130px;
			top: rem(210px);
		}
	}
}

.not-front {
	.frame-top {
		position: relative;
		margin-top: 0;
		padding: rem(42px 48px);
		background-color: #021057;
		.container {
			padding-top: rem(28px);
			padding-bottom: rem(20px);
			@include box-shadow (0px 0px 51px 0px rgba(7, 7, 7, 0.75));
			background-color: #001479;
		}
		.menu-name-main-menu {
			.menu {
				margin: rem(0 0 27px 0);
			}
		}	
	}
}

.node-type-community {
	.frame-top {
		&:before {
			content: " ";
			position: absolute;
			background-image: url('../images/nav-machines.png');
			width: 650px;
			height: 207px;
			top: 0;
			right: 0;
			z-index: -1;
		}
	}
}

// Mobile navigation menu
.tap-menu {
	text-align: center;
	@include fontsize-rem(22px);
	color: #fff;
	cursor: pointer;
}
ul.menu-main-menu.mobile-enabled {
	float: none;
	padding: rem(30px 0); 
	li {
		float: none;
		text-align: center;
		padding: rem(8px 0);
		&:hover ul {
			display: none;
		}

		&.clicked-once ul {
			display: block;
			float: none;
			position: static;
		}
	}
}


a {
	@include font-params(18px, 24px);
}

.menu-main-menu{
	float: right;
}

.depth-1 {
	float: left;
	position: relative;
	padding: rem(0 10px 5px);
	margin: rem(0 3px);
	a {
		color: #fff;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		@include extrabold;
		&:hover {
			color: #fbff51;
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 100%;
		background-color: #fff;
		left: 0;
		@include scale(min-width, 200px);
		@include scale(padding, 10px 0);
		@include border-radius(0 0 5px 5px);
		@include box-shadow(0 2px 5px 0 rgba(0,0,0,0.2));
		z-index: 10;
		a {
			@include fontsize-rem(15px);
			@include scale(padding, 6px 20px);
			display: block;
			font-weight: normal;
			color: #004d79;
			&:hover {
				background-color: #f2f2f2;
			}
		}
	}
	&:hover ul {
		display: block;
	}
	.menu {
		.depth-2 {
			a {
				&:hover {
					color: #004d79;
				}
			}
		}
	}
}