.page-agenda-schedule {
	@include lato;
}
.view-schedule {
	.views-row {
		.views-field {
			.views-field-label,
			.field-content {
				display: inline-block;
			}
			.views-field-label {
				position: relative;
				top: rem(3px);
				color: #004d79;
			}
		}
		.views-field-field-room {
			a {
				line-height: 1;
				color: #01a1ba;;
			}
			.views-field-label {
				display: none;
			}
			.field-content a:before {
				content: 'in ';
				color: #004d79;
				@include light;
				@include fontsize-rem(18px);
			}
		}
		.views-field-field-speaker-s-,
		.views-field-field-session-difficulty,
		.views-field-field-session-language {
			a {
				@include fontsize-rem(14px);
				@include martel;
				color: #001479;
				@include semibold;
			}
		}
	}
	.item-list {
		width: 100%;
		float: none;
	}
	.view-display-id-sessions_time_slot_pane {
		.views-row {
			font-family: "Exo 2",sans-serif;
			.views-field-field-speaker-s-,
			.views-field-field-session-difficulty,
			.views-field-field-session-language {
				padding-left: 0;
				padding-bottom: 0;
			}

		}
		.views-row.views-row-first.views-row-last {
			float: none;
			margin: 0 auto;
		}
	}
	.quicktabs-tabs {
		margin: rem(10px auto 0);
		text-align: center;
		font-size: 0;
		.views-field-field-date-and-time-1 {
			font-family: "Exo 2", sans-serif;
		}
		li {
			display: inline-block;
			border: 1px solid #e5edf1;
			border-bottom: none;
			a {
				display: inline-block;
				@include exo;
				padding: rem(30px 40px);
				@include fontsize-rem(24px);
			}
			&.active {
				a {
					color: #01a1ba;
				}
			}
		}
	}
	.quicktabs_main {
		border-top: 1px solid #e5edf1;
	}
	.quicktabs-views-group {
		margin: rem(30px 0);
		@include clearfix;
		border-top: 1px dashed #e5edf1;
		padding-top: rem(30px);

		&:first-child {
			border: none;
			padding: 0;
		}
		.views-field-field-date-and-time-1 {
			width: 10%;
			float: left;
			display: block;
			color: #001479;
			.date-display-start,
			.date-display-end {
				@include bold;
			}
			 
		}
	}

	.view-display-id-sessions_time_slot_pane {
		width: 90%;
		float: left;
		.views-row {
			width: 33%;
			float: left;
			padding: rem(0 30px);
			position: relative;
			.views-field-ops {
				width: 90%;
				position: relative;
				float: none;
				.flag-wrapper {
					position: static;
					a {
						margin: rem(25px auto 5px);
						max-width: none;
						text-align: center;
					}
					.flag-throbber {
						position: absolute;
						top: rem(8px);
						right: rem(20px);
					}
					.flag-message {
						top: rem(-24px);
					}
				}
			}
			.views-field-view-node {
				float: none;
				width: 90%;
				margin: rem(5px 0);
				a {
					margin-top: rem(25px);
					text-align: center;
					color:  #033c64;
					border-color: #033c64;
					&:hover {
						border-color: #d8c128;
						background-color: #d8c128;
						color: #fff;
					}
				}
				&.schedule_item-wrapper {
					display: none;
				}
			}
			.views-field-field-speaker-s-,
			.views-field-field-session-difficulty,
			.views-field-field-session-language {
				padding: rem(3px 0);
				.views-label {
					padding: rem(3px);
				}
			}
			.views-field-count {
				margin-top: rem(10px);
			}
		}
	}
}
