.page-sessions {
	.view-sessions {
		.views-field-title {
			a {
				color: #01a1ba!important;
			}
		}
		.views-field {
			.views-field-label,
			a {
				@include fontsize-rem(14px);
			}
			.views-field-label {
				text-transform: uppercase;
				color:  #8c99a6;
			}
			a {
				color: #000;
			}
		}
		.views-field-field-speaker-s- {
			a {
				color: #01a1ba;
			}
		}
	}
}