.pane-node-created,
.timestamp {
	@include fontsize-rem(12px);
	color: #838d8f;
	font-style: italic;
	padding: 0;
	@include martel;
	line-height: 1;
}
.pane-node-created {
	margin-bottom: 10px;
}
.pane-node-field-basic-tags {
	padding-left: 25px;
	margin-bottom: 10px;
	@include fontsize-rem(12px);
	line-height: 14px;
	color: #899198;
	@include martel;
	font-weight: 700;
	.field-item {
		float: left;
		padding-right: 16px;
		position: relative;
		line-height: 14px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 8px;
			right: 6px;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background: #899198;
		}
		a {
			color: #899198;
			&:hover {
				color: #157efb;
			}
		}
	}
}

.pane-node-title {
	@include fontsize-rem(35px);
	color: #1d2123;
	@include martel;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	line-height: 1em;
	h2 {
		@include fontsize-rem(35px);
		line-height: 1.1em;
	}
}

.pane-node-body {
	@include fontsize-rem(16px);
	@include martel;
	font-weight: 500;
	color: #1d2123;
	p {
		@include fontsize-rem(16px);
		line-height: 1.8em;
		color: #1d2123;
		margin-bottom: rem(20px);
	}
}

.pane-node-comments {
	padding-top: rem(15px);
	.indented {
		padding-left: rem(50px);
	}
	.pane-title {
		@include martel;
		font-weight: 700;
		padding-left: (14px);
		padding-bottom: rem(22px);
		line-height: 1em;
		@include fontsize-rem(22px);
		color: #3a3d3f;
		border-bottom: 1px #e7e7e7 solid;
	}
	.comment {
		padding: rem(25px 0);
		border-bottom: 1px #e7e7e7 solid;
		&:last-child {
			border-bottom: 0;
		}
	}
	.submitted {
		margin-top: rem(-3px);
	}
	.field-name-comment-body {
		padding: rem(10px 0 8px);
		p {
			@include martel;
			@include fontsize-rem(16px);
			color: #525b5d;
			line-height: 24px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.pane-node-comment-form {
	background: #f2f5f8;
	margin-bottom: 15px;
	.pane-title {
		text-align: center;
		text-transform: uppercase;
		@include fontsize-rem(12px);
		line-height: 15px;
		color: #3b3d40;
		letter-spacing: 1px;
		padding: 15px 0;
		margin: 0;
		display: block;
		border-bottom: 1px #e6e9eb solid;
	}
	.pane-content {
		padding: 15px 25px 20px;
	}
	.form-submit {
		width: auto;
	}
}

.standard-avatar {
	display: block;
	width: 50px;
	height: 50px;
	background: #823679;
	border-radius: 100%;
	position: relative;
	&:after {
		content: attr(data-letter);
		display: block;
		position: absolute;
		@include fontsize-rem(22px);
		text-transform: uppercase;
		color: #fff;
		top: 8px;
		width: 100%;
		text-align: center;
	}
}

.links.inline {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1em;
	@include martel;
	font-weight: 700;
	li {
		margin: 0;
		padding: rem(10px 0);
		text-align: center;
		line-height: 1em;
		a {
			line-height: 1em;
			color: #001479;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
}

.username,
a.username {
	display: block;
	margin: rem(9px 10px 0 0);
	@include martel;
	@include bold;
	color: #3c3d41;
	@include fontsize-rem(11px);
	letter-spacing: 1px;
	text-transform: uppercase;
}

.node-type-simple-page {
	.field-type-link-field {
		display: table;
		margin: rem(50px auto);
		a {
			padding: rem(18px 30px 22px);
			@include border-radius(31px);
			@include lato;
			@include normal;
			@include fontsize-rem(18px);
			text-align: center;
			background-color: #030f4b;
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				background-color:  #d8c128;;
				color: #fff;
			}
		}
	}
}