.tabs {
  width: 100%;
  max-width: 1300px;
  li {
    list-style-type: none;
  }
  ul {
    &.primary, &.secondary {
      overflow: hidden;
      *zoom: 1;
      list-style: none;
      margin: 0 0 1.5em;
      padding: 0 2px;
      white-space: nowrap;
    }
    &.primary li, &.secondary li {
      float: left;
      margin: 0.5em 3px 0;
    }
    &.primary a, &.secondary a {
      display: block;
      line-height: 1.5em;
      text-decoration: none;
    }
    &.primary {
      li {
        margin: 0.5em 0 0 0;
        &.active {
        }
      }
      a {
        padding: 10px 20px;
        &:link, &:visited {
          color: #333333;
          background-color: #E6EBEF;
          letter-spacing: 1px;
          text-align: center;
        }
        &:hover, &:focus {
          background-color: #B3C3D0;
        }
        &.active {
          background-color: #033D65;
          *zoom: 1;
          color: #fff;
          border: 0 none;
          text-shadow: none;
          @include bold;
          @include border-radius(0);
        }
      }
    }
    &.secondary {
      font-size: 0.9em;
      margin-top: -1.5em;
      padding-bottom: 0.5em;
      a {
        &:link, &:visited {
          @include border-radius(0.75em);
          -webkit-transition: background-color 0.3s;
          -moz-transition: background-color 0.3s;
          -ms-transition: background-color 0.3s;
          -o-transition: background-color 0.3s;
          transition: background-color 0.3s;
          text-shadow: white 1px 1px 0;
          background-color: #f2f2f2;
          color: #666666;
          padding: 0 0.5em;
        }
        &:hover, &:focus {
          background-color: #dedede;
          border-color: #999999;
          color: #333333;
        }
        &.active, &:active {
          text-shadow: #333333 1px 1px 0;
          background-color: #666666;
          border-color: black;
          color: white;
        }
      }
    }
  }
}
