.page-user {
  input {
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    &:focus {
      border: 1px solid #4fc9a4;
    }
  }
  .form-actions {
    input {
      width: 100%;
      @include martel;
      color: #001479;
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
      &:hover {
        background-color: #001479;
        color: #fff;
      }
    }
  }
  #edit-field-featured-und {
    float: left;
    margin-top: rem(4px);
  }
  .field-name-field-technology {
    .field-field_technology-label {
      display: block;
      margin-bottom: rem(30px);
      text-align: center;
      @include fontsize-rem(16px);
      @include bold;
      color: #001479;
    }
    label {
      display: inline-block;
      margin: rem(5px 0);
      @include bold;
    }
    input {
      float: right;
      margin-top: rem(10px);
    }
  }
}

.pane-user-login-form {
  .pane-content {
    padding: rem(10px 20px 10px 0);
  }
}

.pane-user-register-form {
  .pane-content {
    padding: rem(10px 20px 10px 0);

    .username {

      @include normal;
      margin: 0;
      letter-spacing: 0;
      @include fontsize-rem(16px);
      text-transform: none;
    }

    .form-type-textfield.username {
      margin: rem(0 0 20px 0);
    }
  }
}

.page-user .pane-page-content .pane-content {
  width: 1170px;
  max-width: 100%;
  margin: auto;
}

.description {
  @include fontsize-rem(12px);
}
.page-hybridauth-window {
  form {
    padding: rem(0 50px);
  }
  input {
    margin: rem(15px auto);
    padding: rem(10px 0);
  }
  .fieldset-description {
    margin-bottom: rem(15px);
  }
}