@font-face {
	font-family: 'picons-social';
	src:url('../fonts/picons-social.eot?-3as5bw');
	src:url('../fonts/picons-social.eot?#iefix-3as5bw') format('embedded-opentype'),
		url('../fonts/picons-social.woff?-3as5bw') format('woff'),
		url('../fonts/picons-social.ttf?-3as5bw') format('truetype'),
		url('../fonts/picons-social.svg?-3as5bw#picons-social') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="pis-"], 
[class*=" pis-"] {
	font-family: 'picons-social';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pis-facebook:before {
	content: "\e600";
}

.pis-twitter:before {
	content: "\e601";
}

.pis-facebook2:before {
	content: "\e602";
}

.pis-twitter2:before {
	content: "\e603";
}

.pis-instagram:before {
	content: "\e604";
}

.pis-google-plus:before {
	content: "\e605";
}

.pis-instagram2:before {
	content: "\e606";
}

.pis-google-plus2:before {
	content: "\e607";
}

.pis-youtube:before {
	content: "\e608";
}

.pis-youtube2:before {
	content: "\e609";
}

.pis-pinterest:before {
	content: "\e60a";
}

.pis-pinterest2:before {
	content: "\e60b";
}

.pis-apple:before {
	content: "\e60c";
}

.pis-linkedin:before {
	content: "\e60d";
}

.pis-skype:before {
	content: "\e60e";
}

.pis-rss:before {
	content: "\e60f";
}

.pis-android:before {
	content: "\e610";
}

.pis-linkedin2:before {
	content: "\e611";
}

.pis-windows8:before {
	content: "\e612";
}

.pis-twitter3:before {
	content: "\e613";
}

.pis-tumblr:before {
	content: "\e614";
}

.pis-android2:before {
	content: "\e615";
}

.pis-social_mastercard:before {
	content: "\e616";
}

.pis-apple2:before {
	content: "\e617";
}

.pis-blogger:before {
	content: "\e618";
}

.pis-rss2:before {
	content: "\e619";
}

.pis-html5:before {
	content: "\e61a";
}

.pis-behance:before {
	content: "\e61b";
}

.pis-wordpress:before {
	content: "\e61c";
}

.pis-social_visa:before {
	content: "\e61d";
}

.pis-blogger2:before {
	content: "\e61e";
}

.pis-vimeo:before {
	content: "\e61f";
}

.pis-twitter4:before {
	content: "\e620";
}

.pis-tumblr2:before {
	content: "\e621";
}

.pis-soundcloud:before {
	content: "\e622";
}

.pis-skype2:before {
	content: "\e623";
}

.pis-soundcloud2:before {
	content: "\e624";
}

.pis-appstore:before {
	content: "\e625";
}

.pis-social_ios:before {
	content: "\e626";
}

.pis-dropbox:before {
	content: "\e627";
}

.pis-vimeo2:before {
	content: "\e628";
}

.pis-flickr:before {
	content: "\e629";
}

.pis-windows82:before {
	content: "\e62a";
}

.pis-flickr2:before {
	content: "\e62b";
}

.pis-dribbble:before {
	content: "\e62c";
}

.pis-amazon:before {
	content: "\e62d";
}

.pis-behance2:before {
	content: "\e62e";
}

.pis-google:before {
	content: "\e62f";
}

.pis-paypal:before {
	content: "\e630";
}

.pis-google-drive:before {
	content: "\e631";
}

.pis-appstore2:before {
	content: "\e632";
}

.pis-yahoo:before {
	content: "\e633";
}

.pis-github_rounded:before {
	content: "\e634";
}

.pis-social_visa_round:before {
	content: "\e635";
}

.pis-social_ios_round:before {
	content: "\e636";
}

.pis-social_amex:before {
	content: "\e637";
}

.pis-social_mastercard_round:before {
	content: "\e638";
}

.pis-google2:before {
	content: "\e639";
}

.pis-ebay:before {
	content: "\e63a";
}

.pis-html52:before {
	content: "\e63b";
}

.pis-github:before {
	content: "\e63c";
}

.pis-social_osx_round:before {
	content: "\e63d";
}

.pis-windows-2:before {
	content: "\e63e";
}

.pis-windows:before {
	content: "\e63f";
}

.pis-stackoverflow:before {
	content: "\e640";
}

.pis-google-drive2:before {
	content: "\e641";
}

.pis-dribbble2:before {
	content: "\e642";
}

.pis-social_amex_round:before {
	content: "\e643";
}

.pis-paypal2:before {
	content: "\e644";
}

.pis-dropbox2:before {
	content: "\e645";
}

.pis-deviantart:before {
	content: "\e646";
}

.pis-social_deviantart:before {
	content: "\e647";
}

.pis-picasa:before {
	content: "\e648";
}

.pis-social_deviantart_round:before {
	content: "\e649";
}

.pis-yahoo2:before {
	content: "\e64a";
}

.pis-stumbleupon:before {
	content: "\e64b";
}

.pis-wordpress2:before {
	content: "\e64c";
}

.pis-digg:before {
	content: "\e64d";
}

.pis-amazon2:before {
	content: "\e64e";
}

.pis-technorati:before {
	content: "\e64f";
}

.pis-picasa2:before {
	content: "\e650";
}

.pis-social_evernote:before {
	content: "\e651";
}

.pis-lastfm:before {
	content: "\e652";
}

.pis-social_evernote_round:before {
	content: "\e653";
}

.pis-myspace:before {
	content: "\e654";
}

.pis-forrst:before {
	content: "\e655";
}

.pis-stumbleupon2:before {
	content: "\e656";
}

.pis-technorati2:before {
	content: "\e657";
}

.pis-stumbleupon_rounded:before {
	content: "\e658";
}

.pis-ebay2:before {
	content: "\e659";
}

.pis-deviantart2:before {
	content: "\e65a";
}

.pis-lastfm2:before {
	content: "\e65b";
}

.pis-delicious:before {
	content: "\e65c";
}

.pis-stackoverflow_rounded:before {
	content: "\e65d";
}

.pis-digg2:before {
	content: "\e65e";
}

.pis-forrst2:before {
	content: "\e65f";
}

.pis-myspace2:before {
	content: "\e660";
}

.pis-stumbleupon3:before {
	content: "\e661";
}

.pis-delicious2:before {
	content: "\e662";
}

