.page-sponsors-become {
  .views-row-last {
    .pricing-table-item {
      right: 33.3%;
      margin-top: rem(50px);
    }
  }
  .pricing-table-item {
    margin: rem(20px 0 0 0);
  }
  .pane-pricing-tables-panel-pane-2 {
    padding: rem(50px 0 85px);
    .pane-title {
      margin-left: rem(15px);
      text-align: left;
      text-transform: initial;
      @include lato;
      @include normal;
      @include font-size-xxx-large;
      line-height: 1.6;
      color:  #03385d;
    }
    .view-header {
      @include clearfix;
      span {
        @include lato;
        @include normal;
        @include font-size-large;
        color:  #3678ae;
        a {
          color:  #de303e;
        }
      }
      .mini {
        width: 68px;
        height: 1px;
        border: none;
        background: #4db7ed;
        display: block;
        margin: 0 auto 18px auto;
      }
    }
    .view-content:after {
      content: '';
      display: table-cell;
      clear: both;
    }
    .pricing-header {
      padding: rem(17px 0);
      @include martel;
      @include bold;
      @include font-size-x-large;
      text-align: center;
      font-weight: 700;
      background-color: #004d79;
      color: #fff;
    }
    .feature-wrapper {
      .feature-title {
        @include font-size-regular;
      }
    }
    .featured .pricing-header {
      background: #de303e;
    }
    .pricing-header .pricing-row {
      display: block;
      line-height: 26px;
    }
    .features-wrapper {
      .item-list {
        @include breakpoint($tablet) {
          width: 100%;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }
      }
      .views-row {
        border-bottom-style: dotted;
        border-width: 1px;
        border-top-width: 0;
        border-color: #e5e5e5;
        font-weight: 400;
        font-size: 14px;
        color: #323232;
        position: relative;
      }
      .feature-value {
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 16px;
        margin-top: -8px;
        color: #53b329;
      }
      .value-raw-0.feature-value {
        color: #ed7677;
      }
    }
    .apply-wrapper {
      border: 1px #e5e5e5 solid;
      border-top: none;
      padding: 16px 0;
      text-align: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 5px;
      a {
        display: inline-block;
        margin: rem(15px 0);
        padding: rem(10px 20px);
        text-align: center;
        border: 1px solid #88a2bb;
        @include border-radius(3px);
        font-family: 'MartelSans', sans-serif;
        @include normal;
        @include font-size-regular; 
        font-weight: 700;
        color:  #88a2bb;
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);
        &:hover {
          background-color: #88a2bb;
          color: #fff;
        }
      }
    }
    .view-footer {
      margin-top: 55px;
      text-align: center;
      color: #3678ae;
      font-size: 18px;
    }
    padding: 45px 0;
    .view-pricing-tables > .view-content > .views-row {
      margin-top: 25px;
    }
    .views-row-1 {
      margin-top: 0px;
    }
  }
}
@include breakpoint(max-width 992px) {
  .pane-pricing-tables-panel-pane-2 .item-list {
    float: none;
  }
}
