

// Footer
.frame-footer {
	background: #02385c;
	color: #546572;
	@include scale(padding, 46px 0 40px);
	
	.panel-pane {
		float: left;
	}
	
	.footer-logo {
		width: 20%;
		@include breakpoint($tablet) {
			width: 20%;
		}
		img {
			@include scale(max-width, 150px);
		}
	}

	.footer-socials {
		float: right;
		@include scale(padding, 15px 0);
	@include breakpoint($desktop-small) {
			float: left;
		}
		
		.menu {
			li {
				float: left;
				@include scale(margin-right, 15px);
			}
			
			a {
				color: #546572;
				@include fontsize-rem(20px);
				
				&:hover {
					color: #29e1e6;
				}
			}
		}
	}

	.footer-mail-form {
		clear: both;
		float: none;
		margin: auto;
		width: 80%;
		position: relative;
		@include clearfix;
		@include scale(padding-top, 25px);

		@include breakpoint($desktop-small) {
			clear: none;
			float: right;
			padding: 0;
			width: 39%;
		}

		input {
			border: none;
			float: left;
			@include font-size-regular;
			@include scale(height, 48px);
		}
		
		.icon {
			position: absolute;
			left: 3%;
			color: #02385c;
			@include scale(top, 41px);
			@include breakpoint($desktop-small) {
				left: 4%;
				@include scale(top, 16px);
			}
		}

		.email {
			color: #b4bbc2;
			width: 64%;
			@include scale(padding, 0 20px 0 43px);
			@include border-radius(24px 0 0 24px);
			border: 1px solid transparent;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:focus {
				border: 1px solid #de303e;
				color: #02385c;
			}
		}
		
		.button {
			background-color:  #de303e;
			color: #fff;
			width: 34%;
			@include border-radius(0 24px 24px 0);
			font-family: 'Lato', sans-serif;
			@include normal;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				color: #02385c;
			}
		}
	}
}