.frame-top {
	background: #fff;
  position: relative;
  z-index: 1;
  @include exo;
  @include scale(padding-top, 15px);
  @include scale(padding-bottom, 15px);

  @include breakpoint($tablet) {		
    @include scale(padding-top, 35px);
    @include scale(padding-bottom, 23px);
  }

  .pane-page-logo {
    @include breakpoint($mobile-only) {		
    	@include scale(margin-bottom, 15px);
    }
  }
}

a {
  @include font-params(18px, 24px);
}

.menu-main-menu{
  float: right;
}



.depth-1 {
  float: left;
  position: relative;
  padding: rem(0 10px 5px);
  margin: 0;
  a {
    color: #fff;
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    &:hover {
      color: #fbff51;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    left: 0;
    @include scale(min-width, 200px);
    @include scale(padding, 10px 0);
    @include border-radius(0 0 5px 5px);
    @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.2));
    z-index: 10;
    a {
      @include fontsize-rem(15px);
      @include scale(padding, 6px 20px);
      display: block;
      font-weight: normal;
      color: #004d79;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  &:hover ul {
    display: block;
  }
  .menu {
    .depth-2 {
      a {
        &:hover {
          color: #004d79;
        }
      }
    }
  }
}


// Mobile
.tap-menu {
  text-align: center;
  @include fontsize-rem(22px);
  color: #fff;
  cursor: pointer;
}
ul.menu-main-menu.mobile-enabled {
  float: none;
  padding: 30px 0; 

  li {
    float: none;
    text-align: center;
    padding: 8px 0;

    &:hover ul {
      display: none;
    }

    &.clicked-once ul {
      display: block;
      float: none;
      position: static;
    }
  }

}

// Breadcrumb

.special-breadcrumb-wrapper {
  @include breakpoint($desktop-small) {
    @include scale(padding-right, 300px);
  }
}

.pane-cep-breadcrumb-generic {
  @include scale(min-height, 67px);

}

.frame-breadcrumb {
  .container {
    position: relative;
  }
  
  .special-breadcrumb {
    @include clearfix;
  }
  
  .breadcrumb {
    position: relative;
    z-index: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    -webkit-border-radius: none;
    float: left;
    color: #004d79;;
    @include fontsize-rem(12px);
    @include martel;
    @include scale(padding, 24px 0 0);  
    @include scale(margin-bottom, 5px);

    a {
      @include font-size-xx-small;
      color: #004d79;
    }
    
    .sep {
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      @include scale(height, 22px);
      @include scale(margin, 0 5px);
      @include scale(width, 5px);
      
      &:before {
        content: "/";
        display: inline-block;
        text-indent: 0;
      }
    }
  }
  
  .title {
    color: #fff;
    @include martel;
    @include scale(padding-bottom, 15px);

    h1 {
      line-height: 1;
      @include light;	
      @include fontsize-rem(30px);	

      @include breakpoint($tablet) {	
       @include extralight;	
       @include fontsize-rem(48px);
     }
   }
 }

 .date-location-wrapper{
//   color: #fff;
//   @include scale(padding, 15px);

//   @include breakpoint($mobile-only) {		
//    @include scale(margin, 0 -15px);
//  }

//  @include breakpoint($desktop-small) {
//    @include scale(padding, 26px 0 26px 10px);
//    left: 100%;
//    height: 100%;
//    position: absolute;
//    top: 0;
//    width: 100%;
//    @include scale(margin-left, -300px);
//  }

//  @include breakpoint($desktop-wide) {
//    @include scale(margin-left, -200px);
//  }

 div {
  position: relative;
}

.date {
  @include fontsize-rem(24px);
  @include light;
}

.location {
  @include fontsize-rem(14px);
  @include extralight;
  @include martel;
}
}

.date-location-inner {
  display: table;
  height: 100%;
}
.date-location-cell {
  display: table-cell;
  vertical-align: middle;
}
}
