.system-messages {
  background-color: $natural-red;

  .tabs {
    @extend %clearfix;

    li {
      @include scale(margin-right, 20px);
      @include scale(padding, 10px 0);
      display: inline-block;
      float: left;
    }

    a {
      color: $natural-red;
    }

  }

  .panel-pane {
    @include fontsize-rem(14px);
  }
}
//////////////////////



