.page-agenda-schedule {
   @include lato;
}
.view-schedule {
  .views-row {
    .views-field-field-room {
      a {
        line-height: 1;
        color: #4fc9a4;
      }
      .views-field-label {
        display: none;
      }
      .field-content a:before {
        content: 'in ';
        color: #aaa;
        font-weight: 300;
        font-size: 14px;
      }
    }
    .views-field-field-speaker-s-,
    .views-field-field-session-difficulty,
    .views-field-field-session-language {
      a {
        @include fontsize-rem(15px);
        font-family: "Martel Sans",sans-serif;
        color: #777;
        font-weight: 400;
      }
    }
  }
  .item-list {
    width: 100%;
    float: none;
  }
  .view-display-id-sessions_time_slot_pane {
    .views-row {
      font-family: "Exo 2",sans-serif;

      .views-field-field-speaker-s-,
      .views-field-field-session-difficulty,
      .views-field-field-session-language {
        padding-left: 0;
        padding-bottom: 0;
      }

    }
    .views-row.views-row-first.views-row-last {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .quicktabs-tabs {
    width: 60%;
    margin: 10px auto 70px;
    text-align: center;
    .views-field-field-date-and-time-1 {
      font-family: "Exo 2",sans-serif;
    }
    li {
      display: inline-block;
      margin: rem(7px 0);
      padding: 0 10%;
      a {
        @include exo;
        @include fontsize-rem(32px);
      }
      &.active a {
        text-decoration: underline;
        color: #4fc9a4;
      }
    }
    @include breakpoint($mobile-only) {
      width: 100%;
      text-align: center;
    }
  }

  .quicktabs-views-group {
    margin: 30px 0;
    @include clearfix;
    border-top: 1px dashed #4fc9a4;
    padding-top: 30px;

    &:first-child {
      border: none;
      padding: 0;
    }

    .views-field-field-date-and-time-1 {
      width: 10%;
      float: left;
      display: block;

      .date-display-start,
      .date-display-end {
        @include bold;
      }
      @include breakpoint($mobile-only) {
        float: none;
        width: 100%;
        text-align: center;
      }
    }
  }

  .view-display-id-sessions_time_slot_pane {
    width: 90%;
    float: left;

    @include breakpoint($mobile-only) {
      width: 100%;
    }

    .views-row {
      width: 33%;
      float: left;
      padding: 0 30px;
      position: relative;

      @include breakpoint($mobile-only) {
        width: 100%;
        padding: 20px 30px;
      }

      .views-field-ops {
        width: 90%;
        position: relative;
        float: none;
        @include breakpoint($mobile-only) {
          width: 100%;
        }
        .flag-wrapper {
          position: static;
          a {
            margin: 25px auto 5px;
            max-width: none;
            text-align: center;
          }
          .flag-throbber {
            position: absolute;
            top: 8px;
            right: 20px;
          }
          .flag-message {
            top: -24px;
          }
        }
      }

      .views-field-view-node {
        float: none;
        width: 90%;
        margin: 5px 0;
        @include breakpoint($mobile-only) {
          width: 100%;
        }

        a {
          margin-top: rem(25px);
          text-align: center;
          @extend %dark-button;

          &:hover {
            color: #fff;
          }
        }
        &.schedule_item-wrapper {
          display: none;
        }
      }

      .views-field-field-speaker-s-,
      .views-field-field-session-difficulty,
      .views-field-field-session-language {
        padding: 3px 10px;
        .views-label {
          padding: 3px;
        }
      }
      .views-field-title {
        margin-bottom: 10px;
      }
      .views-field-count {
        margin-top: 10px;
      }
    }
  }
}
