.node-type-session {
  .frame-top_section {
    background: #f8fafb;
    padding: 50px 0 20px;
    margin-bottom: 20px;
    .pane-node-title h3 {
      text-transform: uppercase;
      @include extrabold;
      @include fontsize-rem(36px);
    }
    .session-header-wrapper {
      @include clearfix;

      .item-list {
          float: none;
          width: 100%;
          padding: 0;
          li {
            clear: both;
            overflow: hidden;
            margin-bottom: 5px;
          }
        }
        .icon {
          float: left;
          width: 33px;
          color: #1d2123;
          font-size: 17px;
          position: relative;
          top: 3px;
        }
        .field-label {
          font-weight: 600;
          font-size: 16px;
          float: left;
          width: 200px;
          color: #1d2123;
          @include bold;
        }
        .field-items .field-item {
          float: left;
          &:after {
            content: ',';
            margin-right: 5px;
          }
          &:last-child:after {
            display: none;
          }
        }
    }
  }

  .frame-middle_section {
    padding: 20px 0 0;

    .pane-node-field-slides {
      img {
        display: none;
      }
    }
    .pane-node-field-slides a:before,
    .pane-node-field-slides-link a:before {
      font-family: 'entypo';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e63f";

      float: left;
      width: 33px;
      color: #83387b;
      font-size: 17px;
      position: relative;
      top: 3px;
    }
    .pane-node-field-slides a:before {
      content: "\e6cf";
    }
    .pane-node-content {
      .field-item {
        @include scale(line-height, 30px);

        img {
          @include scale(margin, 20px);
          max-width: 90%;
        }
      }
    }
  }
}

