.pane-node-created,
.timestamp {
	@include font-size-xx-small;
	color: #838d8f;
	font-style: italic;
	padding: 0;
	@include martel;
	line-height: 1;
}
.pane-node-created {
	margin-bottom: 10px;
}
.pane-node-field-basic-tags {
	padding-left: 25px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 14px;
	color: #899198;
	@include martel;
	font-weight: 700;
	.field-item {
		float: left;
		padding-right: 16px;
		position: relative;
		line-height: 14px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 8px;
			right: 6px;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background: #899198;
		}
		a {
			color: #899198;
			&:hover {
				color: #157efb;
			}
		}
	}
}

.pane-node-title {
	font-size: 35px;
	color: #1d2123;
	@include martel;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 0 30px 0;
	line-height: 1em;
	h2 {
		font-size: 35px;
		line-height: 1.1em;
	}
}

.pane-node-body {
	font-size: 16px;
	@include martel;
	font-weight: 500;
	color: #1d2123;
	p {
		font-size: 16px;
		line-height: 1.8em;
		color: #1d2123;
		margin-bottom: 20px;
	}
}

.pane-node-comments {
	padding-top: 15px;
	.indented {
		padding-left: 50px;
	}
	.pane-title {
		@include martel;
		font-weight: 700;
		padding-left: 14px;
		padding-bottom: 22px;
		line-height: 1em;
		font-size: 22px;
		color: #3a3d3f;
		border-bottom: 1px #e7e7e7 solid;
	}
	.comment {
		padding: 25px 0;
		border-bottom: 1px #e7e7e7 solid;
		&:last-child {
			border-bottom: 0;
		}
	}
	.submitted {
		margin-top: -3px;
	}
	.field-name-comment-body {
		padding: 10px 0 8px;
		p {
			@include martel;
			font-size: 16px;
			color: #525b5d;
			line-height: 24px;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.pane-node-comment-form {
	background: #f2f5f8;
	margin-bottom: 15px;
	.pane-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 15px;
		color: #3b3d40;
		letter-spacing: 1px;
		padding: 15px 0;
		margin: 0;
		display: block;
		border-bottom: 1px #e6e9eb solid;
	}
	.pane-content {
		padding: 15px 25px 20px;
	}
	.form-submit {
		width: auto;
	}
}

.standard-avatar {
	display: block;
	width: 50px;
	height: 50px;
	background: #823679;
	border-radius: 100%;
	position: relative;
	&:after {
		content: attr(data-letter);
		display: block;
		position: absolute;
		font-size: 22px;
		text-transform: uppercase;
		color: #fff;
		top: 8px;
		width: 100%;
		text-align: center;
	}
}

.links.inline {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1em;
	@include martel;
	font-weight: 700;
	li {
		margin: 0;
		padding: 0;
		float: left;
		margin-right: 10px;
		line-height: 1em;
		a {
			font-size: 11px;
			line-height: 1em;
			color: #1f79ed;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
}

.username,
a.username {
	display: block;
	margin: rem(9px 10px 0 0);
	@include martel;
	@include bold;
	color: #3c3d41;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
