.tabs {
  width: 100%;
  max-width: 1300px;
  margin: rem(30px auto 0 auto);
  li {
    list-style-type: none;
  }
  ul {
    &.primary, &.secondary {
      overflow: hidden;
      *zoom: 1;
      list-style: none;
      margin: 0 0 1.5em;
      padding: 0 2px;
      white-space: nowrap;
    }
    &.primary li, &.secondary li {
      float: left;
      margin: 0.5em 3px 0;
    }
    &.primary a, &.secondary a {
      display: block;
      line-height: 1.5em;
      text-decoration: none;
    }
    &.primary {
      li {
        margin: 0.5em 0 0 0;
        &.active {
        }
      }
      a {
        padding: 10px 20px;
        &:link, &:visited {
          color: #333333;
          background-color: #E6EBEF;
          letter-spacing: 1px;
          text-align: center;
        }
        &:hover, &:focus {
          background-color: #B3C3D0;
        }
        &.active {
          background-color: #033D65;
          *zoom: 1;
          color: #fff;
          border: 0 none;
          text-shadow: none;
          @include bold;
          @include border-radius(0);
        }
      }
    }
    &.secondary {
      font-size: 0.9em;
      margin-top: -1.5em;
      padding-bottom: 0.5em;
      a {
        &:link, &:visited {
          @include border-radius(0.75em);
          -webkit-transition: background-color 0.3s;
          -moz-transition: background-color 0.3s;
          -ms-transition: background-color 0.3s;
          -o-transition: background-color 0.3s;
          transition: background-color 0.3s;
          text-shadow: white 1px 1px 0;
          background-color: #f2f2f2;
          color: #666666;
          padding: 0 0.5em;
        }
        &:hover, &:focus {
          background-color: #dedede;
          border-color: #999999;
          color: #333333;
        }
        &.active, &:active {
          text-shadow: #333333 1px 1px 0;
          background-color: #666666;
          border-color: black;
          color: white;
        }
      }
    }
  }
}

// .html {
//   .horizontal-tabs-list,
//   .quicktabs-tabs,
//   .ui-tabs-nav {
//     padding: 0;
//     background: transparent;
//     border: none;
//     border-bottom: 1px solid darkgrey;
//     @include border-radius(0);
//     @include clearfix;
//     li {
//       list-style-type: none;
//       float: left;
//       min-width: 24%;
//       margin-right: 1%;
//       text-align: center;
//       border: 1px solid #000;
//       border-top: none;
//       background: #000;
//       @include fontsize-rem(16px);
//       @include border-radius(2px 2px 0 0);
//       @include breakpoint($tablet) {
//         min-width: 20.5%;
//         @include fontsize-rem(21px);
//         @include scale(margin-right, 6px);
//       }
//     }
//     a {
//       display: block;
//       @include scale(padding, 17px 5px 16px);
//       @include breakpoint($tablet) {
//         @include scale(padding, 13px 10px);
//       }

//       &:hover {
//         text-decoration: none;
//       }
//     }
//     .selected,
//     li.active,
//     .ui-state-active {
//       border: 1px solid darkgrey;
//       border-bottom-color: white;
//       background: white;
//       position: relative;
//       @include scale(margin-bottom, -1px);
//       @include breakpoint($small-mobile-only) {
//         position: relative;
//         bottom: -1px;
//       }

//       a {
//         color: #3f3f3f;
//       }
//     }
//   }
//   .ui-widget-content {
//     padding: 20px 0;
//   }
// }

// .horizontal-tabs .horizontal-tab-hidden {
//   display: block;
//   position: absolute;
//   top: -100000px;
//   width: 100%;
// }

// .horizontal-tabs-panes {
//   min-width: 0;
//   color: $grey-3f;
//   @include scale(line-height, 22px);
//   @include breakpoint($tablet) {
//     @include scale(line-height, 24px);
//   }
// }

// .ui-tabs .ui-tabs-hide {
//   display: none !important;
// }
