.page-user {
  input {
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    &:focus {
      border: 1px solid #4fc9a4;
    }
  }
  .form-actions {
    input {
      width: 100%;
      @include martel;
      color: #033c64;
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
      &:hover {
        background-color: #033c64;
        color: #fff;
      }
    }
  }
}

.pane-user-login-form {
  .pane-content {
    padding: rem(10px 20px 10px 0);
  }
}

.pane-user-register-form {
  .pane-content {
    padding: rem(10px 20px 10px 0);

    .username {
      
      @include normal;
      margin: 0;
      letter-spacing: 0;
      font-size: 16px;
      text-transform: none;
    }

    .form-type-textfield.username {
      margin: rem(0 0 20px 0);
    }
  }
}

.page-user .pane-page-content .pane-content {
  width: 1170px;
  max-width: 100%;
  margin: auto;
}

.description {
  @include fontsize-rem(12px);
}