//Breakpoints definition

// Mobile first.
$small-mobile: 480px;
$tablet: 768px;
$desktop-small: 992px;
$desktop-wide: 1200px;


// Pick specific breakpoint.
$small-mobile-only: 'screen' 'max-width' $small-mobile - 1;
$mobile-only: 'screen' 'max-width' $tablet - 1;
$mobile-and-tablet: 'screen' 'max-width' $desktop-small - 1;
$tablet-only: $tablet $desktop-small - 1;


// Grid variables
$container-margin: 20px;