// List of buildin mixins
// input-placeholder - http://compass-style.org/examples/compass/css3/input-placeholder/
// opacity - http://compass-style.org/examples/compass/css3/opacity/
// user-select - http://compass-style.org/reference/compass/css3/user_interface/#mixin-user-select

//DEFAULT font-size FUNCTION
//Add font-size properties in px only.
//Use this function as a default font-size parameter that will use global line height.
//(px)
@mixin fontsize-rem($size) {
  font-size: rem($size);
}

//Add font size params if you are required to set specific line height.
//The same as defaut font-size function the only exception added here is calculated line-height in REM units (based on given px units values).
//(px,px)
@mixin font-params($size, $lh) {
  font-size: rem($size);
  line-height: rem($lh);
}

@mixin exo {
  font-family: "Exo 2", sans-serif;
}

@mixin martel {
  font-family: "Martel Sans", sans-serif;
}
@mixin montserrat {
font-family: 'Montserrat', sans-serif;
}
@mixin lato {
  font-family: 'Lato', sans-serif;
}

@mixin opensans {
  font-family: Open Sans;
}

@mixin entypo {
  font-family: 'entypo';
}
@mixin flat-icons {
  font-family: 'flat-ui-icons';
}
@mixin picons {
  font-family: 'picons-social';
}

@mixin extralight {
  font-weight: 100;
}

@mixin light {
  font-weight: 300;
}

@mixin normal {
  font-weight: 400;
}

@mixin semibold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}

@mixin extrabold {
  font-weight: 900;
}



// a small mixin for easy use of rem with px as fallback
// usage: @include scale(font-size, 14px)
// usage: @include scale(margin, 0 12px 2 1.2)
// usage: @include scale(padding, 16px, true) == padding: 1rem 1rem 1rem 1rem !important
//
// thanks to Eric Meyer for https://github.com/ericam/susy
// and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/



@mixin scale($property, $values, $important: null) {
  // Create a couple of empty lists as output buffers.
  $px-values: ();
  $rem-values: ();

  // Loop through the $values list
  @each $value in $values {
    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if $value == 0 or $value == 0 {
      // 0 -- use it without a unit
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    }

    @else if type-of($value) == number and not unitless($value) and unit($value) == px {
      // px value given - calculate rem value from base-font-size
      $new-rem-value: $value / $base-font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    }

    @else {
      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: join($px-values, round($value * $base-font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }

  //check for !important
  @if $important {
    $px-values: #{$px-values + " !important"};
    $rem-values: #{$rem-values + " !important"};
  }

  // output the converted rules
  @if $ie-8 == true {
    #{$property}: $px-values;
  }

  @else {
    #{$property}: $rem-values;
  }
}

//Automated sprite creator
//USAGE: @include sprite-background(down_open_mobile);

@mixin sprite-background($name) {
  background-image: sprite-url($sprites);
  background-position: sprite-position($sprites, $name);
  background-repeat: no-repeat;
  display: block;
  height: rem(image-height(sprite-file($sprites, $name)));
  width: rem(image-width(sprite-file($sprites, $name)));
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
    // Workaround for https://gist.github.com/2140082
    @if sprite-position($sprites, $name) != sprite-position($sprites-retina, $name) {
      $ypos: round(nth(sprite-position($sprites-retina, $name), 2) / 2);
      background-position: 0 $ypos;
    }
    // Hard coded width of the normal sprite image. There must be a smarter way to do this.
    @include background-size(rem(14px) auto);
    background-image: sprite-url($sprites-retina);
  }
}

//Single image background with retina support
//USAGE:  @include background-image-retina('preloader', 'GIF', rem(20px), rem(20px));
@mixin background-image-retina($file, $type, $width, $height) {
  @include background-image(image-url($file + '.' + $type));

  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      @include background-image(image-url($file + '@2x.' + $type));
      -webkit-background-size: $width $height;
    }
  }
}

// Add demo label for responsive info.
@mixin show-breakpoints {
  &:after {
    @include scale(bottom, 20px);
    @include scale(right, 20px);
    @include scale(padding, 5px 10px);
    @include border-radius(20px);
    @include box-shadow(0px 1px 10px rgba(36, 36, 36, 0.2));
    @include fontsize-rem(16px);
    content: "Mobile";
    position: fixed;
    display: block;
    color: black;
    background-color: rgba(174, 201, 222, 0.75);
    z-index: 1000;

    @include breakpoint($tablet) {
      content: "Tablet" !important;
    }

    @include breakpoint($desktop-small) {
      content: "Small desktop" !important;
    }

    @include breakpoint($desktop-wide) {
      content: "Wide desktop" !important;
    }
  }
}


// Clearfix as mixin.
//Clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin placeholder($color) {
  &:focus {
    outline: 0 none
  }
  &::-webkit-input-placeholder {
    color: $color
  }
  &:-moz-placeholder {
    color: $color
  }
  &::-moz-placeholder {
    color: $color
  }
  &:-ms-input-placeholder {
    color: $color
  }
  &.placeholder {
    color: $color
  }
}

/// The list-separator function returns the separator of a list

// list-separator polyfill by Hugo Giraudel (https://sass-compatibility.github.io/#list_separator_function)

@function rem-separator($list) {
  @if function-exists("list-separator") == true {
    @return list-separator($list);
  }

  $test-list: ();
  @each $item in $list {
    $test-list: append($test-list, $item, space);
  }

  @return if($test-list == $list, space, comma);
}

@mixin rem-baseline($zoom: 100%) {
  font-size: $zoom / 16px * $rem-baseline;
}

@function rem-convert($to, $values...) {
  $result: ();
  $separator: rem-separator($values);

  @each $value in $values {
    @if type-of($value) == "number" and unit($value) == "rem" and $to == "px" {
      $result: append($result, $value / 1rem * $rem-baseline, $separator);
    } @else if type-of($value) == "number" and unit($value) == "px" and $to == "rem" {
      $result: append($result, $value / ($rem-baseline / 1rem), $separator);
    } @else if type-of($value) == "list" {
      $result: append($result, rem-convert($to, $value...), $separator);
    } @else {
      $result: append($result, $value, $separator);
    }
  }

  @return if(length($result) == 1, nth($result, 1), $result);
}

@function rem($values...) {
  @if $rem-px-only {
    @return rem-convert(px, $values...);
  } @else {
    @return rem-convert(rem, $values...);
  }
}

@mixin rem($properties, $values...) {
  @if type-of($properties) == "map" {
    @each $property in map-keys($properties) {
      @include rem($property, map-get($properties, $property));
    }
  } @else {
    @each $property in $properties {
      @if $rem-fallback or $rem-px-only {
        #{$property}: rem-convert(px, $values...);
      }
      @if not $rem-px-only {
        #{$property}: rem-convert(rem, $values...);
      }
    }
  }
}