@import "helpers/animations.scss";
.pane-content {
	@include clearfix;
}
html, body {
	position: static;
}
.frame-top {
	z-index: 6;
	top: rem(87px);
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.header-text {
	margin: rem(0 0 36px 0);
	@include montserrat;
	@include bold;
	@include font-size-xxxx-large;
	font-weight: 700;
	line-height: 1.12;
	.highlighted {
		padding: rem(0 15px);
		z-index: 5;
		position: relative;
		background-color:  #4fc9a4;
		&:after {
			content: " ";
			background: {
				image: url(../images/drupal-guy.png);
				position: left center;
				repeat: no-repeat;
				size: contain;
			}
			width: 100%;
			height: 414px;
			position: absolute;
			top: rem(-75px);
			right: rem(-162px);
			z-index: -1;
		}
		&:before {
			content: " ";
			background-image: url(../images/smoke.png);
			width: 370px;
			height: 249px;
			position: absolute;
			top: rem(170px);
			left: rem(31px);
			z-index: -1;
		}
	}
}

.watch-icon, .social-icons {
	display: inline-block;
}

.watch-icon {
	a {
		padding: rem(20px 38px);
		@include border-radius(31px);
		@include lato;
		@include normal;
		@include font-size-large;
		text-align: center;
		background-color:  #03385d;
		color: #fff;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		span {
			padding: rem(0 12px 0 0);
		}
		&:hover {
			background-color: #fff;
			color: #03385d;
		}
	}
}

.primary-links {
	float: right;
	margin: rem(4px 53px 0 0);
	li {
		@include lato;
		@include normal;
		display: inline-block;
		margin: rem(0 14px);
		a {
			@include font-size-large;
			color: #fff;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				color: #fbff51;
			}
		}
	}
}
.background-image {
	&:after {
		z-index: 5;
		content: " ";
		background-image: url(../images/mars.png);
		width: 141px;
		height: 162px;
		position: absolute;
		right: 0;
		top: rem(150px);
		@include animation(rotate-mars, 8s, $timing-function: linear, $iteration-count: infinite, $direction: alternate);
	}
	&:before {
		content: " ";
		height: 655px;
		position: absolute;
		border: 5px solid #fff;
		width: 90%;
		left: 5%;
		margin: rem(40px 0 0 0);
	}
}

.multi-header-wrapper {
	padding: rem(0 0 123px 0);
	background-color: #004d79;
	.date-location-wrapper {
		@include lato;
		@include bold;
		position: absolute;
		bottom: rem(192px);
		right: 0;
		margin: rem(0 30px 0 0);
	}
}

.announce-row:last-child {
	margin: rem(0 0 0 25px);
}

.pane-page-site-name {
	margin: rem(0 0 0 50px);
	@include lato;
	font-weight: 900;
	a {
		@include extrabold;
		@include font-size-x-large;
		color:  #4fc9a4;
	}
}

.multicolor-left-wrapper { 
	z-index: 5;
	.mission {
		padding: rem(2px 0 18px 52px);
		@include lato;
		@include normal;
		@include font-size-x-large;
		&:before {
			content: " ";
			background-color: #fbff51;
			width: 36px;
			height: 5px;
			position: absolute;
			top: rem(200px);
			left: 0;
		}
	}
}

.social-icons {
	margin: rem(0 0 0 20px);
	a {
		display: inline-block;
		margin: rem(0 4px);
		color: #fff;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			color: #fbff51;
		}
	}
}

.simple-text {
	text-align: left;
	color:  #3678ae;
	@include lato;
	@include normal;
	@include font-size-x-large;
	font-weight: 400;
	line-height: 1.7;
	&-wrapper {
		margin: rem(88px 0);
	}
}

.frame-highlight_sponsors {
	z-index: 6;
	border-bottom: 1px solid #f2f5f8;
	.pane-title {
		display: inline-block;
	}
}

.pane-partners-panel-pane-1, .pane-sponsors-panel-pane-1 {
	display: table;
	.pane-title {
		display: table-cell;
		vertical-align: middle;
		@include montserrat;
		@include bold;
		@include font-size-small;
		font-weight: 700;
		color:  #004d79;
	}
}

.pane-partners-panel-pane-1 {
	margin: rem(0 0 0 30px);
}

.views-field-field-partner-logo {
	img {
		margin: rem(0 0 0 15px);
	}
}

.pane-sponsors-panel-pane-1 {
	.views-row {
		display: inline-block;
	}
	img {
		margin: rem(0 0 0 45px);
	}
}

.pane-bundle-call-to-action {
	border-top: 3px solid #f2f5f8;
	border-bottom: 3px solid #f2f5f8;
}

.cta-left-wrapper {
	padding: rem(50px 0 79px 82px);
	@include lato;
	.cta-title {
		line-height: 1.65;
		@include normal;
		@include font-size-xxx-large;
		color: #004d79;
	}
	.cta-description {
		padding: rem(0 50px 0 0);
		@include font-size-large;
		color:  #3678ae;
		.field-item {
			line-height: 1.75;
		}
	}
// 	&:before {
// 		content: " ";
// 		background-image: url(../images/moon.png);
// 		width: 162px;
// 		height: 169px;
// 		position: absolute;
// 		bottom: rem(-20px);
// 		left:  0;
// 	}
}

//***These styles mess everything in Phase 2 of Moldcamp

/// Here are styles for buttons

// .ent-ticket, .ent-circle-with-plus  {
// 	@include lato;
// 	@include normal;
// 	display: inline-block;
// 	@include font-size-large;
// 	color: #fff;
// 	&:focus {
// 		color: #fff;
// 	}
// }

// .ent-circle-with-plus {
// 	margin: rem(20px 20px 0 0);
// 	padding: rem(11px 42px 15px 42px);
// 	@include border-radius(22px);
// 	background-color: #004d79;
// 	@include transition-duration(0.2s);
// 	@include transition-timing-function(ease-in);
// 	&:hover {
// 		background-color: #02385c;
// 		color: #fff;
// 	}
// 	&:focus {
// 		background-color: #004d79;
// 	}
// }

// .ent-ticket {
// 	margin: rem(108px 0 0 0);	
// 	padding: rem(22px 51px);
// 	@include border-radius(31px);
// 	background-color:  #03385d;
// 	@include transition-duration(0.2s);
// 	@include transition-timing-function(ease-in);
// 	&:before {
// 		right: rem(15px);
// 	}
// 	&:hover {
// 		background-color: #d2f4ff;
// 		color: #03385d;
// 	}
// 	&:focus {
// 		color: #fff;
// 		background-color: #03385d;
// 	}
// }

.ent-ticket:before, .ent-circle-with-plus:before {
	position: relative;
	font-family: 'entypo'
}

.ent-circle-with-plus {
	&:before {
		top: rem(2px);
		right: rem(15px);
	}
}


////


#sponsors { 
	@include clearfix;
	margin: rem(78px 0);
	.pane-title {
		margin: rem(0 0 0 15px);
		@include lato;
		@include normal;
		@include font-size-xxx-large;
		line-height: 1.6;
		color:  #03385d;
	}
}

.view-header {
	@include clearfix;
	span {
		@include lato;
		@include normal;
		@include font-size-large;
		color:  #3678ae;
		a {
			color:  #de303e;
		}
	}
}

.features-wrapper {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	.item-list {
		width: 100%;
		float: none;
		padding: 0;
	}
}

.feature-title {
	@include lato;
	@include normal;
}

.feature-title, .feature-value {
	display: inline-block;
}

.pricing-table-item {
	margin: rem(45px 0 0 0);
}

.pricing-row {
	display: block;
	text-align: center;
}

.pricing-header {
	padding: rem(17px 0);
	@include martel;
	@include bold;
	@include font-size-x-large;
	font-weight: 700;
	background-color:  #004d79;
	color: #fff;
}

.feature-wrapper {
	padding: rem(15px 23px);
	color:  #03385d;
	/// Dotted border
// 	background-image: linear-gradient(to right, #e5e5e5 33%, rgba(255,255,255,0) 0%);
// 	background-position: bottom;
// 	background-size: 3px 1px;
// 	background-repeat: repeat-x;
}

.fui- {
	float: right
}

.value-raw {
	&-0 {
		color: #f16564;
	}
	&-1 {
		color: #4eb329;
	}
}

.apply-wrapper  {
	text-align: center;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	a {
		display: inline-block;
		margin: rem(15px 0);
		padding: rem(10px 20px);
		text-align: center;
		border: 1px solid #88a2bb;
		@include border-radius(3px);
		font-family: 'MartelSans', sans-serif;
		@include normal;
		@include font-size-regular; 
		font-weight: 700;
		color:  #88a2bb;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			background-color: #88a2bb;
			color: #fff;
		}
	}
}

.become-a-speaker {
	position: relative;
	margin: rem(22px 0 0 0);
	padding: rem(53px 0 64px 50px);
	border: none;
	background-color:  #4fc9a4;
	z-index: 1;
	&:before {
		content: " ";
		background-image: url(../images/spaceman.png);
		width: 270px;
		height: 244px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 5;
	}
	&:after {
		content: " ";
		background-image: url(../images/shadow.png);
		min-width: 198px;
		height: 211px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
	}
	.pane-content {
		&:before {
			content: " ";
			background-image: url(../images/stars.png);
			width: 250px;
			height: 224px;
			position: absolute;
			left: 0;
			top: 0;
			margin: rem(15px 0 0 15px);
			z-index: -1;
		}
		&:after {
			content: " ";
			background-image: url(../images/landscape.png);
			width: 936px;
			height: 270px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -2;
		}
	}
}

.cta-top-wrapper {
	.cta-title {
		margin: rem(0 400px 0 0);
		@include lato;
		@include normal;
		@include font-size-xx-large; 
		color:  #fff;
	}
}

.field-type-field-collection, .cta-description {
	display: inline-block;
}

.cta-bottom-wrapper {
	.cta-description {
		@include lato;
		@include light;
		@include font-size-small; 
		font-style: italic;
		color:  #fff;
	}
	&:after {
		content: " ";
		background-image: url(../images/ozn.png);
		min-width: 132px;
		height: 153px;
		position: absolute;
		bottom: 0;
		z-index: 6;
		margin: 0 0 0 20%;	
	}
	&:before {
		content: " ";
		background-image: url(../images/shadow-1.png);
		min-width: 118px;
		height: 122px;
		position: absolute;
		bottom: 0;
		margin: 0 0 0 72%;	
	}
}

// .cta-right-wrapper {
// 	z-index: 5;
// 	&:after {
// 		content: " ";
// 		background-image: url(../images/sun.png);
// 		width: 135px;
// 		height: 130px;
// 		z-index: -5;
// 		position: absolute;
// 		top: rem(7px);
// 		right: 0;
// 	}
// }

.frame-previous_results {
	margin: rem(100px 0 10px 0);
	padding: rem(0 0 100px 0);
	@include background-image(linear-gradient(90deg, #02385c 50%, #004d79 50%));
	.pane {
		&-2 {
			.previous-camp-description {
				margin: rem(0 24px 0 0);
				text-align: center;
				display: inline-block;
				width: 425px;
			}
			&:after {
				content: " ";
				background-image: url(../images/meteorites.png);
				width: 155px;
				height: 138px;
				position: absolute;
				top: rem(90px);
				right: -12%;
			}
			.pane-title {
				float: right;
				width: 450px;
			}
			.review-content {
				text-align: right;
			}
		}
		&-1 {
			.pane-title {
				width: 425px;
				display: block;
				text-align: center;
			}
		}
		&-title {
			padding: rem(62px 0 52px 0);
			@include lato;
			@include normal;
			@include font-size-xxx-large; 
			color: #fff;
		}
		&-content {
			.review-content {
				@include clearfix;
			}
			.review-stats {
				width: 76%;
				display: inline-block;
				text-align: left;
				li {
					display: inline-block;
					width: 50%;
					float: left;
					margin: rem(3px 0);
					@include lato;
					@include normal;
					@include font-size-regular;
					color:  #81b4b6;
					.icon {
						margin: rem(0 10px 0 0);
					}
				}
			}
			iframe {
				margin: rem(14px 23px 8px 0);
				padding: rem(0 0 17px 0);
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}
		}
	}
}

.previous-camp-description {
	@include lato;
	@include normal;
	@include font-size-large; 
	color: #fff;
}

.frame-front_content {
	@include lato;
}

.frame-location {
	font-weight: 400;
	background-color: #f2efe8;
	color:  #03385d;
	.location-title {
		@include lato;
		@include normal;
		@include font-size-xxx-large; 
		margin: rem(0 0 20px 0);
	}
	.heading {
		display: block;
		@include lato;
		@include normal;
		@include font-size-x-large; 
	}
	.contact-list {
		margin: rem(35px 0 0 20px);
		li {
			display: block;
			margin: rem(11px 0);
			@include lato;
			@include normal;
			@include font-size-large; 
		}
	}
	.contact-form-wrapper {
		h4 {
			@include lato;
			@include normal;
			@include font-size-xxx-large; 
		}
		button {
			margin: rem(17px 0 0 0);
			padding: rem(12px 32.5px);
			@include border-radius(20px);
			border: none;
			text-transform: uppercase;
			@include font-size-x-small; 
			font-weight: 600;
			background-color: #51c9a5;
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:hover {
				background-color: #02385c;
				color: #51c9a5;
			}
			i {
				position: relative;
				top: rem(1px);
				right: rem(7px);
			}
		}
	}
}

.contact-form {
	@include lato;
	@include normal;
}

.pane-3 {
	margin: rem(0 0 0 -100px);
	@include font-size-xx-small; 
}

.footer-socials {
	margin: rem(0 0 0 65px);
}

.footer-second {
	margin: rem(3px 0 0 0);
	@include martel;
	@include normal;
	@include font-size-xx-small;
	.highlighted {
		color: #4bc9a3;
	}
}

.location-details-wrapper {
	background : {
		image: url(../images/planets.png);
		repeat: no-repeat;
		position: 0px 30px;
	}
	padding: rem(0 0 150px 0);
	vertical-align: top;
	width: 52%;
}

.menu-menu-social-menu {
	@include clearfix;
	li {
		display: inline-block;
		a {
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in); 
		}
	}
}

.location-details-wrapper, .contact-form-wrapper {
	display: inline-block;
}

.contact-form-wrapper {
	padding: rem(0 0 0 70px);
}

.earth {
	background : {
		image: url(../images/earth.png);
		size: cover;
	}
	width: 422px;
	height: 422px;
	@include animation(rotate, 100s, $timing-function: linear, $iteration-count: infinite, $direction: alternate);
	&-wrapper {
		position: absolute;
		top: rem(330px);
		right: -7%;
		z-index: 6;
		@include animation(spin, 100s, $timing-function: linear, $iteration-count: infinite, $direction: alternate);
	}
}

.cosmic {
	&-meteor {
		background : {
			image: url(../images/meteorite.png);
			size: cover;
		}
		width: 87px;
		height: 88px;
		@include animation(rotate, 100s, $timing-function: linear, $iteration-count: infinite, $direction: alternate);
	}
	&-wrapper {
		position: absolute;
		top: rem(165px);
		left: 58%;
		@include animation(meteorite-spin, 100s, $timing-function: linear, $iteration-count: infinite, $direction: alternate);
	}
}

.highlighted {
	a {
		color: #4bc9a3;
	}
}

.featured {
	.pricing-header {
		background-color: #df303f;
	}
}

.frame-location .contact-form-wrapper .form-text, .frame-location .contact-form-wrapper textarea {
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in);
	&:focus {
		color: #03385d;
		border-color: #03385d;
	}
}


// Phase 2 of Moldacamp Homepage

.menu-name-menu-social-menu {
	.menu {
		li {
			display: inline-block;
		}
	}
}

.menu-block-wrapper {
	@include clearfix;
	ul {
		margin: rem(0 0 30px 0);
	}
}

.pane-menu-social-menu {
	ul {
		li {
			margin: rem(0 2px);
		}
	}
}

.menu-name-main-menu {
	margin: rem(0 30px 0 0);
	ul {
		li {
			a {
				@include lato;
				@include normal;
				@include font-size-large;
			}
		}
	}
}

.header-buttons {
	li {
		display: inline-block;
		@include border-radius(31px);
		background-color: #03385d;
		cursor: pointer;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			background-color: #096c99;
		}
		a {
			display: inline-block;
			padding: rem(19px 29px);
			@include lato;
			color: #fff;
			position: relative;
			bottom: rem(4px);
			span {
				margin: rem(0 13px 0 0);
			}
		}
		&:nth-child(2) {
			margin: rem(0 13px);
			text-transform: uppercase;
			background-color: inherit;
			cursor: auto;
		}
		.icon {
			@include font-size-x-large;
			position: relative;
			top: rem(4px);
		}
	}
}

.previous-camps {
	width: 68%;
	display: inline-block;
	margin: rem(30px 0);
	padding: rem(34px 0);
	border : { 
		top: 1px solid #4e83a2;
		bottom: 1px solid #4e83a2;
	}
	text-align: center;
	@include lato;
	@include font-size-large;
	@include bold;
	.icon {
		margin: rem(0 17px 0 0);
	}
	.highlighted {
		color:  #4fc9a4;
	}
}

.frame-gold_sponsors {
	.container {
		border-bottom: 1px solid #f2f5f8;
		&:before {
			content: " ";
			background-image: url(../images/sun.png);
			width: 135px;
			height: 130px;
			position: absolute;
			margin: rem(90px 0 0 100px);
		}
		&:after {
			content: " ";
			background-image: url(../images/moon.png);
			width: 162px;
			height: 169px;
			position: absolute;
			margin-top: rem(-200px);
			right: 15%;
		}
	}
}
.pane-sponsors-sponsors-gold-pane {
	margin: 0;
	padding: 0;
}

.inner-counters {
	@include clearfix;
	li {
		text-align: center;
	}
	.item {
		&-2, &-3 {
			border: {
				right: 1px solid #e5edf1;
			} 
		}
		&-2 {
			border-left: 1px solid #e5edf1;
		}
	}
}

.job-line {
	a {
		@include font-size-xx-small ;
	}
}

.node-type-session {
	@include martel;
	.field-type-text-with-summary {
		p {
			@include martel;
		}
	}
	.frame-top {
		&:before {
			width: 344px;
			height: 332px;
			position: absolute;
			content: " ";
			top: rem(110px);
			right: 7%;
			z-index: 1;
			background-size: cover;
			background-image: url("../images/jupiter.png");
		}
	}
	.pane-node-title {
		margin-right: rem(340px);
	}
}

.page {
	&-accommodations, &-attendees, &-user, &-job-board {
		.frame-top {
			&:before {
				position: absolute;
				content: " ";
				background-size: cover;
			}
		}
	}
	&-accommodations, &-job-board {
		.frame-top {
			&:before {
				width: 87px;
				height: 88px;
				background-image: url("../images/meteorite.png");
				top: rem(130px);
				right: 15%;
			}
		}
	}
	&-attendees {
		.frame-top {
			&:before {
				width: 386px;
				height: 285px;
				top: rem(60px);
				right: 0;
				background-image: url("../images/spaceman-attendees.png");
			}
		}
	}
	&-user {
		.frame-top {
			&:before {
				width: 319px;
				height: 319px;
				top: rem(210px);
				right: 5%;
				background-image: url("../images/space.png");
			}
		}
	}
}

.page-attendees  {
	.pager-load-more {
		margin: rem(50px 0 20px 0);
	}
}

.view-attendees {
	padding: 0;
}

.not-front {
	.frame-top {
		position: static;
		padding: rem(63px 0 0 0);
		background-color: #004d79;
		.menu-name-main-menu {
			.menu {
				margin: rem(0 0 27px 0);
			}
		}
	}
	.pane-title { 
		margin: rem(0 0 20px 0);
		@include font-size-xx-large;
		text-transform: uppercase;
		color: #1d2023;
	}
}

.page-job-board {
	.pane-title {
		@include martel;
		@include bold;
	}
	.views-row  {
		.views-field-title-1 {
			a {
				@include font-size-small;
				color: #4fc9a4;
			}
		}
	}
}

.view-job-board {
	margin: rem(67px 0 0 0);
	@include martel;
	.views-field-field-job-email, .views-field-view-node {
		a {
			@include martel;
		}
	}
	.views-field-field-job-email {
		a {
			padding: rem(7px 49px);
		}
	}
	.views-field-view-node   {
		a {
			padding: rem(7px 20px);
		}
	}
	.views-row {
		&-4, &-7 {
			clear: left;
		}
	}
}

.frame-content {
	.accomodation-list {
		.views-field {
			&-title {
				a {
					@include font-size-x-large;
					color:  #4fc9a4;
				}
				.field-content {
					display: inline-block;
				}
			}
			&-field-acc-address {
				a {
					color:  #1d2023;
					@include font-size-small;
					@include bold;
				}
			}
			&-view-node {
				float: none;
				text-align: center;
				a {
					display: inline-block;
					margin: rem(20px 0 33px 0);
					padding: rem(7px 64px);
					@include martel;
					color: #033c64;
					@include font-size-xx-small;
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
					&:hover {
						background-color: #033c64;
						color: #fff;
					}
				}
			}
			&-field-partner-logo {
				img {
					display: block;
					margin: rem(30px auto);
				}
			}
			&-field-discount {
				@include font-size-small;
				@include semibold;
				color:  #1d2023;
				.field-content, .views-label-field-discount {
					display: inline-block;
				}
			}
		}
		.pane-title, .views-field-title, .views-field-field-acc-address {
			@include martel;
			@include bold;
		}
		.views-field-field-acc-address, .views-field-title, .views-field-field-discount {
			@include martel;
			text-align: center;
		}
	}
}

.user-profile-header-wrapper {
	margin-right: rem(360px);
	margin-top: rem(30px);
	h2, .job-title {
		line-height: 1;
		color: #004d79;
	}
	h2 {
		@include font-size-xx-large;
		@include bold;
		text-transform: uppercase;
	}
	.job-title {
		margin: rem(0 0 40px 0);
		@include font-size-regular;
		@include semibold;
	}
}

.page-user {
	.field-item {
		a {
			color: #4fc9a4;
		}
	}
	.pane-views-panes {
		h2 {
			@include font-size-xx-large;
			@include bold;
			color: #1d2023;
		}
	}
	.fieldset-wrapper {
		.field-content {
			a {
				color: #1d2023;
				@include font-size-small;
			}
		}
		.views-field-title {
			a {
				@include font-size-large;
				@include bold;
				color:  #4fc9a4;
			}
		}
	}
}

.pane-user-field {
	&-profile-org {
		margin: rem(35px 0 0 0);
	}
	&-nominations {
		margin: rem(25px 0);
		a {
			@include font-size-small;
			color: #1d2023!important;
		}
	}
	&-profile-location {
		.country {
			color: #4fc9a4;
		}
	}
	&-profile-interests, &-bio {
		margin: rem(0 0 25px 0);
	}
}

.field-wrapper-with-icon {
	a {
		color: #4fc9a4;	
	}
}
.pane-node-comment-wrapper {
	width: 70%;
	margin: rem(70px 0 65px 0);
	padding: rem(15px 0);
	@include border-radius(4px);
	.comment {
		padding: rem(25px 0 22px 0);
		border-top: 1px solid #e7e7e7;
		&-form {
			background-color: #f2f5f8;
			padding-bottom: rem(15px)
		}
	}
	.comments__title {
		padding: rem(0 0 20px 0);
		text-transform: uppercase;
		color:  #3b3d40;
		@include martel;
		@include font-size-x-large;
		@include bold;
		text-align: left;
		color: #3a3d3f;
	}
	.form-textarea-wrapper {
		padding: rem(15px 0 0 0);
		textarea {
			height: 100px;
			width: 100%;
			@include border-radius(5px);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:focus {
				border: 1px solid #4fc9a4;
			}
		}
	}
	.submitted {
		span {
			display: inline-block;
		}
	}
	.comments__form-title {
		padding: rem(15px 0);
		text-align: center;
		text-transform: uppercase;
		@include bold;
		@include martel;
		@include font-size-xx-small;
		color:  #3b3d40;
	}
	.comment-right {
		.content {
			margin: rem(20px 0 12px 0);
			@include martel;
			@include font-size-regular;
			color:  #525b5d;
		}
	}
}

.session-header-wrapper, .page-sessions {
	@include martel;
}

.job-board {
	.views-row {
		.views-field {
			padding: rem(0 10px);
		}
	}
}
.page-news {
	@include lato;
	.news-list {
		.views-field-view-node {
			a {
				padding: rem(7px 30px);
				@include martel;
			}
		}
	}
	.frame-content {
		padding-bottom: rem(30px);
	}
}
.not-front {
	.pane-node-comment-form, 
	.pane-node-comment-wrapper {
		h2 {
			padding: rem(15px 0);
			text-align: center;
			text-transform: uppercase;
			@include bold;
			@include martel;
			@include font-size-xx-small;
			color:  #3b3d40;
		}
	}
}

.frame-submitted_speakers {
	img {
		width: 100%;
		margin: 0 auto;
		height: auto;
		@include border-radius(5px);
	}
}

.frame-submitted_speakers {
	//	enable it on phase 3 and 4
	//	padding-bottom: rem(57px);
	&:before {
		display: none;
	}
	.view-featured-speakers {

		.slick-track > .views-row {
			@include scale(min-height, 650px);

			.views-field-view {
				border-top: 1px dashed #fff;
				padding-top: rem(10px);
				margin-top: rem(10px);
			}
		}
		.view-display-id-user_sessions_simplified {
			.views-row {
				float: none;
				border: 0 none;
				.views-field-title {
					a {
						color: #fff;
						@include font-size-xx-small;
					}
				}
			}
		}
	}
	.one-col {
		position: absolute;
		top: 0;
		.views-field-field-speaker-s- {
			a {
				display: block;
				margin: rem(25px 0 0 0 );
				@include lato;
				@include font-size-large;
				@include bold;
				color: #4fc9a4;
			}
		}
		.views-field-name h3 a {
			color: #fff;
			@include font-size-large;
			margin-bottom: rem(10px);
		}
		.views-field-field-bio {
			color: #fff;
		}
	}
}
.frame-submitted_sessions {
	.views-row {
		@include scale(min-height, 205px);
	}
	.one-col {
		position: absolute;
		bottom: 0;
	}
}

.node-type-session {
	.pane-node-comment-wrapper {
		.title {
			@include martel;
			@include font-size-x-large;
			@include bold;
			padding-bottom: rem(30px);
			color:  #3a3d3f;
		}
		h2.comment-form {
			padding: rem(20px 0);
			border-bottom: 1px solid #e6eaed;
			text-align: center;
			text-transform: uppercase;
			@include martel;
			@include font-size-xx-small;
			@include bold;
			color:  #3b3d40;
		}
		.col-md-1 {
			padding-top: rem(15px);
		}
	}
}

.node-type-sponsor, .page-user {
	.pane-camp-generic-node-fields {
		&:after {
			display: none;
		}
	}
}
.node-type-sponsor {
	.simple-text-wrapper {
		margin: rem(0 0 34px 0);
		h2 {
			color: #4bc9a3;
		}
	}
	.pane-node-field-sponsors-url {
		padding: rem(20px 0 11px 0);
		text-align: center;
		a {
			color: #4bc9a3;
		}
	}
	.pane-node-field-sponsor-description {
		margin-bottom: rem(50px);
	}
	.camp-generic-node-fields {
		.title {
			margin: 0;
		}
	}
	.pane-1 {
		a {
			display: inline-block;
			margin-top: rem(25px);
			color: #4bc9a3;
			@include bold;
			&:hover {
				color: #004d79;
			}
		}
	}
}

.pane-sponsors-silver-sponsors-pane {
	.pane-title {
		&:after {
			content: url(../images/silver.png);
		}
	}
}
.pane-sponsors-sponsors-gold-pane  {
	.pane-title {
		&:after {
			content: url('../images/golden.png');
		}
	}
}
.pane-sponsors-bronze-sponsors-pane {
	.pane-title {
		&:after {
			content: url('../images/bronze.png')
		}
	}
}
.pane-partners-all-partners-pane {
	.pane-title {
		&:after {
			content: url('../images/people.jpg')
		}
	}
}

.pane-accommodations-panel-pane-1 {
	.pane-title {
		&:after {
			content: url('../images/accommodations.png')
		}
	}
}

.pane-partners-panel-pane-3  {
	.pane-title {
		&:after {
			content: url('../images/media.png')
		}
	}
}

.pane-partners-panel-pane-4 {
	.pane-title {
		&:after {
			content: url('../images/logistic.png')
		}
	}
}

.pane-partners-panel-pane-2 {
	.pane-title {
		&:after {
			content: url('../images/community.png')
		}
	}
}
.pane-accommodations-panel-pane-1 {
	.pane-title {
		@include scale(max-width, 220px);
		line-height: 3;
	}
}

.pane-partners-panel-pane {
	&-2, &-3, &-4 {
		.pane-title {
			padding-left: rem(50px);
			&:before { 
				margin-left: rem(10px);
			}
		}
	}
	&-3, &-4 {
		.pane-title {
			line-height: 3;
		}
	}
	&-3 {
		margin-top: rem(25px);
		padding-top: rem(25px);
		border-top: 1px solid #f2f5f8;
	}
}

.frame-sponsors_footer {
	margin: rem(50px 0 60px 0);
}

.node-type-accommodation {
	.pane-title {
		font-size: 0.75rem!important;
	}
	.pane-node-body {
		margin: rem(30px 0);
	}
}

.page-sponsors,
.page-frontpage {
	.pane-sponsors-sponsors-gold-pane,
	.pane-sponsors-silver-sponsors-pane,
	.pane-sponsors-bronze-sponsors-pane {
		margin-left: 0;
		.pane-title {
			padding: rem(10px 0 15px 45px);
		}
	}
	.pane-partners-all-partners-pane,
	.pane-accommodations-panel-pane-1,
	.pane-partners-panel-pane-2,
	.pane-partners-panel-pane-3,
	.pane-partners-panel-pane-4 {
		.pane-title {
			padding: rem(10px 0 5px 45px);
		}
	}
}

.node-type-simple-page {
	.tekwill {
		display: inline-block;
		width: 48%;
		margin: rem(0 5px);
	}
}  

.node-type-job {
	.panel-pane {
		h2 {
			@include font-size-regular;
			@include bold;
			text-transform: none;
		}
	}
	.panel-pane {
		.pane-node-title {
			h2 {
				@include font-size-xx-large;
				text-transform: uppercase;
			}
		}
	}
	.frame-content {
		padding-bottom: rem(30px);
	}
}
.page-frontpage {
	.frame-messages_tabs {
		position: absolute;
		width: 100%;
		z-index: 5;
		.messages {
			@include martel;
		}
	}
}

.frame-messages_tabs {
	.messages {
		@include martel;
	}
}

.page-user-register, .page-user {
	@include martel;
	.username {
		@include martel;
	}
}

.page-user-reset- {
	.user-pass-reset {
		p {
			@include martel;
			line-height: 2;
			.placeholder {
				color: #4bc9a3;
				font-style: normal;
			}
		}
	}
	.form-wrapper {
		.submit {
			margin: rem(50px 0);
		}
	}
}

.page-user-edit {
	.field-name-field-avatar {
		.form-submit {
			@include martel;
			&:hover {
				margin: rem(45px 0);
				background-color: #004d79;
			}
		}
	}
	.addressfield-container-inline {
		.field-field_profile_location-label,
		.field-field_profile_location-textfield {
			float: left;
		}
		.field-field_profile_location-label, {
			content: '/';
			margin-right: rem(5px);
		}
		.field-field_profile_location-textfield {
			margin-left: rem(5px);
		}
	}
	.form-item-contact {
		.form-checkbox {
			width: 100%;
			margin: rem(15px 0);
		}
	}
}

.special-breadcrumb-wrapper {
	padding: rem(0 15px);
}

.slicknav_menu {
	display:none;
}

.page-taxonomy-term {
	@include martel;
	article {
		margin-bottom: rem(45px);
		h2 {
			@include font-size-x-large;
		} 
	}
	.field-name-body {
		p {
			line-height: 1.5;
		}
	}
}

.page-sponsors {
	.frame-content {
		margin-bottom: rem(50px);
	}
}