@media screen and (min-width: 1200px) {
	.frame-top {
		.col-md-12 {
			&:nth-child(1){
				width: 25%!important;
			}
		}
	}
	.frame-top {
		.col-md-12 {
			&:nth-child(2){
				width: 16.66666667%!important;
			}
		}
	}
	.frame-top {
		.col-md-12 {
			&:nth-child(3){
				width: 58.33333333%!important;
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.frame-top {
		top: rem(70px);
	}
	.frame-submitted_sessions {
		&:before {
			display: none;
		}
	}

	.node-type-session {
		.frame-top {
			&:before {
				display: none;
			}
		}
	}

	.page {
		&-accommodations, &-attendees, &-user,  &-job-board {
			.frame-top {
				&:before {
					display: none;
				}
			}
		}
	}
	.pane-page-site-name {
		margin: 0;
		text-align: center;
	}
	.pane-menu-social-menu {
		.menu {
			display: table;
			margin: rem(25px auto 12px auto);
		}
	}
	.frame-gold_sponsors {
		.container {
			&:before, &:after {
				display: none;
			}
		}
	}
	.menu-name-main-menu {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.cosmic-wrapper {
		display: none;
	}
	.location-details-wrapper {
		width: 100%;
		background-position: 140px 0;
	}
	.primary-links {
		&:before {
			display: none;
		}
	}
	.become-a-speaker { 
		.pane-content {
			&:after {
				display: none;
			}
		}
	}
	.earth-wrapper {
		display: none;
	}
	.multi-header-wrapper { 
		padding: rem(0 0 215px 0);
		.date-location-wrapper {
			width: 100%;
			text-align: center;
			margin: 0;
			bottom: rem(50px);
		}
	}
	.announce-row:last-child {
		margin: 0;
	}
	.pane-sponsors-panel-pane-1, .pane-partners-panel-pane-1 {
		display: block;
		text-align: center;
		margin: 0;
		.pane-title {
			display: block;
			text-align: center;
			@include font-size-large;
			margin: rem(30px 0);
		}
		img {
			display: block;
			margin: 0 auto;
			padding: rem(0 20px);
		}
	}
	.location-details-wrapper {
		text-align: center;
		display: block;
		background-position: center top;
	}
	.contact-form-wrapper {
		display: block;
		margin: 0 auto;
		padding: rem(0 0 30px 0);
		h4 {
			text-align: center;
		}
	}
	.background-image {
		&:before {
			height: 747px;
		}
	}
}


@media screen and (min-width: 992px) and (max-width: 1025px) {
	.frame-top {
		top: rem(35px);
	}
}

@media screen and (max-width: 1100px) {
	.background-image {
		&:after {
			display: none;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.frame-previous_results {
		padding: rem(0 0 30px 0);
	}
	.multi-header-wrapper { 
		.multicolor-left-wrapper {
			margin: rem(40px 0 0 50px);
		}
	}
	.frame-previous_results {
		.pane { 
			&-content {
				.review-stats {
					width: 93%;
				}
			}
		}
	}
	.cta-top-wrapper {
		.cta-title {
			margin: rem(0 190px 0 0);
		}
	}
	.cta-bottom-wrapper {
		&:after {
			margin: 0 0 0 3%;
		}
		&:before {
			margin: 0 0 0 66%;	
		}
	}
	.page-sponsors-become {
		.views-row-last {
			.pricing-table-item {
				left: 33.3%;
			}
		}
	}
}

@media screen  and (max-width: 992px) {
	.frame-submitted_speakers {
		img {
			width: 85%;
		}
	}
	.frame-top {
		top: rem(65px);
		padding: 0;
	}
	.header-text {
		margin: rem(20px 0 45px 0);
		.highlighted {
			padding: rem(0 8px);
			&:after, &:before {
				display: none;
			}
		}
	}
	.watch-icon {
		margin: rem(20px 0 0 0);
	}
	.location-details-wrapper {
		background-position: 10px 0;
	}
	.frame-previous_results {
		padding: 0;
	}
	.pane-page-primary-links {
		text-align: center;
	}
	.primary-links {
		float: none;
		margin: 0;
	}
	.header-text { 
		.highlighted {
			&:before {
				left: rem(-32px);
			}
		}
	}
	.multi-header-wrapper { 
		.multicolor-left-wrapper {
			@include scale(height, 385px);
			.mission {
				&:before {
					top: rem(15px);
				}
			}
		}
	}
	.frame-previous_results { 
		padding: 0;
		.panel-two-column {
			@include background-image(linear-gradient(180deg, #02385c 50%, #004d79 50%));
		}
	}
	.frame-previous_results {
		.pane { 
			&-1, &-2 {
				.pane-title {
					text-align: center;
					margin: 0;
					float: none;
					width: initial;
				}
				.previous-camp-description {
					width: 100%;
					text-align: center;
					display: block;
					margin: rem(0 0 20px 0);
				}
			}
			&-content {
				iframe {
					width: 100%;
					height: 400px;
					margin: 0;
				}
				.review-stats {
					width: 100%;
					margin: rem(30px 0);
					text-align: center;
					li {
						display: block;
						float: none;
						width: 100%;
						margin: rem(10px 0);
						padding: 0;
						@include font-size-large;
						.icon {
							margin: rem(0 10px 0 0);
						}
						&:first-child {
							padding: 0;
						}
					}
				}
			}
			&-title {
				padding: rem(62px 0 40px 0);
			}
		}
	}
	.cta-top-wrapper {
		.cta-title {
			margin: rem(0 190px 0 0);
		}
	}
	.cta-bottom-wrapper {
		&:after, &:before {
			display: none;
		}
		.cta-description {
			display: block;
			margin: rem(20px 0 0 0);
		}
	}
	.cta-right-wrapper {
		&:after {
			display: none;
		}
	}
	.cta-left-wrapper {
		padding: rem(50px 0 115px 82px); 
	}
	.footer-second {
		margin: rem(3px 0 0 65px);
	}
	.page-sponsors-become {
		.views-row-last {
			.pricing-table-item {
				left: initial;
			}
		} 
	}
} 
  

@media screen and (min-width: 769px) and (max-width: 991px) {
	.pane-3 {
		margin: rem(0 0 0 50px);
	}
	.multi-header-wrapper { 
		.multicolor-left-wrapper {
			margin: rem(230px 0 0 35px);
		}
	}
}

@media screen and (max-width: 768px) {
	.page-accommodations, .page-attendees, .page-user, .page-job-board {
		.frame-top {
			padding: rem(30px 0); 
		}
	}
	.page-user {
		.row {
			margin : {
				right: 0;
				left: 0;
			}
		}
		.social-links-wrapper {
			ul {
				display: table;
				margin: 0 auto;
			}
		}
		.user-profile-header-wrapper {
			margin: rem(15px 0 0 0);
			text-align: center;
		}
	}

	.inner-counters {
		.item {
			&-2, &-3 {
				border: none;
			}
			&-2 {
				margin: 0;
			}
		}
	}
	.menu-name-main-menu {
		width: 100%;
	}
	.tabs {
		ul.primary {
			li {
				float: none;
			}
		}
	}
	.page-user {
		.pane-page-content {
			.container {
				margin-top: rem(200px);
			}
		}
	}
	.multi-header-wrapper {
		padding: rem(0 0 290px 0);
	}
	.location-details-wrapper {
		background: none;
	}
	.frame-top {
		position: static;
		background-color: #004d79;
		padding: rem(38px 0 0 0);
	}
	.primary-links {
		float: none;
		text-align: center;
		margin: 0;
		li {
			display: block;
			margin: rem(15px 0);
			padding: rem(5px 0);
			a {
				@include bold;
				color: #fff;
			}
		}
	}

	.frame-submitted_sessions, .frame-submitted_speakers {
		.slick-prev, .slick-next {
			top: rem(-55px);
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
	}

	.not-front  { 
		.frame-top {
			padding: rem(15px 0);
		}
	}
	.pane-partners-panel-pane-1 {
		margin: 0;
	}
	.multicolor-left-wrapper {
		margin: rem(150px 40px 0 40px)!important;
		@include scale(height, 280px);
	}
	.previous-camps {
		width: 100%;
	}
	.header-buttons {
		li {
			width: 55%;
			margin: 0 auto;
			display: block;
			text-align: center;
			&:nth-child(2) {
				text-align: center;
				margin: rem(10px auto);
			}
		}
	}
	.header-text {
		.highlighted {
			&:after {
				width: 70%;
				right: rem(-85px);
				top: rem(-120px);
			}
			&:before {
				display: none;
			}
		}
	}
	.frame-previous_results {
		padding: 0;
		.pane { 
			&-1, &-2 {
				.previous-camp-description {
					margin: rem(0 0 20px 0);
				}
			}
			&-2 {
				&:after {
					display: none;
				}
			}
			&-content {
				iframe {
					width: 100%;
					height: 400px;
					margin: 0;
				}
			}
		}
	}
	.become-a-speaker {
		padding: rem(53px 0 32px 50px);
	}
	.ent-circle-with-plus {
		margin-right: 0;
	}
	.footer-socials {
		margin: 0;
	}
}

@media screen and (max-width: 640px) {
	.header-buttons {
		li {
			width: 79%;
		}
	}
	.frame-footer {
		.footer-logo { 
			width: 100%;
			img {
				width: 35%;
				margin: rem(0 auto 25px auto);
			}
		}
	}
	.footer-second {
		margin: rem(0 0 0 5px);
	}
	.footer-socials {
		.menu {
			.depth-1 {
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.pane-3 {
		margin: rem(13px 0 0 30px);
	}
	.cta-top-wrapper {
		.cta-title {
			margin: 0;
			padding: rem(0 0 0 20px);
		}
	}
	.cta-bottom-wrapper {
		text-align: center;
	}
	.become-a-speaker {
		padding-left: 0;
		&:before, &:after {
			display: none;
		}
	}
	.cta-left-wrapper { 
		padding: rem(50px 0 0 0);
		&:before {
			display: none;
		}
		.cta-description {
			padding: rem(0 50px 35px 0);
		}
	}
	.cta-right-wrapper {
		text-align: center;
	}
	.mission {
		padding: rem(0 0 40px 10px)!important;
		&:before {
			display: none;
		}
	}

	.header-text {
		margin: rem(0 0 45px 10px);
	}
	.watch-icon {
		margin: rem(20px 0 0 5px);
	}
	.node-type-simple-page {
		.tekwill {
			width: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	.inner-counters {
		.item {
			&-2 {
				margin-top: rem(25px);
			}
		}
	}
	.frame-submitted_speakers {
		img {
			width: 52%;
		}
		.views-row {
			@include scale(min-height, 320px);
		}
	}
	.frame-submitted_sessions, .frame-submitted_speakers {
		.pane-title {
			@include font-size-large;
		}
	}
}

@media screen and (max-width: 430px) {
	.multi-header-wrapper {
		padding: rem(0 0 320px 0);
		.multicolor-left-wrapper {
			margin: rem(120px 15px 0 15px)!important;
			.date-location-inner {
				padding: rem(10px 0 0 0);
			}
		}
	}
	.social-icons {
		display: block;
		margin: rem(60px 0 0 40px);
	}
	.frame-footer {
		.footer-mail-form {
			width: 100%;
		}
	}
	.header-buttons {
		li {
			width: 100%;
		}
	}
}


