@media screen and (min-width: 768px) {
	.container {
		max-width: 750px;
	}
}
@media screen and (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}
@media screen and (min-width: 1200px) {
	.frame-top {
		.col-md-12 {
			display: inline-flex;
			&:nth-child(3) {
				float: right;
			}
		}
	}
	.frame-highlight_sponsors {
		.circle-columns-column {
			display: inline-block;
		}
	}
	.container {
		max-width: 1170px;		
	}
	.multicolor-layer {
		.container {
			padding-left: rem(48px);		
		}
	}
	.frame-location {
		@include background-image(linear-gradient(90deg, #eaebee 50%, #001479 50%));
	}
	.frame-footer {
		.footer-mail-form {
			position: relative;
			clear: none;
			float: right;
			padding: 0;
			width: 39%;
		}
	}
	.frame-front_content {
		.row {
			.circle-columns-column {
				width: 33%;	 
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.frame-info_event {
		.event-features-wrapper {
			display: table;
			margin: 0 auto;
		}
		.info-event {
			&:after {
				display: none;
			}
		}
		.first-line {
			div {
				display: block;
				text-align: center;
			}
			.description-event {
				vertical-align: baseline;
				margin: 0;
				padding-top: rem(15px);
			}
		}
	}
	.frame-communities {
		.circle-columns-column {
			&:nth-child(2) {
				margin-top: 0;
			}
		}
	}
	.frame-location {
		.contact-form-map-wrapper {
			.container {
				&:before {
					display: none;
				}
			}
		}
	}
	.node-type-community {
		.frame-top {
			&:before {
				display: none;
			}
		}
	}
	.node-type-community {
		.quicktabs_main {
			&:after {
				display: none;
			}
		}
	}
	.view-schedule {
		.quicktabs-tabs {
			width: 100%;
			text-align: center;
		}
		.quicktabs-views-group {
			.views-field-field-date-and-time-1 {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
		.view-display-id-sessions_time_slot_pane {
			width: 100%;
			.views-row {
				width: 100%;
				padding: rem(20px 30px);
				.views-field-ops {
					width: 100%;
				}
				.views-field-view-node {
					width: 100%;
				}
			}
		}
	}
	.view-attendees {
		.views-exposed-form {
			.chosen-container {
				.chosen-single {
					padding-right: 0;
				}
			}
			.views-exposed-widget {
				width: 50%;
				float: none;	
				margin-bottom: rem(10px);
				input {
					border-right: 1px solid #cfd6dd; 
				}
			}
		}
	}
	.pane-attendees-all-attendees-pane {
		.views-exposed-widget {
			input,
			.chosen-single {
				width: -webkit-fill-available;
				padding-right: rem(4px);
			}
		}
	}
	.multi-header-wrapper { 
		padding: rem(0 0 30px 0);
		.multicolor-left-wrapper {
			margin: rem(90px 0 0 0);
			text-align: center;
		}
		.date-location-wrapper {
			width: 100%;
			text-align: center;
			margin: 0;
			bottom: rem(50px);
		}
		.header-text {
			padding-right: 0;
			&:after {
				display: none;
			}
		}
	}
	.menu-name-main-menu {
		li {
			&.last.depth-1 {
				margin-left: 0;
			}
		}
	}
	.menu-name-menu-social-menu {
		margin: rem(0 0 10px 0);
	}

	.frame-submitted_sessions {
		&:before {
			display: none;
		}
	}

	.node-type-session {
		.frame-top {
			&:before {
				display: none;
			}
		}
	}

	.page {
		&-accommodations, &-attendees, &-user,  &-job-board {
			.frame-top {
				&:before {
					display: none;
				}
			}
		}
	}
	.pane-page-site-name {
		margin: 0;
		text-align: center;
	}
	.pane-menu-social-menu {
		.menu {
			display: table;
			margin: rem(25px auto 12px auto);
		}
	}
	.frame-gold_sponsors {
		.container {
			&:before, &:after {
				display: none;
			}
		}
	}
	.menu-name-main-menu {
		float: none;
		display: table;
		margin: 0 auto;
	}
	.location-details-wrapper {
		width: 100%;
		background-position: 140px 0;
	}
	.primary-links {
		&:before {
			display: none;
		}
	}
	.become-a-speaker { 
		.pane-content {
			&:after {
				display: none;
			}
		}
	}
	.announce-row:last-child {
		margin: 0;
	}
	.page-sponsors-become {
		.pane-pricing-tables-panel-pane-2 {
			.view-pricing-tables {
				> .view-content {
					> .views-row {			
						width: 50%;
					}
				}
			}
		}
	}
	.pane-sponsors-panel-pane-1, 
	.pane-partners-panel-pane-1,
	.pane-sponsors-panel-pane-2 {
		display: block;
		text-align: center;
		margin: 0;
		.pane-title {
			display: block;
			text-align: center;
			@include fontsize-rem(18px);
			margin: rem(30px 0);
		}
		img {
			display: block;
			margin: 0 auto;
			padding: rem(0 20px);
		}
	}
	.location-details-wrapper {
		text-align: center;
		display: block;
		background-position: center top;
	}
	
	.frame-location {
		.contact-list {
			margin-left: 0;
		}
		.container {
			max-width: 100%;
			@include background-image(linear-gradient(to bottom, #eaebee 50%, #001479 50%));
		}
		.top-layer {
			padding-top: 0;
			.location-details-wrapper {
				padding-top: rem(20px);
				padding-bottom: rem(200px);
			}
			.contact-form-wrapper {
				margin-top: rem(85px);
			}
		}
		.contact-form-wrapper {
			display: block;
			margin: 0 auto;
			padding: rem(0 0 30px 0);
			h4 {
				text-align: center;
			}
		}
	}
	.frame-footer {
		.footer-mail-form {
			clear: both;
			float: none;
			margin: auto;
			width: 80%;
			position: relative;
			@include clearfix;
			@include scale(padding-top, 25px);
			.icon {
				left: 2%;
				top: rem(44px);
			}
		}
		.footer-socials {
			float: right;
		}
	}
	.frame-front_content {
		.row {
			.circle-columns-column {
				width: 100%; 
			}
		}
	}
}




@media screen and (min-width: 768px) and (max-width: 1200px) {
	.depth-1 {
		padding: rem(0 5px 5px);
	}
}

@media screen  and (max-width: 992px) {
	.frame-communities {
		.pane-1 {
			h2 {
				text-align: center;
			}
		}
		.circle-columns-column {
			width: 100%;
		}
	}
	.multi-header-wrapper {
		.multicolor-left-wrapper {
			margin: rem(195px 0 60px 0);
		}
	}
	.not-front,
	.page-comment-edit {
		.comment-wrapper,
		.pane-comment-reply-form,
		.comment-form { 
			.standard-avatar {
				top: 0;
				margin: rem(20px auto 15px);
			}
		}
	}
	.frame-info_event {
		.second-line,
		.third-line {
			display: block;
		}
	}
	.frame-submitted_speakers {
		img {
			width: 85%;
		}
	}
	.mission {
		padding-top: rem(30px);
	}
	.frame-top {
		padding: 0;
		margin-top: rem(55px);
	}
	.header-text {
		margin: rem(20px 0 45px 0);
	}
	.watch-icon {
		margin: rem(20px 0 0 0);
	}
	.location-details-wrapper {
		background-position: 10px 0;
	}
	.pane-page-primary-links {
		text-align: center;
	}
	.primary-links {
		float: none;
		margin: 0;
	}
	.pane-3,
	.frame-submitted_speakers {
		&:before,
		&:after {
			display: none;
		}
	}
	.frame-footer {
		.footer-second {
			margin: rem(3px 0 0 65px);
		}
	}
	.pane-attendees-all-attendees-pane {
		.views-row {
			width: 33.3333%;
		}
	}
} 

@media screen and (max-width: 768px) {
	.frame-info_event {
		.event-features-wrapper { 
			width: 90%;
		}
		.second-line {
			.item-wrapper {
				display: block;
			}
		}
	}
	.page-accommodations,
	.page-attendees, 
	.page-user, 
	.page-job-board {
		.frame-top {
			padding: rem(30px 0); 
		}
	}
	.quicktabs_main {
		border: none;
		text-align: center;
	}
	.item-list,
	.quicktabs_main {
		float: none;
		width: 100%;
	}
	.not-front,
	.page-comment-edit {
		.comment-wrapper,
		.pane-comment-reply-form,
		.comment-form {
			.form-actions {
				input {
					float: none;
					margin: 0 auto;
				}
			}
		}
	}
	.frame-footer {
		.footer-mail-form { 
			width: 100%;
			.email {
				width: 43%;
			}
		}
	}
	.view-display-id-all_sessions_submitted_pane {
		.views-row { 
			padding: 0;
		}
	}
	.page-user {
		.row {
			margin : {
				right: 0;
				left: 0;
			}
		}
		.social-links-wrapper {
			ul {
				display: table;
				margin: 0 auto;
			}
		}
		.user-profile-header-wrapper {
			margin: rem(15px 0 0 0);
			text-align: center;
		}
	}
	.pane-attendees-all-attendees-pane {
		.views-row {
			width: 50%;
		}
	}
	.frame-top {
		.container {
			padding: rem(0 15px);
		}
	}
	.multi-header-wrapper {
		.multicolor-left-wrapper {
			margin-top: rem(50px);
		}
	}
	.menu-block-wrapper {
		ul {
			margin-bottom: 0;
		}
	}
	.node-type-community {
		.node-community {
			.item-list,
			.quicktabs_main {
				width: 100%;
				padding: 0;
			}
			.quicktabs_main {
				margin-top: rem(30px);
				border-left: 0;
			}
			.quicktabs-tabs {
				display: table;
				margin: 0 auto;
			}
		}
	}
	ul.menu-main-menu.mobile-enabled {
		padding: rem(20px 0 0 0);
		li {
			margin: rem(10px 0);
		}
	}
	.inner-counters {
		li {
			border-right: none;
		}
	}
	.menu-name-main-menu {
		width: 100%;
	}
	.tabs {
		ul.primary {
			li {
				float: none;
			}
		}
	}
	.frame-communities {
		.circle-columns-column {
			&:nth-child(1) {
				.pane-node {
					.pane-title {
						margin: rem(25px 0 0 15px);
					}
					.pane-content {
						margin: rem(36px 0 46px 15px);
					}
				}
			}
			&:nth-child(2) {
				.pane-title,
				.pane-content {
					display: block;
				}
				.pane-title {
					padding-left: rem(15px);
				}
				.pane-content {
					padding: rem(20px 0 20px 15px);
				}
			}
		}
	}
	.page-user {
		.pane-page-content {
			.container {
//				margin-top: rem(200px);
}
}
}
.location-details-wrapper {
	background: none;
}

.frame-top {
	position: static;
	padding: rem(50px 0 0 0);
	margin: 0;
	background-color: #021057;
}
.primary-links {
	float: none;
	text-align: center;
	margin: 0;
	li {
		display: block;
		margin: rem(15px 0);
		padding: rem(5px 0);
		a {
			@include bold;
			color: #fff;
		}
	}
}

.frame-submitted_sessions, 
.frame-submitted_speakers {
	.slick-prev,
	.slick-next {
		top: rem(-48px);
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
}

.not-front  { 
	.frame-top {
		padding: rem(15px 0);
	}
}
.pane-partners-panel-pane-1 {
	margin: 0;
}
.page-sponsors-become {
	.pane-pricing-tables-panel-pane-2 {
		.view-pricing-tables {
			> .view-content {
				> .views-row {
					width: 100%;
				}
			}
		}
	}
}
.header-buttons {
	li {
		width: 55%;
		margin: 0 auto;
		display: block;
		text-align: center;
		&:nth-child(2) {
			text-align: center;
			margin: rem(10px auto);
		}
	}
}
.become-a-speaker {
	padding: rem(53px 0 32px 50px);
}
.ent-circle-with-plus {
	margin-right: 0;
}
.footer-socials {
	margin: 0;
}
}

@media screen and (max-width: 640px) { 
	.multi-header-wrapper {
		margin: rem(25px);
		.watch-icon,
		.or {
			display: block;
		}
		.or {
			margin: rem(35px 0 30px 0);
		}
	}
	.frame-footer {
		.footer-logo { 
			width: 100%;
			img {
				width: 35%;
				margin: rem(0 auto 25px auto);
			}
		}
	}
	.frame-submitted_speakers {
		.view-featured-speakers {
			.slick-track > .views-row {
				@include scale(min-height, 390px);
			}
		}
	}
	.footer-socials {
		.menu {
			.depth-1 {
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.pane-3 {
		margin: rem(13px 0 0 0);
	}
	.become-a-speaker {
		padding-left: 0;
		&:before, &:after {
			display: none;
		}
	}
	.mission {
		padding: rem(0 0 40px 0)!important;
		&:before {
			display: none;
		}
	}

	.frame-footer {
		.footer-second {
			margin: rem(3px 0 0 0);
		}
		.panel-pane {
			float: none;
			text-align: center;
		}
	}
	.header-text {
		margin: rem(0 0 45px 0);
	}
	.watch-icon {
		margin: rem(20px 0 0 5px);
	}
	.node-type-simple-page {
		.tekwill {
			width: 100%;
			margin: 0;
		}
	}
	.frame-footer {
		.pane-4,
		.footer-socials {
			width: 100%;
		}
		.pane-4 {
			text-align: center;
		}
		.footer-socials {
			ul {
				display: table;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.inner-counters {
		.item {
			&-2 {
				margin-top: rem(25px);
			}
		}
	}
	.frame-submitted_speakers {
		img {
			width: 52%;
		}
		.views-row {
			@include scale(min-height, 320px);
		}
	}
	.frame-submitted_sessions, .frame-submitted_speakers {
		.pane-title {
			@include fontsize-rem(18px);
		}
	}
}

@media screen and (max-width: 430px) {
	.social-icons {
		display: block;
		margin: rem(60px 0 0 40px);
	}
	.header-buttons {
		li {
			width: 100%;
		}
	}
}