
.frame-highlight_sponsors {
	z-index: 6;
	border-bottom: 1px solid #f2f5f8;
	.pane-title {
		display: inline-block;
	}
}

.pane-partners-panel-pane-1,
.pane-sponsors-panel-pane-1,
.pane-sponsors-panel-pane-2,
.pane-sponsors-panel-pane-2 {
	display: table;
	.pane-title {
		display: table-cell;
		vertical-align: middle;
		@include montserrat;
		@include bold;
		@include fontsize-rem(14px);
		font-weight: 700;
		color:  #004d79;
	}
}

.pane-partners-panel-pane-1 {
	margin: rem(0 0 0 30px);
}

.views-field-field-partner-logo {
	img {
		margin: rem(0 0 0 15px);
	}
}

.pane-sponsors-panel-pane-1,
.pane-sponsors-panel-pane-2  {
	.views-row {
		display: inline-block;
	}
	img {
		margin: rem(0 0 0 45px);
	}
}

.pane-bundle-call-to-action {
	border-top: 3px solid #f2f5f8;
	border-bottom: 3px solid #f2f5f8;
}




////


#sponsors { 
	@include clearfix;
	margin: rem(78px 0);
	.pane-title {
		margin: rem(0 0 0 15px);
		@include lato;
		@include normal;
		@include fontsize-rem(48px);
		line-height: 1.6;
		color:  #03385d;
	}
}

.view-header {
	@include clearfix;
	span {
		@include lato;
		@include normal;
		@include fontsize-rem(18px);
		color:  #3678ae;
		a {
			color:  #de303e;
		}
	}
}

.features-wrapper {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	.item-list {
		width: 100%;
		float: none;
		padding: 0;
	}
}

.feature-title {
	@include lato;
	@include normal;
}

.feature-title, 
.feature-value {
	display: inline-block;
}

.pricing-table-item {
	margin: rem(45px 0 0 0);
}

.pricing-row {
	display: block;
	text-align: center;
}

.pricing-header {
	padding: rem(17px 0);
	@include martel;
	@include bold;
	@include fontsize-rem(24px);
	font-weight: 700;
	background-color:  #004d79;
	color: #fff;
}

.feature-wrapper {
	padding: rem(15px 23px);
	color:  #03385d;
}

.fui- {
	float: right
}

.value-raw {
	&-0 {
		color: #f16564;
	}
	&-1 {
		color: #4eb329;
	}
}

.apply-wrapper  {
	text-align: center;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	a {
		display: inline-block;
		margin: rem(15px 0);
		padding: rem(10px 20px);
		text-align: center;
		border: 1px solid #88a2bb;
		@include border-radius(3px);
		font-family: 'MartelSans', sans-serif;
		@include normal;
		@include fontsize-rem(16px); 
		font-weight: 700;
		color:  #88a2bb;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			background-color: #88a2bb;
			color: #fff;
		}
	}
}


.previous-camp-description {
	@include lato;
	@include normal;
	@include fontsize-rem(18px); 
	color: #fff;
}

.frame-front_content {
	@include lato;
	.row {
		.circle-columns-column {
			padding: rem(0 15px);
			float: left;
		}
	}
}

.frame-location {
	
}

.contact-form {
	@include lato;
	@include normal;
}

.pane-3 {
	position: relative;
	@include fontsize-rem(12px); 
	&:before,
	&:after {
		content: " ";
		position: absolute;
	}
	&:before {
		background-image: url('../images/robot-1.png');
		width: 95px;
		height: 130px;
		top: rem(-70px);
	}
	&:after {
		background-image: url('../images/tools-1.PNG');
		width: 258px;
		height: 78px;
		right: 0;
		top: rem(-30px);
	}
}






.featured {
	.pricing-header {
		background-color: #df303f;
	}
}




// Phase 2 of Moldacamp Homepage



.header-buttons {
	li {
		display: inline-block;
		@include border-radius(31px);
		background-color: #03385d;
		cursor: pointer;
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover {
			background-color: #096c99;
		}
		a {
			display: inline-block;
			padding: rem(19px 29px);
			@include lato;
			color: #fff;
			position: relative;
			bottom: rem(4px);
			span {
				margin: rem(0 13px 0 0);
			}
		}
		&:nth-child(2) {
			margin: rem(0 13px);
			text-transform: uppercase;
			background-color: inherit;
			cursor: auto;
		}
		.icon {
			@include fontsize-rem(24px);
			position: relative;
			top: rem(4px);
		}
	}
}

.page-node-865 {
	.pane-node-body {
		img {
			width: 100% !important;
			height: 100% !important;
		}
	}
}

.previous-camps {
	width: 68%;
	display: inline-block;
	margin: rem(30px 0);
	padding: rem(34px 0);
	border : { 
		top: 1px solid #4e83a2;
		bottom: 1px solid #4e83a2;
	}
	text-align: center;
	@include lato;
	@include fontsize-rem(18px);
	@include bold;
	.icon {
		margin: rem(0 17px 0 0);
	}
	.highlighted {
		color:  #01a1ba;;
	}
}

.pane-sponsors-sponsors-gold-pane {
	margin: 0;
	padding: 0;
}

.inner-counters {
	@include clearfix;
	li {
		text-align: center;
		border-right: 1px solid #e5edf1; 
		&:last-child {
			border-right: none;
		}
	}
}

.job-line {
	a {
		@include fontsize-rem(12px) ;
	}
}

.node-type-session {
	@include martel;
	.field-type-text-with-summary {
		p {
			@include martel;
		}
	}
	.pane-cep-session-header-node {
		div {
			display: table-cell;
		}
		li {
			margin: rem(10px 0);
			.icon {
				padding-right: rem(5px);
			}
			.field-label {
				width: 200px;
			}
		}
	}
}

.page {
	&-accommodations,
	&-attendees,
	&-user, 
	&-job-board {
		.frame-top {
			&:before {
				position: absolute;
				content: " ";
				background-size: cover;
			}
		}
	}
	&-accommodations,
	&-job-board {
		.frame-top {
			&:before {
				background-image: url('../images/robot-2.png');
				width: 203px; 
				height: 243px;
				top: rem(130px);
				right: 15%;
			}
		}
	}
	&-attendees {
		.frame-top {
			&:before {
				background-image: url('../images/robot-1.png');
				width: 95px;
				height: 130px;
				position: absolute;
				right: 4%;
				top: rem(210px);
			}
		}
	}
	&-user {
		.frame-top {
			&:before {
				background-image: url('../images/robot-1.png');
				width: 95px;
				height: 130px;
				top: rem(210px);
				right: 5%;
			}
		}
	}
}

.page-attendees  {
	.pager-load-more {
		margin: rem(50px 0 20px 0);
	}
}

.view-attendees {
	padding: 0;
	.views-content {
		margin: rem(0 20px);
	}
	.views-exposed-form {
		.field-combine-textfield,
		.field-field_profile_org_tid-textfield {
			padding-top: 0;
			padding-bottom: 0;
		}
		.chosen-container {
			.chosen-single {
				height: 50px;
			}
		}
		.views-widget-filter-field_technology_tid {
			.chosen-single {
				border-right: 1px solid #cfd6dd;
			}
		}
	}
}

.not-front {
	.frame-content {
		@include lato;
	}
	.pane-title { 
		margin: rem(0 0 20px 0);
		@include fontsize-rem(36px);
		text-transform: uppercase;
		color: #1d2023;
	}
}

.page-job-board {
	.pane-title {
		@include martel;
		@include bold;
	}
	.views-row  {
		.views-field-title-1 {
			a {
				@include fontsize-rem(14px);
				color: #01a1ba;;
			}
		}
	}
}

.view-job-board {
	margin: rem(67px 0 0 0);
	@include martel;
	.views-field-field-job-email, .views-field-view-node {
		a {
			@include martel;
		}
	}
	.views-field-field-job-email {
		a {
			padding: rem(7px 49px);
		}
	}
	.views-field-view-node   {
		a {
			padding: rem(7px 20px);
		}
	}
	.views-row {
		&-4, &-7 {
			clear: left;
		}
	}
}

.frame-content {
	.accomodation-list {
		.views-field {
			&-title {
				a {
					@include fontsize-rem(24px);
					color:  #01a1ba;;
				}
				.field-content {
					display: inline-block;
				}
			}
			&-field-acc-address {
				a {
					color:  #1d2023;
					@include fontsize-rem(14px);
					@include bold;
				}
			}
			&-view-node {
				float: none;
				text-align: center;
				a {
					display: inline-block;
					margin: rem(20px 0 33px 0);
					padding: rem(7px 64px);
					@include martel;
					color: #033c64;
					@include fontsize-rem(12px);
					@include transition-duration(0.2s);
					@include transition-timing-function(ease-in);
					&:hover {
						background-color: #d8c128;
						color: #fff;
					}
				}
			}
			&-field-partner-logo {
				img {
					display: block;
					margin: rem(30px auto);
				}
			}
			&-field-discount {
				@include fontsize-rem(14px);
				@include semibold;
				color:  #1d2023;
				.field-content, .views-label-field-discount {
					display: inline-block;
				}
			}
		}
		.pane-title, .views-field-title, .views-field-field-acc-address {
			@include martel;
			@include bold;
		}
		.views-field-field-acc-address, .views-field-title, .views-field-field-discount {
			@include martel;
			text-align: center;
		}
	}
}

.user-profile-header-wrapper {
	margin-right: rem(360px);
	margin-top: rem(30px);
	h2, .job-title {
		line-height: 1;
		color: #004d79;
	}
	h2 {
		@include fontsize-rem(36px);
		@include bold;
		text-transform: uppercase;
	}
	.job-title {
		margin: rem(0 0 40px 0);
		@include fontsize-rem(16px);
		@include semibold;
	}
}

.page-user {
	.field-item {
		a {
			color: #01a1ba;;
		}
	}
	.pane-views-panes {
		h2 {
			@include fontsize-rem(36px);
			@include bold;
			color: #1d2023;
		}
	}
	.fieldset-wrapper {
		.field-content {
			a {
				color: #1d2023;
				@include fontsize-rem(14px);
			}
		}
		.views-field-title {
			a {
				@include fontsize-rem(18px);
				@include bold;
				color:  #01a1ba;;
			}
		}
	}
}

.pane-user-field {
	&-profile-org {
		margin: rem(35px 0 0 0);
	}
	&-nominations {
		margin: rem(25px 0);
		a {
			@include fontsize-rem(14px);
			color: #1d2023!important;
		}
	}
	&-profile-location {
		.country {
			color: #01a1ba;;
		}
	}
	&-profile-interests, &-bio {
		margin: rem(0 0 25px 0);
	}
}

.field-wrapper-with-icon {
	a {
		color: #01a1ba;;	
	}
}
.pane-node-comment-wrapper {
	margin: rem(70px 0 65px 0);
	padding: rem(15px 0);
	@include border-radius(4px);
	background-color: #f2f5f8;
	.comment {
		padding: rem(25px 0 22px 0);
		border-top: 1px solid #e7e7e7;
		&-form {
			background-color: #f2f5f8;
			padding-bottom: rem(15px)
		}
	}
	.comments__title {
		padding: rem(0 0 20px 0);
		text-transform: uppercase;
		color:  #3b3d40;
		@include martel;
		@include fontsize-rem(24px);
		@include bold;
		text-align: left;
		color: #3a3d3f;
	}
	.form-textarea-wrapper {
		padding: rem(15px 0 0 0);
		textarea {
			height: 100px;
			@include border-radius(5px);
			@include transition-duration(0.2s);
			@include transition-timing-function(ease-in);
			&:focus {
				border: 1px solid #01a1ba;;
			}
		}
	}
	.submitted {
		span {
			display: inline-block;
		}
	}
	.comments__form-title {
		padding: rem(15px 0);
		text-align: center;
		text-transform: uppercase;
		@include bold;
		@include martel;
		@include fontsize-rem(12px);
		color:  #3b3d40;
	}
	.comment-right {
		.content {
			margin: rem(20px 0 12px 0);
			@include martel;
			@include fontsize-rem(16px);
			color:  #525b5d;
		}
	}
}

.session-header-wrapper,
.page-sessions {
	@include martel;
}

.job-board {
	.views-row {
		.views-field {
			padding: rem(0 10px);
		}
	}
}
.page-news {
	@include lato;
	.news-list {
		.views-field-view-node {
			a {
				padding: rem(7px 30px);
				@include martel;
			}
		}
	}
	.frame-content {
		padding-bottom: rem(30px);
	}
}
.not-front {
	.pane-node-comment-form, 
	.pane-node-comment-wrapper {
		h2 {
			padding: rem(15px 0);
			text-align: center;
			text-transform: uppercase;
			@include bold;
			@include martel;
			@include fontsize-rem(12px);
			color:  #3b3d40;
		}
	}
}

.frame-submitted_speakers {
	//	enable it on phase 3 and 4
	//	padding-bottom: rem(57px);
	position: relative;
	&:before { 
		content: " ";
		background-image: url('../images/robot-2.png');
		width: 203px; 
		height: 243px;
		position: absolute;
		right: 4%;
		top: rem(-90px);
	}
	img {
		width: 100%;
		margin: 0 auto;
		height: auto;

	}
	.view-featured-speakers {
		.slick-track > .views-row {
			@include scale(min-height, 450px);
		}
		.view-display-id-user_sessions_simplified {
			.views-row {
				float: none;
				border: 0 none;
				.views-field-title {
					a {
						color: #fff;
						@include fontsize-rem(12px);
					}
				}
			}
		}
	}
	.one-col {
		position: absolute;
		top: 0;
		.views-field-field-speaker-s- {
			a {
				display: block;
				margin: rem(25px 0 0 0 );
				@include lato;
				@include fontsize-rem(18px);
				@include bold;
				color: #01a1ba;;
			}
		}
		.views-field-name  {
			h3 {
				a {
					color: #01a1ba;
					@include fontsize-rem(18px);
					margin: rem(18px 0 10px 0);
				}
			}
		}
		.views-field-field-bio {
			color: #fff;
		}
	}
}
.frame-submitted_sessions {
	.views-row {
		@include scale(min-height, 205px);
	}
	.one-col {
		position: absolute;
		bottom: 0;
	}
}

.node-type-session {
	.pane-node-comment-wrapper {
		.title {
			@include martel;
			@include fontsize-rem(24px);
			@include bold;
			padding-bottom: rem(30px);
			color:  #3a3d3f;
		}
		h2.comment-form {
			border-bottom: 1px solid #e6eaed;
			text-align: center;
			text-transform: uppercase;
			@include martel;
			@include fontsize-rem(12px);
			@include bold;
			color:  #3b3d40;
		}
		.col-md-1 {
			padding-top: rem(15px);
		}
	}
}

.node-type-sponsor,
.page-user {
	.pane-camp-generic-node-fields {
		&:after {
			display: none;
		}
	}
}
.node-type-sponsor {
	.simple-text-wrapper {
		margin: rem(0 0 34px 0);
		h2 {
			color: #4bc9a3;
		}
	}
	.pane-node-field-sponsors-url {
		padding: rem(20px 0 11px 0);
		text-align: center;
		a {
			color: #4bc9a3;
		}
	}
	.pane-node-field-sponsor-description {
		margin-bottom: rem(50px);
	}
	.camp-generic-node-fields {
		.title {
			margin: 0;
		}
	}
	.pane-1 {
		a {
			display: inline-block;
			margin-top: rem(25px);
			color: #4bc9a3;
			@include bold;
			&:hover {
				color: #004d79;
			}
		}
	}
}

.pane-sponsors-silver-sponsors-pane {
	.pane-title {
		&:after {
			content: url(../images/silver.png);
		}
	}
}
.pane-sponsors-sponsors-gold-pane  {
	.pane-title {
		&:after {
			content: url('../images/golden.png');
		}
	}
}
.pane-sponsors-bronze-sponsors-pane {
	.pane-title {
		&:after {
			content: url('../images/bronze.png')
		}
	}
}
.pane-partners-all-partners-pane {
	.pane-title {
		&:after {
			content: url('../images/people.jpg')
		}
	}
}

.pane-accommodations-panel-pane-1 {
	.pane-title {
		&:after {
			content: url('../images/accommodations.png')
		}
	}
}

.pane-partners-panel-pane-3  {
	.pane-title {
		&:after {
			content: url('../images/media.png')
		}
	}
}
.pane-sponsors-panel-pane-2 {
	.pane-title {
		&:after {
			content: url('../images/trivia.png')
		}
	}
}
.pane-partners-panel-pane-4 {
	.pane-title {
		&:after {
			content: url('../images/logistic.png')
		}
	}
}

.pane-partners-panel-pane-2 {
	.pane-title {
		&:after {
			content: url('../images/community.png')
		}
	}
}
.pane-accommodations-panel-pane-1 {
	.pane-title {
		@include scale(max-width, 220px);
		line-height: 3;
	}
}

.pane-partners-panel-pane {
	&-2, &-3, &-4 {
		.pane-title {
			padding-left: rem(50px);
			&:before { 
				margin-left: rem(10px);
			}
		}
	}
	&-3, &-4 {
		.pane-title {
			line-height: 3;
		}
	}
	&-3 {
		margin-top: rem(25px);
		padding-top: rem(25px);
		border-top: 1px solid #f2f5f8;
	}
}

.frame-sponsors_footer {
	margin: rem(50px 0 60px 0);
}

.node-type-accommodation {
	.pane-title {
		font-size: 0.75rem!important;
	}
	.pane-node-body {
		margin: rem(30px 0);
	}
}

.page-sponsors,
.page-frontpage {
	.pane-sponsors-sponsors-gold-pane,
	.pane-sponsors-silver-sponsors-pane,
	.pane-sponsors-bronze-sponsors-pane {
		margin-left: 0;
		.pane-title {
			padding: rem(10px 0 15px 45px);
		}
	}
	.pane-partners-all-partners-pane,
	.pane-accommodations-panel-pane-1,
	.pane-partners-panel-pane-2,
	.pane-partners-panel-pane-3,
	.pane-partners-panel-pane-4,
	.pane-sponsors-panel-pane-2 {
		.pane-title {
			padding: rem(10px 0 5px 45px);
		}
	}
}

.node-type-simple-page {
	.tekwill {
		display: inline-block;
		width: 50%;
		padding: rem(0 5px);
	}
	.full-width {
		width: 100%;
	}
}  

.node-type-job {
	.field-name-body {
		a {
			color: #01a1c9;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.frame-content {
		padding-bottom: rem(30px);
		.pane-node-title {
			.pane-content {
				h2 {
					width: auto;
					text-transform: uppercase;
					color: #000;
				}
			}
		}
		.pane-entity-field {
			h2,
			.pane-content {
				display: inline-block;
			}
			h2 {
				width: 150px;
				margin: rem(10px 0);
				font-size: 25px!important;
				@include bold;
				text-transform: capitalize;
				color: #01a1ba;
			}
		}
	}
}
.page-frontpage {
	.frame-messages_tabs {
		position: absolute;
		width: 100%;
		z-index: 5;
		.messages {
			@include martel;
		}
	}
}

.frame-messages_tabs {
	.messages {
		@include martel;
	}
}

.page-user-register,
.page-user {
	@include martel;
	.username {
		@include martel;
	}
}

.page-user-reset- {
	.user-pass-reset {
		p {
			@include martel;
			line-height: 2;
			.placeholder {
				color: #4bc9a3;
				font-style: normal;
			}
		}
	}
	.form-wrapper {
		.submit {
			margin: rem(50px 0);
		}
	}
}

.page-user-edit {
	.field-name-field-avatar {
		.form-submit {
			@include martel;
			&:hover {
				margin: rem(45px 0);
				background-color: #004d79;
			}
		}
	}
	.addressfield-container-inline {
		.field-field_profile_location-label,
		.field-field_profile_location-textfield {
			float: left;
		}
		.field-field_profile_location-label, {
			content: '/';
			margin-right: rem(5px);
		}
		.field-field_profile_location-textfield {
			margin-left: rem(5px);
		}
	}
	.form-item-contact {
		.form-checkbox {
			width: 100%;
			margin: rem(15px 0);
		}
	}
}

.special-breadcrumb-wrapper {
	padding: rem(0 15px);
}

.slicknav_menu {
	display:none;
}

.page-taxonomy-term {
	@include martel;
	article {
		margin-bottom: rem(45px);
		h2 {
			@include fontsize-rem(24px);
		} 
	}
	.field-name-body {
		p {
			line-height: 1.5;
		}
	}
}

.page-sponsors {
	.frame-content {
		margin-bottom: rem(50px);
	}
}

.frame-info_event {
	padding-bottom: rem(46px);
	@include lato;
	background-color:  #eaebee;
	color:  #001479;
	.info-event {
		position: relative;
		&:after {
			content: " ";
			position: absolute;
			right: 0;
			top: rem(35px);
			background-image: url('../images/magic.png');
			width: 196px;
			height: 208px;
		}
	}
	.first-line {
		margin: rem(52px 0 41px 0);
		div {
			display: inline-block;
		}
		.title {
			@include fontsize-rem(48px);
		}
		.description-event {
			margin-left: rem(32px);
			padding-top: rem(8px);
			vertical-align: top;
			@include fontsize-rem(18px);
			line-height: 1.4;
		}
	}
	.second-line,
	.third-line {
		display: table-cell;
		vertical-align: top;
		@include fontsize-rem(24px);
		.item {
			position: relative;
			padding: rem(10px 24px 10px 55px);
			margin: rem(10px 5px);
			@include border-radius(3px);
			background-color: #fff;
			&:before {
				content: " ";
				position: absolute;
				left: 0;
				margin-left: rem(10px);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.second-line {
		.item { 
			&:before {
				width: 32px;
				height: 32px;
			}
		}
		.item-wrapper {
			display: inline-block;
		}
		.conference-icon {
			&:before {
				background-image: url('../images/mic.png');
			}
		}
		.party-icon {
			&:before {
				background-image: url('../images/baloons.png');
			}
		}
		.cxo-icon {
			&:before {
				background-image: url('../images/lights.png');
			}
		}
		.trivia-icon {
			&:before {
				background-image: url('../images/trivia.png');
			}
		}
	}
	.third-line {
		.item {
			padding: rem(28px 24px 28px 75px);
		}
		.networking-event-icon {
			&:before {
				background-image: url('../images/champagne.png');
				width: 41px;
				height: 48px;
				margin-left: rem(20px);
			}
		}
		span {
			display: block;
			font-style: italic;
			@include fontsize-rem(18px);
			@include semibold;
		}	
	}
}
.os-share-widget-interface {
	text-align: center;
	.share-provider {
		margin: rem(0 5px);
	}
}

.node-type-news {
	.frame-content {
		img {
			margin: rem(15px 0);
		}
	}
}

.view-accommodations {
	.views-row {
		width: 25%;
		float: left;
		padding: rem(0 15px);
	}
}

.field-label-inline {
	.field-label,
	.field-items {
		display: table-cell;
		float: none;
		vertical-align: text-bottom;
	}
	.field-label {
		color: #01a1ba;
	}
}